.lamp {
  position: absolute;
  top: 0;
  left: calc(50% - 251px);
  background: radial-gradient(
      50% 50%at 50% 50%,
      rgba(119, 186, 234, 0.1),
      transparent
    ),
    radial-gradient(
      50% 50%at 50% 50%,
      rgba(251, 0, 196, 0) 3.49%,
      rgba(119, 186, 234, 0) 7.6%,
      rgba(253, 0, 197, 0) 10.46%,
      rgba(119, 186, 234, 0) 14.46%,
      rgba(255, 0, 199, 0) 18.56%,
      rgba(3, 0, 3, 0) 19.53%,
      transparent 79.82%,
      rgba(246, 0, 192, 0) 81.08%,
      rgba(119, 186, 234, 0) 84.04%,
      rgba(247, 0, 193, 0) 86.61%,
      rgba(119, 186, 234, 0) 91.01%,
      rgba(249, 0, 194, 0) 95.16%,
      rgba(119, 186, 234, 0) 98.6%
    );
  width: 31.38rem;
  height: 48.69rem;
  overflow: hidden;
}
.addAmm,
.solUsdc {
  position: relative;
  font-weight: 500;
}
.solUsdc {
  display: flex;
  align-items: center;
  width: 6.94rem;
  height: 2.19rem;
  flex-shrink: 0;
}
.solana2Icon {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
}
.addAmmParent {
  position: absolute;
  top: 1.38rem;
  left: 2.13rem;
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-400);
  box-shadow: 0 0 5px rgba(217, 248, 255, 0.25);
  width: 26.25rem;
  height: 3.13rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-27xl);
  font-size: var(--font-size-xl);
  color: var(--color-lightcyan-100);
}
.balance11366987,
.balance113669871 {
  position: absolute;
  top: 6.25rem;
  left: calc(50% - 212px);
  font-weight: 500;
}
.balance113669871 {
  top: 15.94rem;
}
.div,
.sol {
  font-weight: 500;
}
.div {
  position: absolute;
  top: 3.13rem;
  left: calc(50% + 114px);
}
.sol {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.25rem;
  height: 1.81rem;
  flex-shrink: 0;
}
.addammpopupChild,
.per1,
.solana2Parent {
  position: absolute;
  border-radius: var(--br-6xl);
}
.solana2Parent {
  top: 0.69rem;
  left: 1.69rem;
  background-color: var(--color-gray-700);
  box-shadow: 0 0 5px rgba(217, 248, 255, 0.25);
  width: 7.75rem;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-lightcyan-100);
}
.addammpopupChild,
.per1 {
  overflow: hidden;
}
.per1 {
  top: 7.75rem;
  left: 2.13rem;
  background-color: var(--color-darkslategray-100);
  box-shadow: 0 0 5px rgba(217, 248, 255, 0.5);
  width: 26.25rem;
  height: 4.44rem;
}
.addammpopupChild {
  border: 1px solid var(--color-lightcyan-400);
  background-color: transparent;
  top: 8.25rem;
  left: 14.69rem;
  box-sizing: border-box;
  width: 12.5rem;
  height: 2.5rem;
  color: #D9F8FF;
  font-size: 15px;
  padding: var(--padding-3xs);
}
.addammpopupChild:hover {
  border: 1px solid var(--color-lightcyan-100);
  box-sizing: border-box;
}
.addammpopupChild:focus {
  border-radius: var(--br-xl);
  border: 1px solid var(--color-lightcyan-100);
  box-sizing: border-box;
  box-shadow: 0 0 4px #d9f8ff;
}
.max {
  position: absolute;
  top: 0.25rem;
  left: calc(50% - 28px);
  font-size: var(--tittle-16-m-size);
  font-weight: 500;
  font-family: var(--tittle-16-m);
  color: var(--color1);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.75rem;
  height: 1.44rem;
}
.maxbutton,
.maxbutton1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-darkslategray-100);
  position: absolute;
  top: 13.31rem;
  left: calc(50% + 112px);
  border-radius: var(--br-mini);
  box-shadow: 0 0 5px #d9f8ff;
  width: 5.25rem;
  height: 2.19rem;
  overflow: hidden;
}
.maxbutton:hover {
  box-shadow: 0 0 4px 1px #d9f8ff;
}
.maxbutton:active {
  background-color: var(--color-lightcyan-800);
}
.maxbutton1 {
  left: calc(50% + 14px);
}
.maxbutton1:hover {
  box-shadow: 0 0 4px 1px #d9f8ff;
}
.maxbutton1:active {
  background-color: var(--color-lightcyan-800);
}
.addammpopupItem,
.per11 {
  position: absolute;
  border-radius: var(--br-6xl);
  overflow: hidden;
}
.per11 {
  top: 17.69rem;
  left: 2.13rem;
  background-color: var(--color-darkslategray-100);
  box-shadow: 0 0 5px rgba(217, 248, 255, 0.5);
  width: 26.25rem;
  height: 4.44rem;
}
.addammpopupItem {
  border: 1px solid var(--color-lightcyan-400);
  background-color: transparent;
  top: 18.19rem;
  left: 14.69rem;
  box-sizing: border-box;
  width: 12.5rem;
  height: 2.5rem;
  color: #D9F8FF;
  font-size: 15px;
  padding: var(--padding-3xs);
}
.addammpopupItem:hover {
  border: 1px solid var(--color-lightcyan-100);
  box-sizing: border-box;
}
.addammpopupItem:focus {
  border-radius: var(--br-xl);
  border: 1px solid var(--color-lightcyan-100);
  box-sizing: border-box;
  box-shadow: 0 0 4px #d9f8ff;
}
.max2 {
  position: absolute;
  top: 0.25rem;
  left: calc(50% - 28px);
  font-size: var(--tittle-16-m-size);
  font-family: var(--tittle-16-m);
  color: var(--color1);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.75rem;
  height: 1.44rem;
}
.maxbutton2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-darkslategray-100);
  top: 23.25rem;
  left: calc(50% + 112px);
  border-radius: var(--br-mini);
  box-shadow: 0 0 5px #d9f8ff;
  width: 5.25rem;
  height: 2.19rem;
}
.maxbutton2:hover {
  box-shadow: 0 0 4px 1px #d9f8ff;
}
.maxbutton2:active {
  background-color: var(--color-lightcyan-800);
}
.maxbutton2,
.maxbutton3,
.vectorIcon {
  position: absolute;
  overflow: hidden;
}
.maxbutton3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-darkslategray-100);
  top: 23.25rem;
  left: calc(50% + 14px);
  border-radius: var(--br-mini);
  box-shadow: 0 0 5px #d9f8ff;
  width: 5.25rem;
  height: 2.19rem;
}
.maxbutton3:hover {
  box-shadow: 0 0 4px 1px #d9f8ff;
}
.maxbutton3:active {
  background-color: var(--color-lightcyan-800);
}
.vectorIcon {
  height: 87.51%;
  width: 90.63%;
  top: 6.24%;
  right: 3.12%;
  bottom: 6.25%;
  left: 6.25%;
  max-width: 100%;
  max-height: 100%;
}
.plusicon,
.refreshbutton {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
}
.refreshbutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 5.63rem;
  left: 25.44rem;
}
.plusicon {
  top: 14.19rem;
  left: 2.44rem;
}
.sol216804 {
  position: absolute;
  top: 22.94rem;
  left: calc(50% - 207px);
  font-weight: 500;
}
.changeper,
.vectorIcon1 {
  position: absolute;
  overflow: hidden;
}
.vectorIcon1 {
  height: 100.01%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: -0.01%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.changeper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 22.94rem;
  left: 12.81rem;
  width: 1.5rem;
  height: 1.5rem;
}
.addLiquidity {
  position: relative;
  font-size: var(--font-size-3xl);
  font-weight: 500;
  font-family: var(--tittle-16-m);
  color: var(--color-lightcyan-100);
  text-align: left;
}
.createPositionButton {
  cursor: pointer;
  border: 1px solid var(--color-lightcyan-700);
  padding: 0 var(--padding-xs);
  background-color: var(--color-darkslategray-100);
  position: absolute;
  top: 34.56rem;
  left: 2.13rem;
  border-radius: var(--br-6xl);
  box-sizing: border-box;
  width: 26.25rem;
  height: 3.44rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.createPositionButton:hover {
  border: 1px solid var(--color-lightcyan-600);
  box-sizing: border-box;
  box-shadow: -1px -1px 4px 1px rgba(217, 248, 255, 0.5),
    1px 1px 4px 1px rgba(217, 248, 255, 0.5);
}
.createPositionButton:active {
  background-color: var(--color-lightcyan-500);
  border: 1px solid var(--color-slategray-400);
  box-sizing: border-box;
}
.base {
  margin: 0;
}
.basePoolLiquidityContainer,
.sol503295635RayContainer {
  position: relative;
  display: inline-block;
  width: 11.38rem;
  height: 5.81rem;
  flex-shrink: 0;
}
.sol503295635RayContainer {
  font-weight: 500;
  color: var(--color-slategray-100);
  text-align: right;
}
.details {
  position: absolute;
  top: 27.06rem;
  left: 2.13rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-33xl);
  font-size: var(--tittle-16-m-size);
  color: var(--color-lightcyan-100);
}
.addammpopup {
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--color-gray-600);
  box-shadow: 0 0 20px 1px rgba(217, 248, 255, 0.25);
  width: 31.38rem;
  height: 39.56rem;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-slategray-100);
  font-family: var(--tittle-16-m);
}
