.disconnectSettingChild {
  position: absolute;
  top: 0;
  left: calc(50% - 205.5px);
  background: radial-gradient(
      50% 50%at 50% 50%,
      rgba(119, 186, 234, 0.1),
      transparent
    ),
    radial-gradient(
      50% 50%at 50% 50%,
      rgba(251, 0, 196, 0) 3.49%,
      rgba(119, 186, 234, 0) 7.6%,
      rgba(253, 0, 197, 0) 10.46%,
      rgba(119, 186, 234, 0) 14.46%,
      rgba(255, 0, 199, 0) 18.56%,
      rgba(3, 0, 3, 0) 19.53%,
      transparent 79.82%,
      rgba(246, 0, 192, 0) 81.08%,
      rgba(119, 186, 234, 0) 84.04%,
      rgba(247, 0, 193, 0) 86.61%,
      rgba(119, 186, 234, 0) 91.01%,
      rgba(249, 0, 194, 0) 95.16%,
      rgba(119, 186, 234, 0) 98.6%
    );
  width: 25.69rem;
  height: 11.25rem;
  overflow: hidden;
}
.disconnectWallet {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 99.5px);
  font-size: var(--font-size-3xl);
  
  font-family: var(--tittle-16-m);
  color: var(--color-lightcyan-100);
  text-align: left;
  display: inline-block;
  width: 12.5rem;
  height: 2.19rem;
}
.disconnectWalletWrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-21xl) var(--br-21xl) 0 0;
  width: 25.69rem;
  height: 3.75rem;
  overflow: hidden;
}
.copyAddressWalletWrapper:hover,
.disconnectWalletWrapper:hover,
.openWalletInExplorerWrapper:hover {
  background-color: var(--color-lightcyan-900);
  border-radius: 0;
}
.openWalletIn {
  position: absolute;
  top: calc(50% - 18px);
  left: calc(50% - 131.5px);
  font-size: var(--font-size-3xl);
  
  font-family: var(--tittle-16-m);
  color: var(--color-lightcyan-100);
  text-align: left;
  display: inline-block;
  width: 16.44rem;
  height: 2.19rem;
}
.openWalletInExplorerWrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 3.75rem;
  left: 0;
  width: 25.69rem;
  height: 3.75rem;
  overflow: hidden;
}
.copyAddressWallet {
  position: absolute;
  top: calc(50% - 18px);
  left: calc(50% - 111.5px);
  font-size: var(--font-size-3xl);
  
  font-family: var(--tittle-16-m);
  color: var(--color-lightcyan-100);
  text-align: left;
  display: inline-block;
  width: 13.94rem;
  height: 2.19rem;
}
.copyAddressWalletWrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 7.5rem;
  left: 0;
  border-radius: 0 0 var(--br-21xl) var(--br-21xl);
  width: 25.69rem;
  height: 3.75rem;
  overflow: hidden;
}
.disconnectSettingInner,
.disconnectSettingItem {
  position: absolute;
  top: 3.72rem;
  left: -0.03rem;
  border-top: 1px solid var(--color-darkslategray-300);
  box-sizing: border-box;
  width: 25.75rem;
  height: 0.06rem;
}
.disconnectSettingInner {
  top: 7.47rem;
}
.disconnectSetting {
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--color-gray-600);
  box-shadow: 0 0 20px 1px rgba(217, 248, 255, 0.25);
  border: 1px solid var(--color-lightcyan-1000);
  box-sizing: border-box;
  width: 25.69rem;
  height: 11.25rem;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}
