.lamp {
  position: absolute;
  top: 0;
  left: calc(50% - 251px);
  background: radial-gradient(
      50% 50%at 50% 50%,
      rgba(119, 186, 234, 0.1),
      transparent
    ),
    radial-gradient(
      50% 50%at 50% 50%,
      rgba(251, 0, 196, 0) 3.49%,
      rgba(119, 186, 234, 0) 7.6%,
      rgba(253, 0, 197, 0) 10.46%,
      rgba(119, 186, 234, 0) 14.46%,
      rgba(255, 0, 199, 0) 18.56%,
      rgba(3, 0, 3, 0) 19.53%,
      transparent 79.82%,
      rgba(246, 0, 192, 0) 81.08%,
      rgba(119, 186, 234, 0) 84.04%,
      rgba(247, 0, 193, 0) 86.61%,
      rgba(119, 186, 234, 0) 91.01%,
      rgba(249, 0, 194, 0) 95.16%,
      rgba(119, 186, 234, 0) 98.6%
    );
  width: 31.38rem;
  height: 48.69rem;
  overflow: hidden;
}
.sol,
.withdraw {
  position: relative;
  font-weight: 500;
}
.sol {
  display: flex;
  align-items: center;
  width: 3.63rem;
  height: 2.19rem;
  flex-shrink: 0;
}
.solana2Icon {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
}
.withdrawParent {
  position: absolute;
  top: 1.38rem;
  left: 2.13rem;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-600);
  box-shadow: 0 0 5px rgba(217, 248, 255, 0.25);
  width: 26.25rem;
  height: 3.13rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-65xl);
  font-size: var(--font-size-3xl);
  color: var(--color-lightcyan-100);
}
.balance11366987,
.div {
  position: absolute;
  font-weight: 500;
}
.balance11366987 {
  top: 6.25rem;
  left: 2.44rem;
}
.div {
  top: 3.13rem;
  left: calc(50% + 114px);
}
.sol1,
.solana2Parent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sol1 {
  position: relative;
  font-weight: 500;
  width: 4.25rem;
  height: 1.81rem;
  flex-shrink: 0;
}
.solana2Parent {
  position: absolute;
  top: 0.69rem;
  left: 1.69rem;
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-700);
  box-shadow: 0 0 5px rgba(217, 248, 255, 0.25);
  width: 7.75rem;
  height: 2.5rem;
  flex-direction: row;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-lightcyan-100);
}
.lendWithdrawpopupChild,
.per1 {
  position: absolute;
  overflow: hidden;
}
.per1 {
  top: 7.75rem;
  left: 2.13rem;
  border-radius: var(--br-xl);
  background-color: var(--color-darkslategray-100);
  box-shadow: 0 0 5px rgba(217, 248, 255, 0.5);
  width: 26.25rem;
  height: 4.44rem;
}
.lendWithdrawpopupChild {
  border: 1px solid var(--color-lightcyan-400);
  background-color: transparent;
  top: 8.25rem;
  left: 14.69rem;
  border-radius: var(--br-6xl);
  box-sizing: border-box;
  width: 12.5rem;
  height: 2.5rem;
  color: #D9F8FF;
  font-size: 22;
}
.lendWithdrawpopupChild:hover {
  border: 1px solid var(--color-lightcyan-100);
  box-sizing: border-box;
}
.lendWithdrawpopupChild:focus {
  border-radius: var(--br-xl);
  border: 1px solid var(--color-lightcyan-100);
  box-sizing: border-box;
  box-shadow: 0 0 4px #d9f8ff;
}
.max {
  position: absolute;
  top: 0.25rem;
  left: calc(50% - 28px);
  font-size: var(--tittle-16-m-size);
  font-weight: 500;
  font-family: var(--tittle-16-m);
  color: var(--color1);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.75rem;
  height: 1.44rem;
}
.maxbutton,
.maxbutton1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-darkslategray-100);
  position: absolute;
  top: 13.31rem;
  left: 22.69rem;
  border-radius: var(--br-mini);
  box-shadow: 0 0 5px #d9f8ff;
  width: 5.25rem;
  height: 2.19rem;
}
.maxbutton:hover {
  box-shadow: 0 0 4px 1px #d9f8ff;
}
.maxbutton:active {
  background-color: var(--color-lightcyan-800);
}
.maxbutton1 {
  left: 16.56rem;
}
.maxbutton1:hover {
  box-shadow: 0 0 4px 1px #d9f8ff;
}
.maxbutton1:active {
  background-color: var(--color-lightcyan-800);
}
.div1 {
  position: absolute;
  top: 13.13rem;
  left: 2.75rem;
  font-weight: 500;
}
.withdraw1 {
  position: relative;
  font-size: var(--font-size-3xl);
  font-weight: 500;
  font-family: var(--tittle-16-m);
  color: var(--color-lightcyan-100);
  text-align: left;
}
.createPositionButton {
  cursor: pointer;
  border: 1px solid var(--color-lightcyan-700);
  padding: 0 var(--padding-xs);
  background-color: var(--color-darkslategray-100);
  position: absolute;
  top: 23.94rem;
  left: 2.13rem;
  border-radius: var(--br-xl);
  box-sizing: border-box;
  width: 26.25rem;
  height: 3.44rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.createPositionButton:hover {
  border: 1px solid var(--color-lightcyan-600);
  box-sizing: border-box;
  box-shadow: -1px -1px 4px 1px rgba(217, 248, 255, 0.5),
    1px 1px 4px 1px rgba(217, 248, 255, 0.5);
}
.createPositionButton:active {
  background-color: var(--color-lightcyan-500);
  border: 1px solid var(--color-slategray-400);
  box-sizing: border-box;
}
.price {
  margin: 0;
}
.priceUserBorrowContainer,
.to531782Container {
  position: relative;
  display: inline-block;
  width: 11.38rem;
  height: 5.81rem;
  flex-shrink: 0;
}
.to531782Container {
  font-weight: 500;
  color: var(--color-slategray-100);
  white-space: pre-wrap;
  text-align: right;
}
.details,
.inputAmountYou {
  position: absolute;
  font-size: var(--tittle-16-m-size);
}
.details {
  top: 17.25rem;
  left: 2.13rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-33xl);
  color: var(--color-lightcyan-100);
}
.inputAmountYou {
  top: 4.94rem;
  left: 2.44rem;
  font-weight: 500;
  display: inline-block;
  width: 18.81rem;
}
.lendWithdrawpopup {
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--color-gray-600);
  box-shadow: 0 0 20px 1px rgba(217, 248, 255, 0.25);
  width: 30.63rem;
  height: 29.13rem;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-slategray-100);
  font-family: var(--tittle-16-m);
}
