.marketAddChild {
  border: 1px solid var(--color-lightcyan-400);
  font-family: var(--tittle-16-m);
  font-size: 16;
  background-color: transparent;
  position: absolute;
  top: 3.63rem;
  left: 1.44rem;
  border-radius: var(--br-mini);
  box-sizing: border-box;
  width: 26.25rem;
  height: 2.5rem;
  overflow: hidden;
  color: D9F8FF;
}
.marketAddChild:hover {
  border: 1px solid var(--color-lightcyan-100);
  box-sizing: border-box;
}
.marketAddChild:focus {
  border-radius: var(--br-xl);
  border: 1px solid var(--color-lightcyan-100);
  box-sizing: border-box;
  box-shadow: 0 0 4px #d9f8ff;
}
.marketAddItem {
  border: 1px solid var(--color-lightcyan-400);
  font-family: var(--tittle-16-m);
  font-size: 16;
  background-color: transparent;
  position: absolute;
  top: 7.19rem;
  left: 15.19rem;
  border-radius: var(--br-mini);
  box-sizing: border-box;
  width: 12.5rem;
  height: 2.5rem;
  overflow: hidden;
  color: D9F8FF;
}
.marketAddItem:focus {
  border-radius: var(--br-xl);
}
.marketAddInner {
  border: 1px solid var(--color-lightcyan-400);
  font-family: var(--tittle-16-m);
  font-size: 16;
  background-color: transparent;
  position: absolute;
  top: 7.19rem;
  left: 1.44rem;
  border-radius: var(--br-mini);
  box-sizing: border-box;
  width: 12.5rem;
  height: 2.5rem;
  overflow: hidden;
  color: D9F8FF;
}
.marketAddInner:hover {
  border: 1px solid var(--color-lightcyan-100);
  box-sizing: border-box;
}
.marketAddInner:focus {
  border-radius: var(--br-xl);
  border: 1px solid var(--color-lightcyan-100);
  box-sizing: border-box;
  box-shadow: 0 0 4px #d9f8ff;
}
.vectorIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.circleXmarkRegular1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.31rem;
  left: 26.13rem;
  width: 1.25rem;
  height: 1.25rem;
  overflow: hidden;
}
.circleXmarkRegular1:hover {
  border-radius: var(--br-3xs);
  border: 1px solid #0095ff;
  box-sizing: border-box;
}
.importMarket {
  position: absolute;
  top: 1rem;
  left: 1.44rem;
  line-height: 1.71rem;
  display: inline-block;
  width: 8.94rem;
  height: 1.88rem;
}
.addMarket {
  position: relative;
  font-size: var(--tittle-16-m-size);
  font-family: var(--tittle-16-m);
  color: var(--color-lightcyan-100);
  text-align: left;
}
.createPositionButton {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-xs);
  background-color: var(--color-darkslategray-100);
  position: absolute;
  top: 10.56rem;
  left: 8rem;
  border-radius: var(--br-6xl);
  box-shadow: 0 0 5px #d9f8ff;
  width: 13.13rem;
  height: 2.19rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.createPositionButton:hover {
  border: 1px solid var(--color-lightcyan-600);
  box-sizing: border-box;
  box-shadow: -1px -1px 4px 1px rgba(217, 248, 255, 0.5),
    1px 1px 4px 1px rgba(217, 248, 255, 0.5);
}
.createPositionButton:active {
  background-color: var(--color-lightcyan-500);
  border: 1px solid var(--color-slategray-400);
  box-sizing: border-box;
}
.marketAdd {
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-600);
  box-shadow: 0 0 4px #88d6ff;
  width: 28.94rem;
  height: 14.63rem;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-slategray-100);
  font-family: var(--tittle-16-m);
}
