.lamp {
  position: absolute;
  top: 0;
  left: calc(50% - 250.5px);
  background: radial-gradient(
      50% 50%at 50% 50%,
      rgba(119, 186, 234, 0.1),
      transparent
    ),
    radial-gradient(
      50% 50%at 50% 50%,
      rgba(251, 0, 196, 0) 3.49%,
      rgba(119, 186, 234, 0) 7.6%,
      rgba(253, 0, 197, 0) 10.46%,
      rgba(119, 186, 234, 0) 14.46%,
      rgba(255, 0, 199, 0) 18.56%,
      rgba(3, 0, 3, 0) 19.53%,
      transparent 79.82%,
      rgba(246, 0, 192, 0) 81.08%,
      rgba(119, 186, 234, 0) 84.04%,
      rgba(247, 0, 193, 0) 86.61%,
      rgba(119, 186, 234, 0) 91.01%,
      rgba(249, 0, 194, 0) 95.16%,
      rgba(119, 186, 234, 0) 98.6%
    );
  width: 31.38rem;
  height: 48.69rem;
  overflow: hidden;
}
.send {
  position: relative;
  font-size: var(--font-size-3xl);
  
  font-family: var(--tittle-16-m);
  color: var(--color-lightcyan-100);
  text-align: left;
}
.createPositionButton {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-xs);
  background-color: var(--color-gray-600);
  position: absolute;
  top: 39.69rem;
  left: 2.13rem;
  border-radius: var(--br-6xl);
  box-shadow: 0 0 5px 1px #d9f8ff;
  width: 25rem;
  height: 3.44rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.createPositionButton:hover {
  border: 1px solid var(--color-lightcyan-600);
  box-sizing: border-box;
  box-shadow: -1px -1px 4px 1px rgba(217, 248, 255, 0.5),
    1px 1px 4px 1px rgba(217, 248, 255, 0.5);
}
.createPositionButton:active {
  background-color: var(--color-lightcyan-500);
  border: 1px solid var(--color-slategray-400);
  box-sizing: border-box;
}
.usturCssTier {
  position: relative;
  
}
.vectorIcon {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
}
.vectorWrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.sendParent,
.vectorWrapper:hover {
  background-color: var(--color-lightcyan-500);
  border-radius: var(--br-6xl);
}
.sendParent {
  position: absolute;
  top: 1.31rem;
  left: 2.56rem;
  background-color: var(--color-gray-600);
  box-shadow: 0 0 5px #d9f8ff;
  width: 25rem;
  height: 3.13rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-13xl);
}
.sendnftpopupChild {
  position: absolute;
  top: 4.81rem;
  left: calc(50% - 169.5px);
  width: 21.25rem;
  height: 21.25rem;
  overflow: hidden;
  object-fit: cover;
}
.fillAddressAnd {
  margin: 0;
}
.address,
.amount,
.fillAddressAndContainer {
  position: absolute;
  left: 0.88rem;
  line-height: 1.71rem;
  display: inline-block;
  height: 1.88rem;
}
.fillAddressAndContainer {
  top: 0.94rem;
  font-size: var(--font-size-lg);
  width: 20.94rem;
}
.address,
.amount {
  top: 3.56rem;
  width: 5.81rem;
}
.amount {
  top: 6.5rem;
}
.slipageButtons {
  border: 1px solid var(--color-lightcyan-400);
  background-color: transparent;
  position: absolute;
  top: 3.31rem;
  left: 6.44rem;
  border-radius: var(--br-6xl);
  box-sizing: border-box;
  width: 17.19rem;
  height: 2.44rem;
  color: D9F8FF;
  font-size: 25;
}
.slipageButtons:hover {
  gap: var(--gap-3xs);
  box-shadow: 0 0 4px 1px #d9f8ff;
  color: D9F8FF;
  font-size: 25;
}
.slipageButtons:focus {
  gap: var(--gap-3xs);
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px 2px #d9f8ff;
  color: D9F8FF;
  font-size: 25;
}
.max,
.maxbutton {
  position: absolute;
}
.max {
  top: 0.25rem;
  left: calc(50% - 28px);
  font-size: var(--tittle-16-m-size);
  
  font-family: var(--tittle-16-m);
  color: var(--color1);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.75rem;
  height: 1.44rem;
}
.maxbutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-darkslategray-100);
  top: 9.38rem;
  left: calc(50% + 94px);
  border-radius: var(--br-mini);
  box-shadow: 0 0 5px #d9f8ff;
  width: 5.25rem;
  height: 2.19rem;
  overflow: hidden;
}
.maxbutton:hover {
  box-shadow: 0 0 4px 1px #d9f8ff;
}
.maxbutton:active {
  background-color: var(--color-lightcyan-800);
}
.slipageButtons1 {
  border: 1px solid var(--color-lightcyan-400);
  background-color: transparent;
  position: absolute;
  top: 6.25rem;
  left: 14.56rem;
  border-radius: var(--br-6xl);
  box-sizing: border-box;
  width: 9.06rem;
  height: 2.44rem;
  color: D9F8FF;
  font-size: 25;
}
.slipageButtons1:hover {
  gap: var(--gap-3xs);
  box-shadow: 0 0 4px 1px #d9f8ff;
  color: D9F8FF;
  font-size: 25;
}
.slipageButtons1:focus {
  gap: var(--gap-3xs);
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px 2px #d9f8ff;
  color: D9F8FF;
  font-size: 25;
}
.fillAddressAndAmountForTrParent {
  position: absolute;
  top: 26.06rem;
  left: 2.13rem;
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-600);
  box-shadow: 0 0 5px rgba(217, 248, 255, 0.5);
  width: 25rem;
  height: 12.69rem;
  font-size: var(--font-size-mini);
  color: var(--color-slategray-100);
}
.sendnftpopup {
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--color-gray-600);
  box-shadow: 0 0 20px 1px rgba(217, 248, 255, 0.25);
  width: 30.31rem;
  height: 46.25rem;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-lightcyan-100);
  font-family: var(--tittle-16-m);
}
