.lamp {
  position: absolute;
  top: 0;
  left: calc(50% - 250.5px);
  background: radial-gradient(
      50% 50%at 50% 50%,
      rgba(119, 186, 234, 0.1),
      transparent
    ),
    radial-gradient(
      50% 50%at 50% 50%,
      rgba(251, 0, 196, 0) 3.49%,
      rgba(119, 186, 234, 0) 7.6%,
      rgba(253, 0, 197, 0) 10.46%,
      rgba(119, 186, 234, 0) 14.46%,
      rgba(255, 0, 199, 0) 18.56%,
      rgba(3, 0, 3, 0) 19.53%,
      transparent 79.82%,
      rgba(246, 0, 192, 0) 81.08%,
      rgba(119, 186, 234, 0) 84.04%,
      rgba(247, 0, 193, 0) 86.61%,
      rgba(119, 186, 234, 0) 91.01%,
      rgba(249, 0, 194, 0) 95.16%,
      rgba(119, 186, 234, 0) 98.6%
    );
  width: 31.38rem;
  height: 48.69rem;
  overflow: hidden;
}
.send {
  position: relative;
  font-size: var(--font-size-3xl);
  
  font-family: var(--tittle-16-m);
  color: var(--color-lightcyan-100);
  text-align: left;
}
.createPositionButton {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-xs);
  background-color: var(--color-gray-600);
  position: absolute;
  top: 22.69rem;
  left: 2.5rem;
  border-radius: var(--br-6xl);
  box-shadow: 0 0 5px 1px #d9f8ff;
  width: 25rem;
  height: 3.44rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.createPositionButton:hover {
  border: 1px solid var(--color-lightcyan-600);
  box-sizing: border-box;
  box-shadow: -1px -1px 4px 1px rgba(217, 248, 255, 0.5),
    1px 1px 4px 1px rgba(217, 248, 255, 0.5);
}
.createPositionButton:active {
  background-color: var(--color-lightcyan-500);
  border: 1px solid var(--color-slategray-400);
  box-sizing: border-box;
}
.domain {
  position: relative;
  
}
.vectorIcon {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
}
.vectorWrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.sendParent,
.vectorWrapper:hover {
  background-color: var(--color-lightcyan-500);
  border-radius: var(--br-6xl);
}
.sendParent {
  position: absolute;
  top: 2.56rem;
  left: 2.5rem;
  background-color: var(--color-gray-600);
  box-shadow: 0 0 5px #d9f8ff;
  width: 25rem;
  height: 3.13rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5.75rem;
}
.fillAddressFor {
  margin: 0;
}
.address,
.fillAddressForContainer {
  position: absolute;
  top: 0.94rem;
  left: 0.88rem;
  line-height: 1.71rem;
  display: inline-block;
  width: 20.94rem;
  height: 1.88rem;
}
.address {
  top: 3.56rem;
  font-size: var(--font-size-mini);
  width: 5.81rem;
}
.domaintransferinput {
  border: 1px solid var(--color-lightcyan-400);
  background-color: transparent;
  position: absolute;
  top: 3.31rem;
  left: 5.63rem;
  border-radius: var(--br-6xl);
  box-sizing: border-box;
  width: 16.94rem;
  height: 2.44rem;
  color: D9F8FF;
  font-size: 25;
}
.domaintransferinput:hover {
  gap: var(--gap-3xs);
  box-shadow: 0 0 4px 1px #d9f8ff;
  color: D9F8FF;
  font-size: 25;
}
.domaintransferinput:focus {
  gap: var(--gap-3xs);
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px 2px #d9f8ff;
  color: D9F8FF;
  font-size: 25;
}
.fillAddressForTransferParent {
  position: absolute;
  top: 13.38rem;
  left: 2.5rem;
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-600);
  box-shadow: 0 0 5px rgba(217, 248, 255, 0.5);
  width: 25rem;
  height: 6.94rem;
  font-size: var(--font-size-lg);
  color: var(--color-slategray-100);
}
.dexifisol {
  position: relative;
  display: inline-block;
  width: 9.56rem;
  flex-shrink: 0;
}
.dexifisolWrapper {
  position: absolute;
  top: 7.94rem;
  left: calc(50% - 202.5px);
  border-radius: 32px;
  box-shadow: 0 0 5px #d9f8ff;
  border: 0.5px solid var(--color-lightcyan-100);
  box-sizing: border-box;
  width: 12.19rem;
  height: 3.19rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-9xs) 0.88rem;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-mini);
}
.transferdomainpopup {
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--color-gray-600);
  box-shadow: 0 0 20px 1px rgba(217, 248, 255, 0.25);
  width: 30.31rem;
  height: 28.5rem;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-lightcyan-100);
  font-family: var(--tittle-16-m);
}
