.explorerSet {
  position: absolute;
  top: 1.94rem;
  left: 1.63rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8.31rem;
  height: 2.19rem;
}
.component1Child,
.component1Item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-600);
  width: 20.5rem;
  height: 2.81rem;
}
.component1Item {
  background-color: var(--color-darkslategray-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 0 20px #111b2a inset;
  border: 1px solid var(--color-lightcyan-100);
  box-sizing: border-box;
  width: 6.25rem;
}
.explorer,
.solanafm,
.solscan {
  position: absolute;
  top: 0.63rem;
  left: 0.69rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.81rem;
  height: 1.5rem;
}
.explorer,
.solanafm {
  left: 14.69rem;
  width: 5.06rem;
}
.solanafm {
  left: 7.06rem;
  width: 6.19rem;
}
.component1 {
  position: absolute;
  top: 4.69rem;
  left: 1.88rem;
  width: 21.81rem;
  height: 2.81rem;
  font-size: var(--font-size-xl);
}
.slippage {
  top: -0.06rem;
  left: 0;
  width: 5.63rem;
}
.custom,
.div,
.slippage {
  position: absolute;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.19rem;
}
.custom {
  top: 6.63rem;
  left: 0;
  width: 5.88rem;
}
.div {
  top: 6.75rem;
  left: 13.44rem;
  width: 1.56rem;
}
.instanceChild,
.instanceItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-600);
  width: 17.25rem;
  height: 2.69rem;
}
.instanceItem {
  background-color: var(--color-lightcyan-200);
  box-shadow: 0 0 5px #d9f8ff;
  border: 1px solid var(--color-lightcyan-100);
  box-sizing: border-box;
  width: 5.75rem;
}
.div1,
.div2 {
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.75rem;
}
.div1 {
  position: absolute;
  left: 0;
  height: 2.69rem;
}
.div2 {
  left: 11.5rem;
}
.div2,
.div3,
.rectangleParent {
  position: absolute;
  height: 2.69rem;
}
.div3 {
  top: 0;
  left: 5.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.75rem;
}
.rectangleParent {
  top: 3.06rem;
  left: 0.25rem;
  width: 17.25rem;
  font-size: var(--font-size-xl);
}
.slippagecustom {
  border: 1px solid var(--color1);
  background-color: transparent;
  position: absolute;
  top: 6.31rem;
  left: 6.31rem;
  border-radius: var(--br-xl);
  box-sizing: border-box;
  width: 6.69rem;
  height: 2.81rem;
  overflow: hidden;
  color: FFFFFF;
  font-size: 20;
}
.slippagecustom:focus {
  box-shadow: 0 0 5px 1px #fff;
}
.slippageParent {
  position: absolute;
  top: 8.63rem;
  left: 1.63rem;
  width: 21.88rem;
  height: 10.31rem;
  overflow: hidden;
}
.span {
  color: var(--color1);
}
.connected {
  color: var(--color-aquamarine);
}
.rpcTiritonConnectedContainer {
  position: absolute;
  top: 0.63rem;
  left: 0;
  font-size: var(--font-size-3xl);
  font-weight: 500;
  display: inline-block;
  width: 20.44rem;
  height: 2.19rem;
}
.frameChild {
  position: absolute;
  top: 0.03rem;
  left: -0.03rem;
  border-top: 1px solid var(--color-slategray-500);
  box-sizing: border-box;
  width: 23rem;
  height: 0.06rem;
}
.option {
  position: relative;
  font-weight: 500;
  background: conic-gradient(
    from 180deg at 50% 50%,
    #94e59f 0deg,
    #00fff0 33.72deg,
    #00ffe0 58.7deg,
    #dcdf57 118.35deg,
    #ba85d8 135deg,
    #bc8ad2 151.79deg,
    #b77de5 180deg,
    rgba(0, 240, 255, 0.88) 202.61deg,
    rgba(187, 79, 197, 0.74) 228.75deg,
    #20d7ff 317.86deg,
    #97eaa3 359.96deg,
    #94e59f 360deg,
    #00fff0 393.72deg
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.optionScaner,
.optionswitcherScaner {
  border-radius: var(--br-33xl);
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.optionswitcherScaner {
  position: absolute;
  top: -4.06rem;
  left: calc(50% - 164px);
  border-radius: var(--br-32xl);
  background-color: var(--color-gray-200);
  padding: var(--padding-10xs) var(--padding-7xs);
  justify-content: center;
  gap: var(--gap-10xs);
}
.custom1 {
  position: absolute;
  top: 2.38rem;
  left: 0;
  font-weight: 500;
  display: inline-block;
  width: 12.19rem;
  height: 1.25rem;
}
.switch {
  position: relative;
  font-size: var(--font-size-3xl);
  font-weight: 500;
  font-family: var(--tittle-16-m);
  color: var(--color-lightcyan-100);
  text-align: left;
}
.createPositionButton,
.rpcInput {
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
}
.createPositionButton {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-xs);
  background-color: var(--color-gray-600);
  top: 4.19rem;
  left: 14.69rem;
  border-radius: var(--br-6xl);
  box-shadow: 0 0 5px 1px #d9f8ff;
  width: 7.63rem;
  height: 2.44rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.createPositionButton:hover {
  border: 1px solid var(--color-lightcyan-600);
  box-sizing: border-box;
  box-shadow: -1px -1px 4px 1px rgba(217, 248, 255, 0.5),
    1px 1px 4px 1px rgba(217, 248, 255, 0.5);
}
.createPositionButton:active {
  background-color: var(--color-lightcyan-500);
  border: 1px solid var(--color-slategray-400);
  box-sizing: border-box;
}
.rpcInput {
  border: 1px solid var(--color1);
  background-color: transparent;
  top: 4.13rem;
  left: 0;
  border-radius: var(--br-xl);
  width: 13.31rem;
  height: 2.5rem;
  color: FFFFFF;
  font-size: 20;
}
.rpcTiritonConnectedParent {
  position: absolute;
  top: 18.94rem;
  left: calc(50% - 189px);
  width: 23rem;
  height: 9.31rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--tittle-16-m-size);
}
.walletSettingChild {
  position: absolute;
  top: 8.34rem;
  left: 1.59rem;
  border-top: 1px solid var(--color-slategray-500);
  box-sizing: border-box;
  width: 22.44rem;
  height: 0.06rem;
}
.vectorIcon {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
}
.vectorWrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.94rem;
  left: 23.31rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.vectorWrapper:hover {
  background-color: var(--color-lightcyan-500);
  border-radius: var(--br-6xl);
}
.walletSetting {
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-600);
  box-shadow: 0 0 20px 1px rgba(217, 248, 255, 0.25);
  width: 26.88rem;
  height: 28.13rem;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-lightcyan-100);
  font-family: var(--tittle-16-m);
}
