.lamp {
  pointer-events: none;
  position: absolute;
  top: -32.25rem;
  left: calc(50% - 850px);
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(119, 186, 234, 0.2),
    rgba(37, 58, 73, 0.06) 47.92%,
    transparent
  );
  width: 105.06rem;
  height: 112.5rem;
  overflow: hidden;
}
.p {
  margin: 0;
}
.marinadeMsol5373978Container1 {
  line-break: anywhere;
  width: 100%;
}
.marinadeMsol5373978Container {
  line-height: 1.71rem;

  display: flex;
  align-items: center;
  width: 8.38rem;
  height: 14.38rem;
}
.marinadeMsol53739782405Wrapper {
  width: 9.75rem;
  height: 14.38rem;
  text-align: right;
  color: var(--color-slategray-100);
}
.aprProviderTokenContainer {
  line-height: 1.71rem;

  display: flex;
  align-items: center;
  width: 8.38rem;
  height: 14.38rem;
}
.aprProviderTokenTvlTvlDWrapper {
  width: 9.75rem;
  height: 14.38rem;
}
.asset,
.sol1 {
  position: relative;
  line-height: 1.71rem;

  display: flex;
  align-items: center;
  width: 4.06rem;
  height: 2.19rem;
  flex-shrink: 0;
}
.sol1 {
  font-size: var(--font-size-3xl);
}
.marinadeLogoCopy1 {
  position: relative;
  width: 2.06rem;
  height: 2.06rem;
  object-fit: cover;
}
.assetParent {
  border-radius: var(--br-xl);
  background-color: var(--color-gray-600);
  width: 18.13rem;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  padding: 0 0 0 var(--padding-lg);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 2.19rem;
  font-size: var(--font-size-xl);
}
.stake {
  position: relative;
  font-size: var(--font-size-lg);

  font-family: var(--tittle-16-m);
  color: var(--color-lightcyan-100);
  text-align: left;
}
.createPositionButton {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-xs);
  background-color: var(--color-darkslategray-100);
  border-radius: var(--br-6xl);
  box-shadow: 0 0 5px #d9f8ff;
  width: 100%;
  height: 2.19rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  margin-top: 12px;
  justify-content: center;
}
.createPositionButton:hover {
  border: 1px solid var(--color-lightcyan-600);
  box-sizing: border-box;
  box-shadow: -1px -1px 4px 1px rgba(217, 248, 255, 0.5),
    1px 1px 4px 1px rgba(217, 248, 255, 0.5);
}
.createPositionButton:active {
  background-color: var(--color-lightcyan-500);
  border: 1px solid var(--color-slategray-400);
  box-sizing: border-box;
}
.exchangeRateValueContainer,
.sol090790Container {
  width: 8.56rem;
}
.sol090790Container {
  color: var(--color-slategray-100);
  text-align: right;
  width: 11.63rem;
}
.per1Child {
  border: 1px solid var(--color-lightcyan-400);
  background-color: transparent;
  border-radius: var(--br-6xl);
  box-sizing: border-box;
  width: 6.75rem;
  height: 2.19rem;
  overflow: hidden;
  color: #d9f8ff;
  font-size: 15px;
  padding: var(--padding-3xs);
}
.per1Child:hover {
  border: 1px solid var(--color-lightcyan-100);
  box-sizing: border-box;
}
.per1Child:focus {
  border-radius: var(--br-xl);
  border: 1px solid var(--color-lightcyan-100);
  box-sizing: border-box;
  box-shadow: 0 0 4px #d9f8ff;
}
.solana3Icon {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
}
.sol2,
.solana3Parent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sol2 {
  position: relative;

  width: 4.25rem;
  height: 1.81rem;
  flex-shrink: 0;
}
.solana3Parent {
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-700);
  box-shadow: 0 0 5px rgba(217, 248, 255, 0.25);
  width: 7.75rem;
  height: 2.19rem;
  flex-direction: row;
}
.balance11366987 {
  font-size: var(--font-size-sm);

  color: var(--color-slategray-100);
  text-align: left;
  margin-top: 5px;
}
.per1 {
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-100);
  width: 100%;
  padding: 5px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  margin-bottom: 10px;
}
.max {
  font-size: var(--tittle-16-m-size);

  font-family: var(--tittle-16-m);
  color: var(--color1);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.75rem;
  height: 1.44rem;
}
.maxbutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-darkslategray-100);
  border-radius: var(--br-mini);
  box-shadow: 0 0 5px #d9f8ff;
  width: 4.38rem;
  height: 1.88rem;
  overflow: hidden;
  margin-left: auto;
  margin-bottom: 10px;
  display: block;
}
.maxbutton:hover {
  box-shadow: 0 0 4px 1px #d9f8ff;
}
.maxbutton:active {
  background-color: var(--color-lightcyan-800);
}
.createPositionButtonParent {
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-600);
  box-shadow: 0 0 5px #fff;
  width: 100%;
  font-size: var(--font-size-sm);
  font-family: var(--tittle-16-m);
  margin-top: 15px;
  padding: 13px;
}
.marinadeLogoCopy1Parent,
.per1Item {
  border-radius: var(--br-6xl);
  height: 2.19rem;
}
.marinadeLogoCopy1Parent {
  background-color: var(--color-gray-700);
  box-shadow: 0 0 5px rgba(217, 248, 255, 0.25);
  width: 7.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.per1Item {
  border: 1px solid var(--color-lightcyan-400);
  background-color: transparent;
  box-sizing: border-box;
  width: 6.75rem;
  overflow: hidden;
  color: #d9f8ff;
  font-size: 15px;
  padding: var(--padding-3xs);
}
.per1Item:hover {
  border: 1px solid var(--color-lightcyan-100);
  box-sizing: border-box;
}
.per1Item:focus {
  border-radius: var(--br-xl);
  border: 1px solid var(--color-lightcyan-100);
  box-sizing: border-box;
  box-shadow: 0 0 4px #d9f8ff;
}
.createPositionButtonGroup,
.per11 {
  border-radius: var(--br-3xs);
}
.per11 {
  background-color: var(--color-darkslategray-100);
  width: 16.56rem;
  height: 4.06rem;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
}
.createPositionButtonGroup {
  background-color: var(--color-gray-600);
  box-shadow: 0 0 5px #fff;
  width: 18.13rem;
  height: 15.63rem;
  font-size: var(--font-size-sm);
  font-family: var(--tittle-16-m);
}
.listPanel {
  background-color: var(--color-gray-300);
  box-shadow: 0 0 4px #88d6ff;
  width: 20rem;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  padding: 15px 20px;
  font-size: var(--tittle-16-m-size);
  border-radius: 20px;
}
.vaultsParent {
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-600);
  width: 100%;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-7xs) 0 var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap-6xl);
  font-size: var(--font-size-xl);
  font-family: var(--tittle-16-m);
  margin-bottom: 10px;
}
.listOfAll {
  color: #d9f8ff;

  font-family: DM Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.3px; /* 75.833% */
  margin-bottom: 10px;
}
.noteThatUnstaking {
  line-height: 1.71rem;
  font-size: var(--font-size-lg);
  color: var(--color-slategray-100);
}
.solana4Icon {
  width: 3.75rem;
  height: 3.75rem;
  object-fit: cover;
}
.instanceChild,
.listPanel1 {
  background-color: var(--color-gray-600);
}
.listPanel1 {
  border-radius: var(--br-xl);
  box-shadow: 0 0 4px #88d6ff;
  width: 100%;
  overflow: hidden;
  font-size: var(--font-size-17xl);
  padding: 30px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  margin-bottom: 15px;
}
.instanceChild {
  border-radius: var(--br-6xl);
  width: 30.88rem;
}
.dexifiLogoIcon,
.instanceChild,
.instanceItem {
  height: 3.13rem;
}
.instanceItem {
  left: 12.75rem;
  border-radius: var(--br-6xl);
  background-color: var(--color-lightcyan-200);
  box-shadow: 0 0 5px #d9f8ff;
  border: 1px solid var(--color-lightcyan-100);
  box-sizing: border-box;
  width: 10.31rem;
}

.lamp1 {
  position: absolute;
  top: 0.5rem;
  left: calc(50% - 709px);
  width: 87.5rem;
  height: 75rem;
  overflow: hidden;

  pointer-events: none;
  top: -14.81rem;
  left: calc(50% - 550px);
  background: radial-gradient(
      50% 50%at 50% 50%,
      rgba(119, 206, 234, 0.2),
      transparent
    ),
    radial-gradient(
      50% 50%at 50% 50%,
      rgba(251, 0, 196, 0) 3.49%,
      rgba(119, 186, 234, 0) 7.6%,
      rgba(253, 0, 197, 0) 10.46%,
      rgba(119, 186, 234, 0) 14.46%,
      rgba(255, 0, 199, 0) 18.56%,
      rgba(3, 0, 3, 0) 19.53%,
      transparent 79.82%,
      rgba(246, 0, 192, 0) 81.08%,
      rgba(119, 186, 234, 0) 84.04%,
      rgba(247, 0, 193, 0) 86.61%,
      rgba(119, 186, 234, 0) 91.01%,
      rgba(249, 0, 194, 0) 95.16%,
      rgba(119, 186, 234, 0) 98.6%
    );
  width: 70.81rem;
  height: 18.81rem;
}

.instanceParent {
  width: 17.88rem;
  height: 4.44rem;
  overflow: hidden;
}

.v101202204202200UtcContainer {
  position: absolute;
  bottom: 0.38rem;
  left: 0;
  line-height: 1.71rem;
  font-weight: 100;
  font-family: var(--font-roboto);
  color: var(--color1);
  display: inline-block;
  width: 13.03rem;
}
.indexstakeliquiditystake {
  position: relative;
  background-color: var(--color-gray-600);
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  text-align: left;
  font-size: var(--tittle-16-m-size);
  color: var(--color-lightcyan-100);
  font-family: var(--tittle-16-m);
}
.liquidityPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 160px;
  margin: 0 auto;
  width: 90vw;
}
.statisticTitle {
  color: #D9F8FF;

  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 170.625% */
  margin: 0;
}

.statisticText {
  color: #757788;

  text-align: right;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 170.625% */
  margin: 0;
}