.lamp {
  position: absolute;
  top: -32.25rem;
  left: calc(50% - 850px);
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(119, 186, 234, 0.2),
    rgba(37, 58, 73, 0.06) 47.92%,
    transparent
  );
  width: 105.06rem;
  height: 112.5rem;
  overflow: hidden;
  pointer-events: none;
}
.prismatic {
  margin: 0;
}
.prismatic3000000000PrmContainer1 {
  line-break: anywhere;
  width: 100%;
}
.prismatic3000000000PrmContainer {
  line-height: 1.71rem;

  display: flex;
  align-items: center;
  width: 10.19rem;
  height: 13.63rem;
}
.prismatic3000000000PrmWrapper {
  width: 9.75rem;
  height: 15.75rem;
  text-align: right;
  color: var(--color-slategray-100);
}
.nameTotalRaiseContainer {
  line-height: 1.71rem;

  display: flex;
  align-items: center;
  width: 11.56rem;
  height: 11.88rem;
}
.nameTotalRaisePerPrmAllocWrapper {
  width: 12.38rem;
  height: 15.75rem;
}
.goToPool {
  position: relative;
  font-size: var(--font-size-3xl);
  font-family: var(--tittle-16-m);
  color: var(--color-lightcyan-100);
  text-align: left;
}
.poolButton {
  color: #d9f8ff;

  text-align: center;
  font-family: DM Sans;
  padding: 10px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 27.3px; /* 113.75% */
}
.createPositionButton {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-xs);
  background-color: var(--color-darkslategray-100);
  border-radius: var(--br-6xl);
  box-shadow: 0 0 5px #d9f8ff;
  width: 100%;
  height: 2.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.createPositionButton:hover {
  border: 1px solid var(--color-lightcyan-600);
  box-sizing: border-box;
  box-shadow: -1px -1px 4px 1px rgba(217, 248, 255, 0.5),
    1px 1px 4px 1px rgba(217, 248, 255, 0.5);
}
.createPositionButton:active {
  background-color: var(--color-lightcyan-500);
  border: 1px solid var(--color-slategray-400);
  box-sizing: border-box;
}
.ido {
  position: relative;
  line-height: 1.71rem;
}
.idoWrapper,
.prmWrapper {
  display: flex;
  flex-direction: row;

  align-items: flex-start;
  justify-content: flex-start;
}
.prmWrapper {
  font-size: var(--font-size-3xl);
}
.prismathic1Icon {
  position: relative;
  width: 4.19rem;
  height: 4.19rem;
  object-fit: cover;
}
.statisticTitle {
  color: #D9F8FF;

  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 170.625% */
  margin: 0;
}

.statisticText {
  color: #757788;

  text-align: right;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 170.625% */
  margin: 0;
}
.frameParent {
  border-radius: var(--br-xl);
  background-color: var(--color-gray-600);
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-7xs) 0 var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-6xl);
  font-size: var(--font-size-xl);
  font-family: var(--tittle-16-m);
}
.collectedTicketsStatusContainer {
  line-height: 1.71rem;
  display: inline-block;
  width: 8.38rem;
  height: 9.19rem;
}
.open1 {
  margin: 0;
  color: var(--color-aquamarine);
}
.open00Container {
  line-height: 1.71rem;
  text-align: right;
  display: inline-block;
  width: 8.38rem;
  height: 8.44rem;
  color: var(--color-slategray-100);
}
.collectedTicketsStatusRoiParent {
  border-radius: var(--br-xl);
  background-color: var(--color-gray-600);
  box-shadow: 0 0 5px rgba(217, 248, 255, 0.5);
  width: 100%;
  height: 10.44rem;
  font-size: var(--font-size-mini);
  font-family: var(--tittle-16-m);
  margin: 20px 0;
  padding: 15px;
}
.open {
  color: #88E8AD;
}
.listPanel {
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-300);
  box-shadow: 0 0 4px #88d6ff;
  width: 20rem;
  overflow: hidden;
  flex-shrink: 0;
  padding: 17px 20px;
  margin: 0 auto;
}
.liquidityPanelInner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.liquidityPanelInner {
  width: 100%;
  font-family: var(--font-helvetica);
}
.listOfIdo {
  line-height: 1.71rem;
  display: inline-block;
  height: 3.38rem;
}
.frameContainer,
.frameDiv,
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper {
  align-items: center;
  font-size: var(--font-size-21xl);
  color: var(--color-slategray-100);
}
.frameContainer,
.frameDiv {
  align-items: center;
  gap: var(--gap-11xs);
}

.frame,
.frameParent1,
.frameParent2,
.prmContainer {
  display: flex;
  justify-content: center;
}

.prmContainer {
  font-size: 40px;
}

.frame,
.frameParent1 {
  align-items: center;
}
.frame {
  flex-direction: column;

  color: var(--color-aqua-100);
}
.frameGroup {
  border-radius: var(--br-xl);
  background-color: var(--color-gray-800);
  box-shadow: 0 0 5px rgba(217, 248, 255, 0.5);
  display: flex;
  font-size: var(--font-size-lg);
  padding: 0 10px;
  height: 107px;
}
.statisticContainer {
  border-radius: 10px;
  background: #0e121c;
  display: flex;
}
.withStakingDxe {
  margin: 0;
  font-size: var(--font-size-5xl);
}
.withStakingDxeContainer {
  line-height: 1.71rem;
  color: var(--color-slategray-100);
  display: inline-block;
  font-size: var(--font-size-3xl);
}
.poolOverwiew {
  overflow: hidden;
}
.poolOverwiew {
  width: 82.69rem;
  height: 9.81rem;
}
.listPanel1 {
  border-radius: var(--br-xl);
  width: 100%;
  height: 8.63rem;
  font-size: var(--font-size-21xl);
  display: flex;
  justify-content: space-between;
}
.statistic {
  padding: 10px;
  text-align: center;
  justify-content: space-between;
}
.gap {
  gap: 15px;
}

.rectangleParent {
  border-radius: 25px;
  background: #111b2a;
  z-index: 2;
  display: flex;
  height: 3.13rem;
  text-align: center;
  font-size: var(--font-size-5xl);
  align-items: center;
  margin: 20px 0 40px;
}

.navActive {
  border: 1px solid var(--color-lightcyan-100);
  background-color: var(--color-lightcyan-200);
  border-radius: var(--br-6xl);
  box-shadow: 0 0 5px #d9f8ff;
  box-sizing: border-box;
}
.liquidityPanel {
  padding-top: 60px;
  width: 90vw;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lamp1 {
  position: absolute;
  pointer-events: none;
  top: -14.81rem;
  left: calc(50% - 550px);
  background: radial-gradient(
      50% 50%at 50% 50%,
      rgba(119, 206, 234, 0.2),
      transparent
    ),
    radial-gradient(
      50% 50%at 50% 50%,
      rgba(251, 0, 196, 0) 3.49%,
      rgba(119, 186, 234, 0) 7.6%,
      rgba(253, 0, 197, 0) 10.46%,
      rgba(119, 186, 234, 0) 14.46%,
      rgba(255, 0, 199, 0) 18.56%,
      rgba(3, 0, 3, 0) 19.53%,
      transparent 79.82%,
      rgba(246, 0, 192, 0) 81.08%,
      rgba(119, 186, 234, 0) 84.04%,
      rgba(247, 0, 193, 0) 86.61%,
      rgba(119, 186, 234, 0) 91.01%,
      rgba(249, 0, 194, 0) 95.16%,
      rgba(119, 186, 234, 0) 98.6%
    );
  width: 70.81rem;
  height: 18.81rem;
  overflow: hidden;
}

.v101202204202200UtcContainer {
  position: absolute;
  bottom: 20px;
  left: 0;
  line-height: 1.71rem;
  font-weight: 100;
  font-family: var(--font-roboto);
  color: var(--color1);
  display: inline-block;
  width: 13.03rem;
}
.indexido {
  position: relative;
  background-color: var(--color-gray-600);
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  text-align: left;
  font-size: var(--tittle-16-m-size);
  color: var(--color-lightcyan-100);
  font-family: var(--tittle-16-m);
}
