.lamp {
  position: absolute;
  overflow: hidden;
  width: 108.25rem;
  height: 63.63rem;
  z-index: 0;
}
.lamp {
  top: -31.5rem;
  left: calc(50% - 866px);
  background: radial-gradient(
      50% 50%at 50% 50%,
      rgba(119, 186, 234, 0.2),
      transparent
    ),
    radial-gradient(
      50% 50%at 50% 50%,
      rgba(251, 0, 196, 0) 3.49%,
      rgba(119, 186, 234, 0) 7.6%,
      rgba(253, 0, 197, 0) 10.46%,
      rgba(119, 186, 234, 0) 14.46%,
      rgba(255, 0, 199, 0) 18.56%,
      rgba(3, 0, 3, 0) 19.53%,
      transparent 79.82%,
      rgba(246, 0, 192, 0) 81.08%,
      rgba(119, 186, 234, 0) 84.04%,
      rgba(247, 0, 193, 0) 86.61%,
      rgba(119, 186, 234, 0) 91.01%,
      rgba(249, 0, 194, 0) 95.16%,
      rgba(119, 186, 234, 0) 98.6%
    );
}
.lamp1 {
  z-index: 0;
  position: absolute;
  overflow: hidden;
  top: -12.5rem;
  left: calc(50% - 1325.5px);
  background: radial-gradient(
      50% 50%at 50% 50%,
      rgba(119, 186, 234, 0.1),
      transparent
    ),
    radial-gradient(
      50% 50%at 50% 50%,
      rgba(251, 0, 196, 0) 3.49%,
      rgba(119, 186, 234, 0) 7.6%,
      rgba(253, 0, 197, 0) 10.46%,
      rgba(119, 186, 234, 0) 14.46%,
      rgba(255, 0, 199, 0) 18.56%,
      rgba(3, 0, 3, 0) 19.53%,
      transparent 79.82%,
      rgba(246, 0, 192, 0) 81.08%,
      rgba(119, 186, 234, 0) 84.04%,
      rgba(247, 0, 193, 0) 86.61%,
      rgba(119, 186, 234, 0) 91.01%,
      rgba(249, 0, 194, 0) 95.16%,
      rgba(119, 186, 234, 0) 98.6%
    );
}
.openOrderAccounts {

  
}
.b {
  font-size: var(--font-size-xl);
}
.openOrderAccountFoundParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-99xl);
  font-size: var(--tittle-16-m-size);
}
.netWorth {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 13px;
}

.head {
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 1fr 1fr 1fr 1.4fr 1fr;
  gap: 10px;
  border-bottom: 1px solid var(--color-lightcyan-300);
  padding-left: 40px;
}

.zafwws {
  text-decoration: underline;
  color: var(--color-lightcyan-100);
}



.checkBox {
  position: absolute;
  top: -0.44rem;
  left: 0;
}
.closeAccount1 {
  position: relative;
  font-size: var(--font-size-sm);
  
  font-family: var(--tittle-16-m);
  color: var(--color-lightcyan-100);
  text-align: left;
}
.closeAccount,
.closeAccount:hover {
  border: 1px solid var(--color-lightcyan-400);
  box-sizing: border-box;
}
.closeAccount {
  cursor: pointer;
  padding: var(--padding-3xs);
  background-color: var(--color-gray-600);
  border-radius: var(--br-6xl);
  box-shadow: 0 0 5px rgba(217, 248, 255, 0.5);
  width: 8.25rem;
  height: 1.38rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.closeAccount:hover {
  box-shadow: 0 0 4px 1px #d9f8ff;
}
.closeAccount:active {
  background-color: var(--color-lightcyan-200);
}
.serumlogoIcon {
  height: 22px;
  width: 20px;
  box-sizing: content-box;
  padding-right: 10px;
}
.solana2Icon,
.usdCoinUsdcLogo1Icon {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
}
.usdCoinUsdcLogo1Icon {
  left: 3.38rem;
}
.div, .divToken {
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 1fr 1fr 1fr 1.2fr 1fr;
  gap: 10px;
  color: var(--gray-dark-4);
  
  padding: 3px 0;
  padding-left: 40px;
  border-bottom: 1px solid var(--color-lightcyan-300);
}

.headParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.openOrderAccountInner {
  font-size: var(--tittle-16-m-size);
}
.closeSelectedAccounts1 {
  position: relative;
  font-size: var(--font-size-mini);
  
  font-family: var(--tittle-16-m);
  color: var(--color-lightcyan-100);
  text-align: left;
}
.closeSelectedAccounts,
.closeSelectedAccounts:hover {
  border: 1px solid var(--color-lightcyan-400);
  box-sizing: border-box;
}
.closeSelectedAccounts {
  cursor: pointer;
  padding: var(--padding-3xs);
  top: 1.31rem;
  left: calc(50% + 148.5px);
  border-radius: var(--br-6xl);
  box-shadow: 0 0 5px #d9f8ff;
  width: 13.31rem;
  height: 1.88rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.closeSelectedAccounts:hover {
  box-shadow: 0 0 4px 1px #d9f8ff;
}
.closeSelectedAccounts:active {
  background-color: var(--color-lightcyan-200);
}
.closeAllAccounts,
.closeSelectedAccounts {
  background-color: var(--color-gray-600);
}
.closeAllAccounts,
.closeAllAccounts:hover {
  border: 1px solid var(--color-lightcyan-400);
  box-sizing: border-box;
}
.closeAllAccounts {
  cursor: pointer;
  padding: var(--padding-3xs);
  top: 1.31rem;
  left: calc(50% + 377.5px);
  border-radius: var(--br-6xl);
  box-shadow: 0 0 5px #d9f8ff;
  width: 10.25rem;
  height: 1.88rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.closeAllAccounts:hover {
  box-shadow: 0 0 4px 1px #d9f8ff;
}
.closeAllAccounts:active {
  background-color: var(--color-lightcyan-200);
}
.openOrderAccount {
  border-radius: var(--br-xl);
  box-shadow: 0 0 4px #88d6ff;
  width: 100%;
  padding: 12px 46px;
  min-height: 240px;
  margin-bottom: 15px;
  background: radial-gradient( 50% 50%at 50% 50%, rgba(119, 186, 234, 0.1), transparent ), radial-gradient( 50% 50%at 50% 50%, rgba(251, 0, 196, 0) 3.49%, rgba(119, 186, 234, 0) 7.6%, rgba(253, 0, 197, 0) 10.46%, rgba(119, 186, 234, 0) 14.46%, rgba(255, 0, 199, 0) 18.56%, rgba(3, 0, 3, 0) 19.53%, transparent 79.82%, rgba(246, 0, 192, 0) 81.08%, rgba(119, 186, 234, 0) 84.04%, rgba(247, 0, 193, 0) 86.61%, rgba(119, 186, 234, 0) 91.01%, rgba(249, 0, 194, 0) 95.16%, rgba(119, 186, 234, 0) 98.6% );
}
.account1 {
  left: 20.69rem;
}
.account1,
.action1,
.balance1,
.type,
.value1 {
  position: absolute;
  top: 0;
  
}
.action1 {
  left: 61.06rem;
  display: inline-block;
  width: 4.94rem;
}
.balance1,
.type,
.value1 {
  left: 39.44rem;
}
.type,
.value1 {
  left: 49.19rem;
}
.type {
  left: 30.56rem;
}
.assocTokenAcc,
.stake4Stake4 {
  position: absolute;
  top: 0.19rem;
  left: 2.5rem;
  
}
.assocTokenAcc {
  top: 0.31rem;
  left: 30.63rem;
  font-size: var(--regular-12-size);
}
.div4,
.zafwws1 {
  top: 0.19rem;
  
}
.zafwws1 {
  position: absolute;
  left: 20.69rem;
  text-decoration: underline;
  color: var(--color-lightcyan-100);
}
.div4 {
  left: 49rem;
}
.div4,
.div5,
.item {
  position: absolute;
}
.div5 {
  top: 0.38rem;
  left: 39.5rem;
  
}
.item {
  top: 1.78rem;
  left: -0.03rem;
  border-top: 1px solid var(--color-slategray-300);
  box-sizing: border-box;
  width: 67.88rem;
  height: 0.06rem;
}
.closeAccount2,
.closeAccount2:hover {
  border: 1px solid var(--color-lightcyan-400);
  box-sizing: border-box;
}
.closeAccount2 {
  cursor: pointer;
  padding: var(--padding-3xs);
  background-color: var(--color-gray-600);
  position: absolute;
  top: 0.13rem;
  left: calc(50% + 402.5px);
  border-radius: var(--br-6xl);
  box-shadow: 0 0 5px rgba(217, 248, 255, 0.5);
  width: 8.25rem;
  height: 1.38rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.closeAccount2:hover {
  box-shadow: 0 0 4px 1px #d9f8ff;
}
.closeAccount2:active {
  background-color: var(--color-lightcyan-200);
}
.usdCoinUsdcLogo1Icon1 {
  position: absolute;
  top: 0.13rem;
  left: 13.38rem;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
}
.tokenAccountInner {
  overflow: hidden;
}
.tokenAccountFound {
  position: relative;
  
}
.netWorth1 {
  font-size: var(--font-size-xl);
}
.tokenAccount {
  padding: 12px 46px;
  min-height: 240px;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-600);
  box-shadow: 0 0 4px #88d6ff;

  font-size: var(--tittle-16-m-size);
}
.transactions {
  position: relative;
  font-size: var(--font-size-3xl);
  
  font-family: var(--tittle-16-m);
  color: var(--color-lightcyan-100);
  text-align: left;
}

.accounts,
.nftGallery {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nftGallery {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-5xl);
  font-family: var(--tittle-16-m);
  color: var(--color-lightcyan-100);
  text-align: center;
  width: 10.63rem;
  height: 3.13rem;
}

.transactions1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  left: 10.63rem;
  font-size: var(--font-size-5xl);
  font-family: var(--tittle-16-m);
  color: var(--color-lightcyan-100);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.openOrderAccountParent {
  width: 65.53vw;
  margin: 0 auto;
  padding-top: 60px;
  z-index: 999;
  position: relative;
}

.lamp3 {
  position: absolute;
}
.lamp3 {
  top: -14.81rem;
  left: calc(50% - 550px);
  background: radial-gradient(
      50% 50%at 50% 50%,
      rgba(119, 206, 234, 0.2),
      transparent
    ),
    radial-gradient(
      50% 50%at 50% 50%,
      rgba(251, 0, 196, 0) 3.49%,
      rgba(119, 186, 234, 0) 7.6%,
      rgba(253, 0, 197, 0) 10.46%,
      rgba(119, 186, 234, 0) 14.46%,
      rgba(255, 0, 199, 0) 18.56%,
      rgba(3, 0, 3, 0) 19.53%,
      transparent 79.82%,
      rgba(246, 0, 192, 0) 81.08%,
      rgba(119, 186, 234, 0) 84.04%,
      rgba(247, 0, 193, 0) 86.61%,
      rgba(119, 186, 234, 0) 91.01%,
      rgba(249, 0, 194, 0) 95.16%,
      rgba(119, 186, 234, 0) 98.6%
    );
  width: 70.81rem;
  height: 18.81rem;
  overflow: hidden;
}

.frameChild {
  position: absolute;
  top: 2.78rem;
  left: calc(50% - 468.5px);
  box-shadow: 0 0 2px #88d6ff;
  border-top: 1px solid var(--color-lightcyan-300);
  box-sizing: border-box;
  width: 7.44rem;
  height: 0.06rem;
}

.instanceParent {
  position: absolute;
  top: 0;
  right: 0;
}
.instanceParent {
  width: 17.88rem;
  height: 4.44rem;
  overflow: hidden;
}

.utc {
  margin: 0;
}
.v101202204202200UtcContainer {
  position: absolute;
  bottom: 0.38rem;
  left: 0;
  font-size: var(--tittle-16-m-size);
  line-height: 1.71rem;
  font-weight: 100;
  font-family: var(--font-roboto);
  color: var(--color1);
  display: inline-block;
  width: 13.03rem;
}
.dashboardaccounts {
  background-color: var(--color-gray-600);
  width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-lightcyan-100);
  font-family: var(--tittle-16-m);
  min-height: 100vh;
}


.rowGap {
  gap: 18px;
}

.spaceBeetwen {
  justify-content: space-between;
}

.typeText {
  font-size: 12px;
}