.lamp {
  position: absolute;
  top: -32.25rem;
  left: calc(50% - 850px);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(119, 186, 234, 0.2),
    transparent
  ),
  radial-gradient(
    50% 50% at 50% 50%,
    rgba(251, 0, 196, 0) 3.49%,
    rgba(119, 186, 234, 0) 7.6%,
    rgba(253, 0, 197, 0) 10.46%,
    rgba(119, 186, 234, 0) 14.46%,
    rgba(255, 0, 199, 0) 18.56%,
    rgba(3, 0, 3, 0) 19.53%,
    transparent 79.82%,
    rgba(246, 0, 192, 0) 81.08%,
    rgba(119, 186, 234, 0) 84.04%,
    rgba(247, 0, 193, 0) 86.61%,
    rgba(119, 186, 234, 0) 91.01%,
    rgba(249, 0, 194, 0) 95.16%,
    rgba(119, 186, 234, 0) 98.6%
  );
  width: 105.06rem;
  height: 63.63rem;
  overflow: hidden;
}

.listOfAll {
  position: absolute;
  top: 0.38rem;
  left: 0;
  font-size: var(--font-size-17xl);
  line-height: 1.71rem;
  font-weight: 500;
  text-align: left;
  display: inline-block;
  width: 41.5rem;
  height: 2.19rem;
}

.serachinput {
  border: 0.5px solid var(--color-lightcyan-100);
  font-family: var(--tittle-16-m);
  font-size: 15px;
  background-color: transparent;
  position: absolute;
  top: 5.31rem;
  left: 0.38rem;
  border-radius: var(--br-6xl);
  box-sizing: border-box;
  width: 20.31rem;
  height: 2.31rem;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: center;
  justify-content: center;
  color: #D9F8FF;
}

.serachinput:hover,
.serachinput:focus {
  box-shadow: 0 0 4px 1px #d9f8ff;
}

.earnYieldOn {
  margin: 0;
}

.earnYieldOnContainer {
  position: absolute;
  top: 2.94rem;
  left: 0;
  font-size: var(--font-size-lg);
  color: var(--color-slategray-100);
  text-align: left;
  display: inline-block;
  width: 26.25rem;
  height: 1.75rem;
}

.instanceChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-600);
  width: 15.94rem;
  height: 3rem;
}

.all,
.orca {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.81rem;
}

.all {
  position: absolute;
  top: 0;
  left: 0;
  height: 3rem;
}

.orca {
  left: 11.13rem;
}

.instanceItem,
.orca,
.raydium {
  position: absolute;
  top: 0;
  height: 3rem;
}

.raydium {
  left: 4.81rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.31rem;
}

.instanceItem {
  cursor: pointer;
  border: 1px solid var(--color-lightcyan-100);
  padding: 0;
  background-color: var(--color-lightcyan-200);
  left: 0;
  border-radius: var(--br-6xl);
  box-shadow: 0 0 5px #d9f8ff;
  box-sizing: border-box;
  width: 4.81rem;
}

.rectangleParent {
  position: absolute;
  top: 0.94rem;
  left: 39.5rem;
  width: 15.94rem;
  height: 3rem;
}

.instanceInner,
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-600);
  width: 15.31rem;
  height: 3rem;
}

.rectangleDiv {
  background-color: var(--color-darkslategray-400);
  box-shadow: 0 0 5px #d9f8ff;
  border: 1px solid var(--color-lightcyan-100);
  box-sizing: border-box;
  width: 4.56rem;
}

.all1,
.clmm {
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.all1 {
  position: absolute;
  left: 0;
  width: 4.56rem;
  height: 3rem;
}

.clmm {
  left: 9.63rem;
  width: 5.69rem;
}

.amm,
.clmm,
.rectangleGroup {
  position: absolute;
  height: 3rem;
}

.amm {
  top: 0;
  left: 4.56rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.06rem;
}

.rectangleGroup {
  top: 0.94rem;
  left: 56.25rem;
  width: 15.31rem;
}

.instanceChild1,
.instanceChild2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-600);
  width: 8rem;
  height: 3rem;
}

.instanceChild2 {
  background-color: var(--color-darkslategray-400);
  box-shadow: 0 0 5px #d9f8ff;
  border: 1px solid var(--color-lightcyan-100);
  box-sizing: border-box;
  width: 3.88rem;
}

.apr,
.tvl {
  position: absolute;
  top: 0.63rem;
  left: 0.44rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.13rem;
  height: 1.75rem;
}

.apr {
  left: 4.38rem;
}

.rectangleContainer {
  position: absolute;
  top: 0.94rem;
  left: 72.75rem;
  width: 8rem;
  height: 3rem;
}

.instanceChild3,
.instanceChild4 {
  position: absolute;
  top: 0;
  left: 0.19rem;
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-600);
  width: 51.19rem;
  height: 3rem;
}

.instanceChild4 {
  background-color: var(--color-lightcyan-200);
  box-shadow: 0 0 5px #d9f8ff;
  border: 1px solid var(--color-lightcyan-100);
  box-sizing: border-box;
  width: 3.56rem;
}

.solana1Icon {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
}

.sol,
.solana1Parent {
  display: flex;
  align-items: center;
}

.sol {
  position: relative;
  justify-content: center;
  width: 5rem;
  height: 3rem;
  flex-shrink: 0;
}

.solana1Parent {
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: row;
  padding: 0 0 0 var(--padding-lg);
  justify-content: flex-start;
}

.frameWrapper {
  position: absolute;
  top: 0;
  left: 3.75rem;
  width: 7.63rem;
  height: 3rem;
}

.all2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.75rem;
  height: 3rem;
  flex-shrink: 0;
}

.allWrapper,
.frameContainer {
  position: absolute;
  top: 0;
  left: 0;
}

.allWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.frameContainer {
  width: 3.75rem;
  height: 3rem;
}

.ethereumEthLogo1Icon {
  position: relative;
  width: 1.88rem;
  height: 1.88rem;
  object-fit: cover;
}

.groupDiv {
  position: absolute;
  top: 0;
  left: 11.38rem;
  width: 8rem;
  height: 3rem;
}

.lidoForSolanaLogo2Icon {
  position: relative;
  width: 2.44rem;
  height: 2.44rem;
  object-fit: cover;
}

.frameWrapper1 {
  position: absolute;
  top: 0;
  left: 42.81rem;
  width: 8.56rem;
  height: 3rem;
}

.marinadeLogoCopy1 {
  position: relative;
  width: 2.06rem;
  height: 2.06rem;
  object-fit: cover;
}

.frameWrapper2 {
  position: absolute;
  top: 0;
  left: 34.63rem;
  width: 8.19rem;
  height: 3rem;
}

.frameWrapper3 {
  top: 0;
  left: 27rem;
  width: 7.63rem;
}

.frameDiv,
.frameWrapper3,
.frameWrapper4 {
  position: absolute;
  height: 3rem;
}

.frameWrapper4 {
  top: 0;
  left: 19.38rem;
  width: 7.63rem;
}

.frameDiv {
  top: 4.69rem;
  left: 29.44rem;
  width: 51.38rem;
  color: var(--color1);
}

.lamp1,
.poolOverwiew {
  position: absolute;
  overflow: hidden;
}

.poolOverwiew {
  top: 1.44rem;
  left: 1.19rem;
  width: 82.69rem;
  height: 12.13rem;
}

.lamp1 {
  top: -0.12rem;
  left: calc(50% - 623.5px);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(119, 186, 234, 0.1),
    transparent
  ),
  radial-gradient(
    50% 50% at 50% 50%,
    rgba(251, 0, 196, 0) 3.49%,
    rgba(119, 186, 234, 0) 7.6%,
    rgba(253, 0, 197, 0) 10.46%,
    rgba(119, 186, 234, 0) 14.46%,
    rgba(255, 0, 199, 0) 18.56%,
    rgba(3, 0, 3, 0) 19.53%,
    transparent 79.82%,
    rgba(246, 0, 192, 0) 81.08%,
    rgba(119, 186, 234, 0) 84.04%,
    rgba(247, 0, 193, 0) 86.61%,
    rgba(119, 186, 234, 0) 91.01%,
    rgba(249, 0, 194, 0) 95.16%,
    rgba(119, 186, 234, 0) 98.6%
  );
  width: 77.94rem;
  height: 41.88rem;
}

.poolLiquidity,
.protocol {
  position: absolute;
  top: 2rem;
  text-transform: capitalize;
  font-weight: 500;
}

.protocol {
  left: 12.06rem;
  display: inline-block;
  width: 6rem;
}

.poolLiquidity {
  left: 35.06rem;
}

.protocolTvl {
  left: 21.5rem;
  font-weight: 500;
}

.fee,
.protocolTvl,
.volume {
  position: absolute;
  top: 2rem;
  text-transform: capitalize;
}

.volume {
  left: 46.75rem;
  font-weight: 500;
}

.fee {
  left: 56.88rem;
}

.apr1,
.fee,
.pool {
  font-weight: 500;
}

.apr1 {
  position: absolute;
  top: 2rem;
  left: 64.69rem;
  text-transform: uppercase;
}

.pool {
  top: 1.94rem;
  left: 0.63rem;
}

.pool,
.tab,
.tabChild {
  position: absolute;
}

.tabChild {
  top: 3.59rem;
  left: -0.03rem;
  border-top: 1px solid var(--color-lightcyan-300);
  box-sizing: border-box;
  width: 79rem;
  height: 0.06rem;
}

.tab {
  top: calc(50% - 365.5px);
  left: calc(50% - 631.5px);
  width: 78.94rem;
  height: 4rem;
  overflow: hidden;
}

.m {
  left: 35.06rem;
}

.m,
.orca1,
.solUsdc {
  position: absolute;
  top: 0.13rem;
  font-weight: 500;
}

.solUsdc {
  left: 0.5rem;
  font-size: var(--font-size-xl);
  color: var(--color-lightcyan-100);
}

.orca1 {
  left: 12.06rem;
  font-size: var(--font-size-lg);
  display: inline-block;
  width: 8.75rem;
  height: 1.31rem;
}

.frameChild {
  position: absolute;
  top: 7.34rem;
  left: -0.03rem;
  border-top: 1px solid var(--color-lightcyan-300);
  box-sizing: border-box;
  width: 78.69rem;
  height: 0.06rem;
}

.m1,
.m2 {
  top: 0.19rem;
}

.m1 {
  position: absolute;
  left: 47rem;
  font-weight: 500;
}

.m2 {
  left: 56.94rem;
}

.div,
.m2,
.m3 {
  position: absolute;
  font-weight: 500;
}

.div {
  top: 0.19rem;
  left: 64.56rem;
}

.m3 {
  top: 0;
  left: 21.56rem;
  font-size: var(--font-size-lg);
  display: inline-block;
  width: 7rem;
  height: 1.63rem;
}

.solana2Icon,
.usdCoinUsdcLogo1Icon1 {
  position: absolute;
  top: 2.19rem;
  left: 0.81rem;
  width: 1.88rem;
  height: 1.88rem;
  object-fit: cover;
}

.usdCoinUsdcLogo1Icon1 {
  left: 4.25rem;
}

.manage {
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 500;
  font-family: var(--tittle-16-m);
  color: var(--color-lightcyan-100);
  text-align: left;
}

.managePositionButton {
  cursor: pointer;
  border: 1px solid var(--color-lightcyan-700);
  padding: 0 var(--padding-4xs);
  background-color: var(--color-darkslategray-100);
  position: absolute;
  top: 0.31rem;
  left: 38.13rem;
  border-radius: var(--br-6xl);
  box-sizing: border-box;
  width: 5.06rem;
  height: 1.75rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.managePositionButton:hover {
  border: 1px solid var(--color-lightcyan-600);
  box-sizing: border-box;
  box-shadow: -1px -1px 4px 1px rgba(217, 248, 255, 0.5),
  1px 1px 4px 1px rgba(217, 248, 255, 0.5);
}

.managePositionButton:active {
  background-color: var(--color-lightcyan-500);
  border: 1px solid var(--color-slategray-400);
  box-sizing: border-box;
}

.apr108065,
.usdcPerSol {
  position: absolute;
  top: 0.56rem;
  font-weight: 500;
}

.usdcPerSol {
  left: 16.5rem;
  display: inline-block;
  width: 18rem;
}

.apr108065 {
  left: 8.75rem;
}

.circleXmarkRegular1Icon {
  position: relative;
  width: 1.56rem;
  height: 1.56rem;
  overflow: hidden;
  flex-shrink: 0;
}

.outOfRange {
  position: relative;
  font-weight: 500;
}

.circleXmarkRegular1Parent {
  position: absolute;
  top: 0.44rem;
  left: 0.69rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-firebrick-200);
}

.openPositions {
  position: absolute;
  top: 1.88rem;
  right: 0.63rem;
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-600);
  box-shadow: 0 0 4px #d9f8ff;
  width: 43.88rem;
  height: 2.38rem;
  overflow: hidden;
}

.circleCheckRegular1Parent {
  position: absolute;
  top: 0.44rem;
  left: 0.81rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-10xs);
  color: var(--color-mediumaquamarine);
}

.createPositionButton,
.openPositions1 {
  position: absolute;
  border-radius: var(--br-6xl);
  overflow: hidden;
}

.openPositions1 {
  top: 4.5rem;
  right: 0.63rem;
  background-color: var(--color-gray-600);
  box-shadow: 0 0 4px #d9f8ff;
  width: 43.88rem;
  height: 2.38rem;
}

.createPositionButton {
  cursor: pointer;
  border: 1px solid var(--color-lightcyan-700);
  padding: 0 var(--padding-xs);
  background-color: var(--color-darkslategray-100);
  top: 2.19rem;
  left: 19.06rem;
  box-sizing: border-box;
  width: 9.13rem;
  height: 1.88rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.createPositionButton:hover {
  border: 1px solid var(--color-lightcyan-600);
  box-sizing: border-box;
  box-shadow: -1px -1px 4px 1px rgba(217, 248, 255, 0.5),
  1px 1px 4px 1px rgba(217, 248, 255, 0.5);
}

.createPositionButton:active {
  background-color: var(--color-lightcyan-500);
  border: 1px solid var(--color-slategray-400);
  box-sizing: border-box;
}

.orcaaef56d302Icon {
  position: absolute;
  top: 0;
  left: 18.94rem;
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
}

.clmm1 {
  position: absolute;
  top: 2.25rem;
  left: 12.06rem;
  font-size: var(--font-size-lg);
  font-weight: 500;
  display: inline-block;
  width: 5rem;
  height: 1.31rem;
}

.mParent {
  position: relative;
  width: 78.94rem;
  height: 7.5rem;
}

.frameItem {
  position: absolute;
  top: 4.84rem;
  left: -0.03rem;
  border-top: 1px solid var(--color-lightcyan-300);
  box-sizing: border-box;
  width: 78.69rem;
  height: 0.06rem;
}

.raydiumRayCoin1Icon {
  position: absolute;
  top: 0;
  left: 18.94rem;
  width: 1.88rem;
  height: 1.88rem;
  object-fit: cover;
}

.createPositionButton1 {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-xs);
  background-color: var(--color-darkslategray-100);
  position: absolute;
  top: 0.25rem;
  left: 38.63rem;
  border-radius: var(--br-6xl);
  box-shadow: 0 0 5px #d9f8ff;
  width: 9.5rem;
  height: 1.88rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.createPositionButton1:hover {
  border: 1px solid var(--color-lightcyan-600);
  box-sizing: border-box;
  box-shadow: -1px -1px 4px 1px rgba(217, 248, 255, 0.5),
  1px 1px 4px 1px rgba(217, 248, 255, 0.5);
}

.createPositionButton1:active {
  background-color: var(--color-lightcyan-500);
  border: 1px solid var(--color-slategray-400);
  box-sizing: border-box;
}

.lpTokens,
.value,
.yourShare {
  position: absolute;
  top: 0.5rem;
  left: 1.31rem;
  font-weight: 500;
  display: inline-block;
  width: 12.56rem;
}

.lpTokens,
.yourShare {
  left: 13.88rem;
}

.yourShare {
  left: 27.75rem;
  width: 10.06rem;
}

.createPositionButton2,
.openPositions2 {
  position: absolute;
  border-radius: var(--br-6xl);
  overflow: hidden;
}

.openPositions2 {
  top: 2.06rem;
  right: 0.31rem;
  background-color: var(--color-gray-600);
  box-shadow: 0 0 4px #d9f8ff;
  width: 48.63rem;
  height: 2.38rem;
}

.createPositionButton2 {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-xs);
  background-color: var(--color-darkslategray-100);
  top: 2.31rem;
  left: 19.44rem;
  box-shadow: 0 0 5px #d9f8ff;
  width: 9.13rem;
  height: 1.88rem;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.createPositionButton2:hover {
  border: 1px solid var(--color-lightcyan-600);
  box-sizing: border-box;
  box-shadow: -1px -1px 4px 1px rgba(217, 248, 255, 0.5),
  1px 1px 4px 1px rgba(217, 248, 255, 0.5);
}

.createPositionButton2:active {
  background-color: var(--color-lightcyan-500);
  border: 1px solid var(--color-slategray-400);
  box-sizing: border-box;
}

.mGroup {
  position: relative;
  width: 78.94rem;
  height: 5rem;
}

.frameParent {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.scrollFrame {
  position: absolute;
  top: calc(50% - 304.5px);
  left: calc(50% - 631.5px);
  width: 78.94rem;
  height: 41.06rem;
  overflow-x: hidden;
  font-size: var(--tittle-16-m-size);
  color: var(--color-slategray-100);
}

.listPanel,
.poolList {
  position: absolute;
  border-radius: var(--br-21xl);
  overflow: hidden;
}

.poolList {
  top: 9.88rem;
  left: calc(50% - 661px);
  background-color: var(--color-gray-300);
  box-shadow: 0 0 5px 1px #d9f8ff;
  width: 82.06rem;
  height: 44.06rem;
  text-align: left;
}

.listPanel {
  top: 9.38rem;
  left: calc(50% - 675px);
  background-color: var(--color-gray-100);
  box-shadow: 0 0 4px #88d6ff;
  width: 84.38rem;
  height: 55.19rem;
}

.instanceChild5 {
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-600);
  width: 14.81rem;
}

.instanceChild5,
.myPositions,
.pools,
.rectangleButton {
  position: absolute;
  top: 0;
  height: 3.44rem;
}

.pools {
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.44rem;
}

.myPositions,
.rectangleButton {
  cursor: pointer;
}

.myPositions {
  text-decoration: none;
  left: 5.44rem;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9.38rem;
}

.rectangleButton {
  border: 1px solid var(--color-lightcyan-100);
  padding: 0;
  background-color: var(--color-lightcyan-200);
  left: 0;
  border-radius: var(--br-6xl);
  box-shadow: 0 0 5px #d9f8ff;
  box-sizing: border-box;
  width: 5.44rem;
}

.rectangleParent1 {
  position: absolute;
  top: 5rem;
  left: 35.63rem;
  width: 14.81rem;
  height: 3.44rem;
}

.liquidityPanel {
  position: absolute;
  top: 0;
  left: calc(50% - 700px);
  width: 87.5rem;
  height: 75rem;
  overflow: hidden;
}

.liquidityPanelWrapper {
  position: absolute;
  top: 0;
  left: calc(50% - 866px);
  width: 108.25rem;
  height: 75rem;
  overflow-x: auto;
}

.lamp2,
.swap {
  position: absolute;
}

.lamp2 {
  top: -14.81rem;
  left: calc(50% - 550px);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(119, 206, 234, 0.2),
    transparent
  ),
  radial-gradient(
    50% 50% at 50% 50%,
    rgba(251, 0, 196, 0) 3.49%,
    rgba(119, 186, 234, 0) 7.6%,
    rgba(253, 0, 197, 0) 10.46%,
    rgba(119, 186, 234, 0) 14.46%,
    rgba(255, 0, 199, 0) 18.56%,
    rgba(3, 0, 3, 0) 19.53%,
    transparent 79.82%,
    rgba(246, 0, 192, 0) 81.08%,
    rgba(119, 186, 234, 0) 84.04%,
    rgba(247, 0, 193, 0) 86.61%,
    rgba(119, 186, 234, 0) 91.01%,
    rgba(249, 0, 194, 0) 95.16%,
    rgba(119, 186, 234, 0) 98.6%
  );
  width: 70.81rem;
  height: 18.81rem;
  overflow: hidden;
}

.swap {
  text-decoration: none;
  top: 0.94rem;
  left: calc(50% - 318px);
  line-height: 1.71rem;
  width: 3.94rem;
  cursor: pointer;
}

.dao:hover,
.dashbord:hover,
.farm:hover,
.lend:hover,
.stake1:hover,
.stake:hover,
.swap:hover,
.trade:hover,
.yield:hover {
  color: var(--color-lightcyan-100);
}

.lend,
.swap,
.trade {
  color: inherit;
  display: inline-block;
}

.lend {
  text-decoration: none;
  position: absolute;
  top: 0.94rem;
  left: calc(50% - 128px);
  line-height: 1.71rem;
  width: 3.88rem;
  cursor: pointer;
}

.trade {
  left: calc(50% - 223px);
  width: 3.94rem;
}

.farm,
.stake,
.trade,
.yield {
  text-decoration: none;
  position: absolute;
  top: 0.94rem;
  line-height: 1.71rem;
  cursor: pointer;
}

.yield {
  left: calc(50% - 34px);
  color: var(--color-lightcyan-100);
  display: inline-block;
  width: 6.63rem;
}

.farm,
.stake {
  left: calc(50% + 120px);
  color: inherit;
}

.stake {
  left: calc(50% + 220px);
}

.frameInner {
  position: absolute;
  top: 2.78rem;
  left: calc(50% - 25.5px);
  box-shadow: 0 0 2px #88d6ff;
  border-top: 1px solid var(--color-lightcyan-300);
  box-sizing: border-box;
  width: 5.75rem;
  height: 0.06rem;
}

.dao,
.dashbord,
.stake1 {
  text-decoration: none;
  position: absolute;
  top: 0.94rem;
  line-height: 1.71rem;
  color: inherit;
  cursor: pointer;
}

.dashbord {
  left: calc(50% - 468px);
  display: inline-block;
  width: 7.38rem;
}

.dao,
.stake1 {
  left: calc(50% + 425px);
}

.dao {
  left: calc(50% + 316px);
  display: inline-block;
  width: 4.81rem;
}

.swapParent {
  position: absolute;
  top: 0.44rem;
  left: calc(50% - 566px);
  width: 59.38rem;
  height: 3.13rem;
  overflow: hidden;
}

.dexifiLogoIcon {
  position: absolute;
  top: 0.31rem;
  left: 0.63rem;
  width: 4.81rem;
  height: 3.69rem;
  object-fit: cover;
  cursor: pointer;
}

.connectWallet {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-lgi);
  font-family: var(--tittle-16-m);
  color: var(--color-lightcyan-100);
  text-align: left;
  display: inline-block;
}

.connectWalletWrapper {
  cursor: pointer;
  border: 1px solid var(--color-lightcyan-400);
  padding: var(--padding-8xs) var(--padding-5xl);
  background-color: var(--color-gray-600);
  position: absolute;
  top: 0.88rem;
  left: 4.38rem;
  border-radius: var(--br-23xl);
  box-shadow: 0 0 4px 1px rgba(217, 248, 255, 0.25);
  box-sizing: border-box;
  height: 2.56rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.connectWalletWrapper:hover {
  background-color: var(--color-lightcyan-500);
  box-shadow: 0 0 4px 3px rgba(217, 248, 255, 0.25);
}

.connectWalletWrapper:active {
  mix-blend-mode: luminosity;
  background-color: var(--color-lightcyan-400);
}

.vectorIcon,
.vectorIcon1 {
  position: absolute;
  top: calc(50% - 12.25px);
  left: calc(50% - 12.25px);
  width: 1.53rem;
  height: 1.53rem;
}

.vectorIcon1 {
  top: calc(50% - 4.25px);
  left: calc(50% - 4.25px);
  width: 0.53rem;
  height: 0.53rem;
}

.iconSettings {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 1.44rem;
  height: 1.44rem;
}

.iconSettingsWrapper {
  cursor: pointer;
  border: 1px solid var(--color-slategray-100);
  padding: var(--padding-4xs);
  background-color: var(--color-gray-600);
  position: absolute;
  top: 0.88rem;
  right: 14.56rem;
  border-radius: var(--br-23xl);
  box-shadow: 0 0 5px #d9f8ff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.iconSettingsWrapper:hover {
  background-color: var(--color-lightcyan-500);
}

.iconSettingsWrapper:active {
  mix-blend-mode: luminosity;
  background-color: var(--color-lightcyan-400);
}

.header,
.instanceParent {
  position: absolute;
  top: 0;
  right: 0;
}

.instanceParent {
  width: 17.88rem;
  height: 4.44rem;
  overflow: hidden;
}

.header {
  width: 100%;
  left: 0;
  background-color: var(--color-gray-500);
  height: 4.06rem;
  font-size: var(--font-size-5xl);
  color: var(--color-slategray-100);
  font-family: var(--font-helvetica);
}

.v101202204202200UtcContainer {
  position: absolute;
  bottom: 0.38rem;
  left: 0;
  font-size: var(--tittle-16-m-size);
  line-height: 1.71rem;
  font-weight: 100;
  font-family: var(--font-roboto);
  color: var(--color1);
  text-align: left;
  display: inline-block;
  width: 13.03rem;
}

.indexliquidity {
  position: relative;
  background-color: var(--color-gray-600);
  width: 100%;
  height: 75rem;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-lightcyan-100);
  font-family: var(--tittle-16-m);
}
