@font-face {
  font-family: Bitcheese;
  src: url('../public/fonts/Bitcheese.ttf');
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
}

.lamp,
.lamp1 {
  position: absolute;
  pointer-events: none;
  top: -32.25rem;
  left: calc(50% - 850px);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(119, 186, 234, 0.2),
    rgba(37, 58, 73, 0.06) 47.92%,
    transparent
  );
  width: 105.06rem;
  height: 112.5rem;
  overflow: hidden;
}

.lamp1 {
  top: -37.56rem;
  left: calc(50% - 263px);
  width: 32.38rem;
  height: 76.31rem;
  z-index: -2;
}

.swap {
  position: relative;
  font-size: 1.63rem;
  font-family: var(--tittle-16-m);
  background: linear-gradient(
    259.03deg,
    #9aecff,
    #9aecff 32.29%,
    #a89aff 65.1%,
    #9aecff
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
}

.frameChild {
  box-sizing: border-box;
}

.createPositionButton {
  cursor: pointer;
  box-sizing: border-box;
  border: 0;
  background-color: var(--color-gray-600);
  border-radius: var(--br-xl);
  box-shadow: 0 0 5px #d9f8ff;
  width: 21.88rem;
  margin: 0 auto;
  padding: 10px var(--padding-xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.createPositionButton:hover {
  border: 1px solid var(--color-lightcyan-600);
  box-sizing: border-box;
  box-shadow: -1px -1px 4px 1px rgba(217, 248, 255, 0.5),
    1px 1px 4px 1px rgba(217, 248, 255, 0.5);
}

.createPositionButton:active {
  background-color: var(--color-lightcyan-500);
  border: 1px solid var(--color-slategray-400);
  box-sizing: border-box;
}

.frameChild {
  border: 1px solid var(--color-lightcyan-400);
  background-color: transparent;
  top: 0.94rem;
  left: 14.44rem;
  border-radius: var(--br-mini);
  width: 10.63rem;
  height: 2.5rem;
  color: #d9f8ff;
  font-size: 15px;
  padding: var(--padding-3xs);
}

.frameChild:hover {
  border: 1px solid var(--color-lightcyan-100);
  box-sizing: border-box;
}

.frameChild:focus {
  /*border-radius: var(--br-xl);*/
  border: 1px solid var(--color-lightcyan-100);
  box-sizing: border-box;
  box-shadow: 0 0 4px #d9f8ff;
}

.solana2Icon {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
}

.anglesDownSolid1Icon,
.sol {
  position: relative;
  flex-shrink: 0;
}

.sol {
  font-size: var(--font-size-xl);
  
  font-family: var(--tittle-16-m);
  color: var(--color-lightcyan-100);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.25rem;
  height: 1.81rem;
}

.anglesDownSolid1Icon {
  width: 1rem;
  height: 1.14rem;
  overflow: hidden;
}

.solana2Parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gray-700);
  border-radius: var(--br-6xl);
  box-shadow: 0 0 5px rgba(217, 248, 255, 0.25);
  width: 9.31rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.frameParent {
  border-radius: var(--br-3xs);
  background: #0d111b;
  width: 100%;
  padding: 19px 22px;
  display: flex;
  justify-content: space-between;
}

.transfer {
  position: relative;
  font-size: var(--font-size-sm);
  
  font-family: var(--tittle-16-m);
  color: var(--color-lightcyan-100);
  text-align: left;
}

.transferDomainButton,
.transferDomainButton:hover {
  border: 1px solid var(--color-lightcyan-400);
  box-sizing: border-box;
}

.transferDomainButton {
  cursor: pointer;
  padding: var(--padding-3xs);
  background-color: transparent;
  border-radius: var(--br-6xl);
  box-shadow: 0 0 5px rgba(217, 248, 255, 0.5);
  width: 2.63rem;
  height: 2.63rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.transferDomainButton:hover {
  box-shadow: 0 0 4px 1px #d9f8ff;
}

.transferDomainButton:active {
  background-color: var(--color-lightcyan-200);
}


.gap {
  gap: 14px;
}

.balance100000000 {
  position: absolute;
  line-height: 1.71rem;
  display: inline-block;
  height: 1.88rem;
}

.yourePaying {
  font-size: var(--font-size-mini);
  color: var(--color-lightcyan-100);
}

.balance100000000 {
  text-align: right;
}

.usdCoinUsdcLogo1Parent,
.usdc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.usdc {
  position: relative;
  
  height: 1.81rem;
  flex-shrink: 0;
  color: #d9f8ff;

  text-align: center;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  
  line-height: normal;
}

.usdCoinUsdcLogo1Parent {
  position: absolute;
  top: 0.94rem;
  left: 1.5rem;
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-700);
  box-shadow: 0 0 5px rgba(217, 248, 255, 0.25);
  width: 9.31rem;
  height: 2.5rem;
  flex-direction: row;
  cursor: pointer;
}

.frameGroup {
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-600);
  width: 26.25rem;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-lightcyan-100);
}

.balance1000000001,
.toReceive,
.usdc00438622717Container {
  line-height: 1.71rem;
}

.toReceive {
  font-size: var(--font-size-mini);
  color: var(--color-lightcyan-100);
}

.balance1000000001 {
  text-align: right;
}

.usdc00438622717Container {
  padding-left: 13px;
  margin-top: 10px;
  margin-bottom: 5px;
  position: relative;
}

.icon,
.icon1 {
  position: absolute;
  width: 0.93%;
  top: 10px;
  left: 0px;
  border-radius: var(--br-31xl);
  max-width: 100%;
  overflow: hidden;
  height: 0.28rem;
}

.moreInfo {
  color: #757788;

  text-align: right;
  font-family: DM Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.3px; /* 210% */
}

.moreInfoWrapper {
  width: 7.81rem;
  height: 2.06rem;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.frameInner {
  position: relative;
  border-top: 0.7px solid var(--color-lightcyan-100);
  box-sizing: border-box;
  width: 21.73rem;
  height: 0.04rem;
}

.priceImpact {
  margin: 0;
}

.priceImpactMinimumContainer,
.sol0000005SolContainer {
  position: relative;
}

.sol0000005SolContainer {
  
  color: var(--color-slategray-100);
  text-align: right;
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: var(--padding-9xs) 0 0;
  align-items: flex-start;
  gap: var(--gap-33xl);
  text-align: left;
  font-size: var(--tittle-16-m-size);
  color: var(--color-lightcyan-100);
}

.frameContainer {
  display: flex;
  justify-content: flex-start;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-600);
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  text-align: right;
  font-size: var(--font-size-smi);
  padding: 5px 10px;
  min-height: 150px;
  margin-bottom: 20px;
}

.sol227954So111112Container {
  position: relative;
  white-space: pre-wrap;
  display: inline-block;
  width: 8.94rem;
  flex-shrink: 0;
  cursor: pointer;
}

.epjfdt1v {
  margin: 0;
  text-decoration: underline;
  color: var(--color-lightcyan-100);
}

.usdc100Epjfdt1vContainer {
  position: relative;
  white-space: pre-wrap;
  display: inline-block;
  width: 9.94rem;
  flex-shrink: 0;
  cursor: pointer;
}

.details1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.38rem;
  font-size: var(--tittle-16-m-size);
  margin-bottom: 20px;
}

.rotateRightSolid1Icon {
  width: 1.25rem;
  height: 1.25rem;
}

.ellipseParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  border-radius: 50%;
  border: 1px solid var(--color-slategray-100);
  background-color: transparent;

  border-radius: var(--br-xl);
  width: 2.5rem;
  height: 2.44rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ellipseParent:hover {
  box-shadow: 0 0 4px 1px #fff;
}

.listPanel {
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-800);
  box-shadow: 0 0 5px #d9f8ff;
  width: 28.75rem;
  font-size: var(--font-size-sm);
  color: var(--color-slategray-100);
  padding: 16px 20px 25px;
  margin: 0 auto;
}

.procentButtons {
  margin-left: auto;
  margin: 25px 0;
}

.jupiterLogo11Icon {
  position: relative;
  width: 2.06rem;
  height: 2.06rem;
  overflow: hidden;
  flex-shrink: 0;
}

.poweredByJupiterParent {
  display: flex;
  padding: var(--padding-3xs);
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  margin-top: 70px;
}

.powered {
  color: #d9f8ff;

  font-family: Bitcheese;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.3px; /* 68.25% */
}

.swapWithThe {
  position: relative;
  line-height: 1.71rem;
  text-transform: uppercase;
}

.screenshot20230312214007C {
  position: relative;
  width: 5.31rem;
  height: 3.25rem;
  object-fit: cover;
}

.swapWithTheBestRouteParent {
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-800);
  box-shadow: 0 0 5px #d9f8ff;
  width: 53.31rem;
  height: 3.81rem;
  margin: 50px auto 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-6xl);
  font-family: var(--font-syne);
}

.anglesDownSolid1Icon2 {
  position: relative;
  width: 1.14rem;
  height: 1rem;
  overflow: hidden;
  flex-shrink: 0;
}

.anglesDownSolid1Parent,
.solUsdc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.solUsdc {
  position: relative;
  font-size: var(--font-size-xl);
  
  font-family: var(--tittle-16-m);
  color: var(--color-lightcyan-100);
  text-align: center;
  width: 6.56rem;
  height: 1.81rem;
  flex-shrink: 0;
}

.anglesDownSolid1Parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gray-700);
  position: absolute;
  top: 17.19rem;
  right: 0;
  border-radius: var(--br-6xl) 0 0 var(--br-6xl);
  box-shadow: 0 0 5px rgba(217, 248, 255, 0.25);
  width: 21.25rem;
  height: 2.5rem;
  flex-direction: row;
  gap: 2.06rem;
}

.lamp2 {
  position: absolute;
  overflow: hidden;
}

.liquidityPanel {
  width: 100vw;
}

.lamp2 {
  top: -14.81rem;
  left: calc(50% - 550px);
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(119, 206, 234, 0.2),
      transparent
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(251, 0, 196, 0) 3.49%,
      rgba(119, 186, 234, 0) 7.6%,
      rgba(253, 0, 197, 0) 10.46%,
      rgba(119, 186, 234, 0) 14.46%,
      rgba(255, 0, 199, 0) 18.56%,
      rgba(3, 0, 3, 0) 19.53%,
      transparent 79.82%,
      rgba(246, 0, 192, 0) 81.08%,
      rgba(119, 186, 234, 0) 84.04%,
      rgba(247, 0, 193, 0) 86.61%,
      rgba(119, 186, 234, 0) 91.01%,
      rgba(249, 0, 194, 0) 95.16%,
      rgba(119, 186, 234, 0) 98.6%
    );
  width: 70.81rem;
  height: 18.81rem;
}

.swap1 {
  text-decoration: none;
  top: 0.94rem;
  left: calc(50% - 318px);
  line-height: 1.71rem;
  width: 3.94rem;
  cursor: pointer;
}

.lineDiv{
  position: absolute;
}



.lineDiv {
  top: 2.78rem;
  left: calc(50% - 318.5px);
  box-shadow: 0 0 2px #88d6ff;
  border-top: 1px solid var(--color-lightcyan-300);
  box-sizing: border-box;
  width: 4rem;
  height: 0.06rem;
}

.header,
.instanceParent {
  position: absolute;
  top: 0;
  right: 0;
}

.instanceParent {
  width: 17.88rem;
  height: 4.44rem;
  overflow: hidden;
}

.v101202204202200UtcContainer {
  position: absolute;
  bottom: 0.38rem;
  left: 0;
  font-size: var(--tittle-16-m-size);
  line-height: 1.71rem;
  font-weight: 100;
  font-family: var(--font-roboto);
  color: var(--color1);
  display: inline-block;
  width: 13.03rem;
}

.indexswap {
  position: relative;
  background-color: var(--color-gray-600);
  width: 100vw;
  height: 100vh;
  padding-top: 60px;
  overflow-x: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-lightcyan-100);
  font-family: var(--tittle-16-m);
}

.balanceContainer {
  margin-bottom: 11px;
}
