.lamp {
  position: absolute;
  top: -31.5rem;
  left: calc(50% - 866px);
  background: radial-gradient(
      50% 50%at 50% 50%,
      rgba(119, 186, 234, 0.2),
      transparent
    ),
    radial-gradient(
      50% 50%at 50% 50%,
      rgba(251, 0, 196, 0) 3.49%,
      rgba(119, 186, 234, 0) 7.6%,
      rgba(253, 0, 197, 0) 10.46%,
      rgba(119, 186, 234, 0) 14.46%,
      rgba(255, 0, 199, 0) 18.56%,
      rgba(3, 0, 3, 0) 19.53%,
      transparent 79.82%,
      rgba(246, 0, 192, 0) 81.08%,
      rgba(119, 186, 234, 0) 84.04%,
      rgba(247, 0, 193, 0) 86.61%,
      rgba(119, 186, 234, 0) 91.01%,
      rgba(249, 0, 194, 0) 95.16%,
      rgba(119, 186, 234, 0) 98.6%
    );
  width: 108.25rem;
  height: 63.63rem;
  overflow: hidden;
}
.totalBorrow,
.totalSupply,
.tvl {
  position: absolute;
  top: 2.31rem;
  left: 25.94rem;
  font-weight: 500;
}
.totalSupply,
.tvl {
  left: 15.63rem;
}
.tvl {
  left: 35.31rem;
}
.maxOutflow {
  left: 42.56rem;
}
.creator,
.maxOutflow,
.pool {
  position: absolute;
  top: 2.31rem;
  font-weight: 500;
}
.creator {
  left: 0;
}
.pool {
  left: 8rem;
}
.frameChild {
  position: absolute;
  top: 3.59rem;
  left: -0.03rem;
  border-top: 1px solid var(--color-lightcyan-300);
  box-sizing: border-box;
  width: 71.44rem;
  height: 0.06rem;
}
.totalBorrowParent {
  position: absolute;
  top: calc(50% - 107px);
  left: calc(50% - 658.5px);
  width: 54.06rem;
  height: 3.75rem;
  overflow: hidden;
  color: var(--color-lightcyan-100);
}
.poolOverwiewChild {
  position: absolute;
  top: 11.56rem;
  left: 57.31rem;
  width: 18rem;
  height: 15.69rem;
  overflow: hidden;
}
.mainpool {
  position: absolute;
  top: 5.06rem;
  left: 8.19rem;
  font-weight: 500;
}
.m,
.m1,
.m2,
.per4Hours,
.poolDetails,
.solend {
  position: absolute;
  top: 4.94rem;
  left: 26.13rem;
  font-weight: 500;
}
.m1,
.m2,
.per4Hours,
.poolDetails,
.solend {
  left: 15.81rem;
}
.m2,
.per4Hours,
.poolDetails,
.solend {
  left: 35.5rem;
}
.per4Hours,
.poolDetails,
.solend {
  left: 42.75rem;
}
.poolDetails,
.solend {
  left: 0.19rem;
  font-size: var(--font-size-lg);
}
.poolDetails {
  top: 6.75rem;
  display: inline-block;
  width: 42.88rem;
  height: 7.69rem;
}
.poolFillingRate {
  margin: 0;
}
.poolFillingRateContainer {
  position: absolute;
  top: 10.69rem;
  left: 1.25rem;
  font-weight: 500;
}
.graphicIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div,
.div1,
.div2 {
  position: absolute;
  height: 15.45%;
  width: 6.93%;
  top: 84.55%;
  left: 0;
  display: inline-block;
}
.div1,
.div2 {
  width: 13.86%;
  top: 0;
  left: 41.98%;
}
.div2 {
  width: 19.8%;
  top: 84.55%;
  left: 80.2%;
}
.text,
.tickMarkIcon {
  position: absolute;
  display: none;
}
.text {
  top: 1.34rem;
  left: 2.14rem;
  width: 4.5rem;
  height: 5.27rem;
}
.tickMarkIcon {
  height: 83.33%;
  width: 83.33%;
  top: 8.33%;
  right: 8.33%;
  bottom: 8.33%;
  left: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div3 {
  position: absolute;
  bottom: 3.69rem;
  left: calc(55% - 31.5px);
  font-size: var(--font-size-lg);
  font-family: var(--tittle-16-m);
  color: #61c7cb;
  text-align: center;
}
.basicGauge {
  position: absolute;
  top: 1.81rem;
  left: 2.19rem;
  width: 8.56rem;
  height: 8.69rem;
  text-align: left;
  font-size: var(--font-size-7xs);
  color: var(--color);
  font-family: var(--font-roboto);
}
.poolFillingRateTotalBorroParent {
  position: absolute;
  top: -1.69rem;
  left: 64.56rem;
  width: 14.06rem;
  height: 13.5rem;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-sm);
}
.poolOverview {
  position: absolute;
  top: 0.38rem;
  left: 0;
  font-size: var(--font-size-21xl);
  line-height: 1.71rem;
  font-weight: 500;
  font-family: var(--font-helvetica);
  color: var(--color-lightcyan-100);
  display: inline-block;
  width: 19.31rem;
  height: 2.19rem;
}
.poolOverwiew {
  top: 1.44rem;
  left: 1.19rem;
  width: 82.69rem;
  height: 15.75rem;
}
.lamp1,
.poolOverwiew,
.walletNetwortPanel {
  position: absolute;
  overflow: hidden;
}
.walletNetwortPanel {
  top: 10.63rem;
  left: calc(50% - 652px);
  border-radius: var(--br-11xl);
  box-shadow: 0 0 4px rgba(217, 248, 255, 0.5);
  border: 1px solid var(--color-lightcyan-400);
  box-sizing: border-box;
  width: 81.25rem;
  height: 13.75rem;
  color: var(--color-slategray-100);
}
.lamp1 {
  top: -0.12rem;
  left: calc(50% - 475.5px);
  background: radial-gradient(
      50% 50%at 50% 50%,
      rgba(119, 186, 234, 0.1),
      transparent
    ),
    radial-gradient(
      50% 50%at 50% 50%,
      rgba(251, 0, 196, 0) 3.49%,
      rgba(119, 186, 234, 0) 7.6%,
      rgba(253, 0, 197, 0) 10.46%,
      rgba(119, 186, 234, 0) 14.46%,
      rgba(255, 0, 199, 0) 18.56%,
      rgba(3, 0, 3, 0) 19.53%,
      transparent 79.82%,
      rgba(246, 0, 192, 0) 81.08%,
      rgba(119, 186, 234, 0) 84.04%,
      rgba(247, 0, 193, 0) 86.61%,
      rgba(119, 186, 234, 0) 91.01%,
      rgba(249, 0, 194, 0) 95.16%,
      rgba(119, 186, 234, 0) 98.6%
    );
  width: 59.44rem;
  height: 41.88rem;
}
.apr,
.asset,
.total {
  position: absolute;
  top: 2.31rem;
  font-weight: 500;
}
.total {
  left: 25.94rem;
  display: inline-block;
  width: 2.81rem;
}
.apr,
.asset {
  left: 37.94rem;
}
.asset {
  left: 0.63rem;
}
.totalParent {
  position: absolute;
  top: calc(50% - 336px);
  left: calc(50% - 443.5px);
  width: 55.06rem;
  height: 3.81rem;
  overflow: hidden;
}
.borrow,
.supply {
  position: absolute;
  top: 0.38rem;
  left: 19.94rem;
  font-weight: 500;
  display: inline-block;
  width: 4.25rem;
}
.borrow {
  top: 2.5rem;
}
.kSol {
  top: 0.5rem;
  left: 23.75rem;
  font-size: var(--font-size-sm);
  color: var(--color-slategray-100);
}
.div4,
.kSol,
.kSol1,
.sol {
  position: absolute;
  font-weight: 500;
}

.kSol1 {
  top: 2.69rem;
  left: 24rem;
  font-size: var(--font-size-sm);
  color: var(--color-slategray-100);
}
.div4,
.sol {
  left: 0.5rem;
}
.sol {
  top: 0.13rem;
  font-size: var(--font-size-xl);
  display: block;
}
.div4 {
  top: 2.25rem;
  display: block;
}
.div4,
.span {
  color: var(--color-slategray-100);
}
.openLtvContainer {
  position: absolute;
  top: 0.38rem;
  left: 10.5rem;
  font-weight: 500;
  display: inline-block;
  width: 11.06rem;
  height: 1.31rem;
}
.frameInner {
  position: absolute;
  top: 4.34rem;
  left: -0.66rem;
  border-top: 1px solid var(--color-lightcyan-300);
  box-sizing: border-box;
  width: 55.81rem;
  height: 0.06rem;
}
.div5,
.div6,
.supply1 {
  position: absolute;
  top: 0.38rem;
  left: 37.31rem;
  font-weight: 500;
  color: var(--color-slategray-100);
}
.div6,
.supply1 {
  top: 2.5rem;
}
.supply1 {
  top: 0.16rem;
  left: 0.81rem;
  font-size: var(--font-size-mini);
  font-family: var(--tittle-16-m);
  color: var(--color-lightcyan-100);
  text-align: left;
  display: inline-block;
  width: 4.31rem;
  height: 1.44rem;
}
.borrowWrapper,
.supplyWrapper,
.activeSupply,
.activeBorrow {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gray-600);
  position: absolute;
  top: 0.13rem;
  left: 43.13rem;
  border-radius: var(--br-6xl);
  box-shadow: 0 0 5px #d9f8ff;
  width: 4.63rem;
  height: 1.56rem;
  overflow: hidden;
}
.activeSupply,
.activeBorrow,
.activeRepay,
.activeWithdraw {
  background-color: var(--color-darkslategray-200) !important;
}
.supplyWrapper:hover,
.activeSupply:hover {
  border: 1px solid var(--color-lightcyan-600);
  box-sizing: border-box;
  box-shadow: -1px -1px 4px 1px rgba(217, 248, 255, 0.5),
    1px 1px 4px 1px rgba(217, 248, 255, 0.5);
}
.supplyWrapper:active,
.activeSupply:active {
  background-color: var(--color-lightcyan-500);
  border: 1px solid var(--color-slategray-400);
  box-sizing: border-box;
}
.borrowWrapper,
.activeBorrow {
  top: 2.38rem;
}
.borrowWrapper:hover,
.activeBorrow:hover {
  border: 1px solid var(--color-lightcyan-600);
  box-sizing: border-box;
  box-shadow: -1px -1px 4px 1px rgba(217, 248, 255, 0.5),
    1px 1px 4px 1px rgba(217, 248, 255, 0.5);
}
.borrowWrapper:active,
.activeBorrow:active {
  background-color: var(--color-lightcyan-500);
  border: 1px solid var(--color-slategray-400);
  box-sizing: border-box;
}
.repay {
  left: 0.81rem;
  font-size: var(--font-size-mini);
  font-weight: 500;
  font-family: var(--tittle-16-m);
  color: var(--color-lightcyan-100);
  text-align: left;
  display: inline-block;
  width: 3.06rem;
  height: 1.44rem;
}
.repay,
.repayWrapper,
.activeRepay,
.withdraw {
  position: absolute;
  top: 0.13rem;
}
.repayWrapper,
.activeRepay {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gray-600);
  left: 48.25rem;
  border-radius: var(--br-6xl);
  box-shadow: 0 0 5px #d9f8ff;
  width: 4.63rem;
  height: 1.56rem;
  overflow: hidden;
}
.repayWrapper:hover,
.activeRepay:hover {
  border: 1px solid var(--color-lightcyan-600);
  box-sizing: border-box;
  box-shadow: -1px -1px 4px 1px rgba(217, 248, 255, 0.5),
    1px 1px 4px 1px rgba(217, 248, 255, 0.5);
}
.repayWrapper:active,
.activeRepay:active {
  background-color: var(--color-lightcyan-500);
  border: 1px solid var(--color-slategray-400);
  box-sizing: border-box;
}
.withdraw {
  left: calc(50% - 34.5px);
  font-size: var(--font-size-mini);
  font-weight: 500;
  font-family: var(--tittle-16-m);
  color: var(--color-lightcyan-100);
  text-align: left;
  display: inline-block;
  width: 4.75rem;
  height: 1.44rem;
}
.withdrawWrapper,
.activeWithdraw {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gray-600);
  position: absolute;
  top: 2.38rem;
  left: 48.25rem;
  border-radius: var(--br-6xl);
  box-shadow: 0 0 5px #d9f8ff;
  width: 5.94rem;
  height: 1.56rem;
  overflow: hidden;
}
.withdrawWrapper:hover,
.activeWithdraw:hover {
  border: 1px solid var(--color-lightcyan-600);
  box-sizing: border-box;
  box-shadow: -1px -1px 4px 1px rgba(217, 248, 255, 0.5),
    1px 1px 4px 1px rgba(217, 248, 255, 0.5);
}
.withdrawWrapper:active,
.activeWithdraw:active {
  background-color: var(--color-lightcyan-500);
  border: 1px solid var(--color-slategray-400);
  box-sizing: border-box;
}
.borrowWeightContainer {
  position: absolute;
  top: 2.5rem;
  left: 10.5rem;
  font-weight: 500;
  display: inline-block;
  width: 11.06rem;
  height: 1.63rem;
}
.solana2Icon {
  position: absolute;
  top: 1.25rem;
  left: 8.13rem;
  width: 1.88rem;
  height: 1.88rem;
  object-fit: cover;
}
.supplyParent {
  position: relative;
  width: 55.06rem;
  height: 4.75rem;
}
.scrollFrame {
  position: absolute;
  top: calc(50% - 278px);
  left: calc(50% - 443.5px);
  width: 55.13rem;
  height: 38.25rem;
  overflow-x: hidden;
}
.scrollFrame::-webkit-scrollbar {
  width: 10px;
}

.scrollFrame::-webkit-scrollbar-track {
  background-color: #777;
}

.scrollFrame::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 5px;
}
.lamp2,
.poolInfo {
  position: absolute;
  height: 41.75rem;
  overflow: hidden;
}
.poolInfo {
  top: 25rem;
  left: calc(50% - 652px);
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-300);
  box-shadow: 0 0 4px rgba(217, 248, 255, 0.25);
  border: 1px solid var(--color-lightcyan-400);
  box-sizing: border-box;
  width: 59.44rem;
}
.lamp2 {
  top: 0;
  left: calc(50% - 172px);
  background: radial-gradient(
      50% 50%at 50% 50%,
      rgba(119, 186, 234, 0.1),
      transparent
    ),
    radial-gradient(
      50% 50%at 50% 50%,
      rgba(251, 0, 196, 0) 3.49%,
      rgba(119, 186, 234, 0) 7.6%,
      rgba(253, 0, 197, 0) 10.46%,
      rgba(119, 186, 234, 0) 14.46%,
      rgba(255, 0, 199, 0) 18.56%,
      rgba(3, 0, 3, 0) 19.53%,
      transparent 79.82%,
      rgba(246, 0, 192, 0) 81.08%,
      rgba(119, 186, 234, 0) 84.04%,
      rgba(247, 0, 193, 0) 86.61%,
      rgba(119, 186, 234, 0) 91.01%,
      rgba(249, 0, 194, 0) 95.16%,
      rgba(119, 186, 234, 0) 98.6%
    );
  width: 21.5rem;
}
.netValueContainer {
  position: absolute;
  top: 10.88rem;
  left: 0;
  font-weight: 500;
}
.balance,
.dao:hover,
.dashbord:hover,
.farm:hover,
.lend:hover,
.stake1:hover,
.stake:hover,
.swap:hover,
.trade:hover,
.yield:hover {
  color: var(--color-lightcyan-100);
}
.supplyBalanceContainer {
  position: absolute;
  top: 12.13rem;
  left: 0;
  font-weight: 500;
  color: var(--color-deepskyblue-100);
}
.balance308778 {
  font-weight: 500;
  color: var(--color-lightcyan-100);
}
.borrowBalanceContainer {
  position: absolute;
  top: 13.44rem;
  left: 0;
  color: var(--color-dodgerblue-100);
}
.weightBorrowContainer {
  top: 17rem;
}
.borrowLimitContainer,
.liquidationThresholdContainer,
.weightBorrowContainer {
  position: absolute;
  left: 0;
  font-size: var(--font-size-sm);
  font-weight: 500;
}
.borrowLimitContainer {
  top: 14.75rem;
  color: var(--color-gold-100);
}
.liquidationThresholdContainer {
  top: 15.88rem;
  color: #36f097;
}
.frameChild1,
.lineDiv {
  position: absolute;
  top: 1.66rem;
  left: 0.09rem;
  border-top: 1px solid var(--color-lightcyan-100);
  box-sizing: border-box;
  width: 19.44rem;
  height: 0.06rem;
}
.frameChild1 {
  top: 0.16rem;
}
.span8 {
  font-size: var(--font-size-sm);
  color: var(--color-aquamarine);
}
.assetsSupplied {
  position: absolute;
  top: 0.19rem;
  left: 0.13rem;
  font-weight: 500;
}
.lineParent {
  position: absolute;
  top: 18.5rem;
  left: 0;
  width: 19.38rem;
  height: 1.81rem;
  overflow: hidden;
  color: var(--color-deepskyblue-100);
}
.icon {
  position: relative;
  width: 3.13rem;
  height: 10.63rem;
}
.fix,
.parent {
  position: absolute;
}
.parent {
  top: 0;
  left: 1.75rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.13rem;
}
.fix {
  top: 0.94rem;
  left: calc(50% - 157px);
  width: 19.38rem;
  height: 20.31rem;
  overflow: hidden;
}
.assetSuppliedChild {
  position: absolute;
  top: 3.41rem;
  left: -0.03rem;
  border-top: 1px solid var(--color-lightcyan-100);
  box-sizing: border-box;
  width: 19.44rem;
  height: 0.06rem;
}
.div7,
.div8 {
  position: absolute;
  top: 0;
  left: 12.25rem;
  font-weight: 500;
  display: inline-block;
  width: 4.44rem;
}
.div8 {
  left: 4.31rem;
  text-align: right;
}
.assetSupplied {
  position: relative;
  top: 0.13rem;
  left: 0;
  width: 19.38rem;
  height: 3.5rem;
  overflow: hidden;
}
.div9,
.msol {
  position: absolute;
  top: 0;
  font-weight: 500;
}
.msol {
  left: 0;
  font-size: var(--tittle-16-m-size);
  color: var(--color-lightcyan-100);
}
.div9 {
  left: 12.31rem;
  display: inline-block;
  width: 4.44rem;
}
.assetSupplied1,
.assetSupplied2 {
  position: absolute;
  top: 3.63rem;
  left: 0;
  width: 19.38rem;
  height: 3.5rem;
  overflow: hidden;
}
.assetSupplied2 {
  top: 7.13rem;
}
.span9 {
  font-size: var(--font-size-sm);
  color: var(--color-firebrick-200);
}
.assetsBorrowed {
  position: absolute;
  top: 0.06rem;
  left: 0.13rem;
  font-weight: 500;
}
.lineGroup {
  position: relative;
  margin-top: 1rem;
  left: 0;
  width: 19.38rem;
  height: 1.88rem;
  overflow: hidden;
  font-size: var(--tittle-16-m-size);
  color: var(--color-dodgerblue-100);
}
.usdCoinUsdcLogo4Icon {
  position: absolute;
  top: 1.5rem;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
}
.assetBorrowed {
  position: relative;
  /* top: 12.31rem; */
  left: 0;
  width: 19.38rem;
  height: 3.5rem;
}
.scrollPosition,
.userPanel {
  position: absolute;
  overflow: hidden;
}
.scrollPosition {
  top: 21.25rem;
  left: calc(50% - 157px);
  width: 19.38rem;
  height: 24.25rem;
  font-size: var(--font-size-sm);
  color: var(--color-slategray-100);
}
.userPanel {
  top: 25rem;
  left: calc(50% + 307px);
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-300);
  box-shadow: 0 0 5px rgba(217, 248, 255, 0.25);
  border: 1px solid var(--color-lightcyan-400);
  box-sizing: border-box;
  width: 21.5rem;
  height: 41.75rem;
}
.frame1272ButtonChild {
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-600);
  width: 27.25rem;
}
.frame1272ButtonChild,
.frame1272ButtonItem,
.solendMainPool {
  position: absolute;
  top: 0;
  left: 0;
  height: 3.13rem;
}
.frame1272ButtonItem {
  border-radius: var(--br-6xl);
  background-color: var(--color-darkslategray-400);
  box-shadow: 0 0 5px #d9f8ff;
  width: 14.06rem;
}
.solendMainPool {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13.75rem;
}
.activePage {
  border-radius: var(--br-6xl) !important;
  box-shadow: 0 0 5px #d9f8ff !important;
  background-color: var(--color-darkslategray-400) !important;
}
.frame1272Button,
.solendTurboSol {
  position: absolute;
  height: 3.13rem;
  text-align: center;
  font-size: var(--font-size-3xl);
}
.solendTurboSol {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 13.75rem;
  font-family: var(--tittle-16-m);
  color: var(--color-lightcyan-100);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13.75rem;
}
.frame1272Button {
  top: 5.88rem;
  left: calc(50% - 226px);
  width: 28.25rem;
}
.indexlendInner,
.walletNetwortPanelParent {
  top: 0;
  left: calc(50% - 866px);
  width: 108.25rem;
  height: 75rem;
}
.walletNetwortPanelParent {
  position: relative;
}
.indexlendInner {
  overflow-y: auto;
}
.indexlendInner,
.lamp3,
.swap {
  position: relative;
}
.lamp3 {
  top: -14.81rem;
  left: calc(50% - 550px);
  background: radial-gradient(
      50% 50%at 50% 50%,
      rgba(119, 206, 234, 0.2),
      transparent
    ),
    radial-gradient(
      50% 50%at 50% 50%,
      rgba(251, 0, 196, 0) 3.49%,
      rgba(119, 186, 234, 0) 7.6%,
      rgba(253, 0, 197, 0) 10.46%,
      rgba(119, 186, 234, 0) 14.46%,
      rgba(255, 0, 199, 0) 18.56%,
      rgba(3, 0, 3, 0) 19.53%,
      transparent 79.82%,
      rgba(246, 0, 192, 0) 81.08%,
      rgba(119, 186, 234, 0) 84.04%,
      rgba(247, 0, 193, 0) 86.61%,
      rgba(119, 186, 234, 0) 91.01%,
      rgba(249, 0, 194, 0) 95.16%,
      rgba(119, 186, 234, 0) 98.6%
    );
  width: 70.81rem;
  height: 18.81rem;
  overflow: hidden;
}
.swap {
  text-decoration: none;
  top: 0.94rem;
  left: calc(50% - 318px);
  line-height: 1.71rem;
  color: inherit;
  width: 3.94rem;
  cursor: pointer;
}
.lend,
.swap,
.trade {
  display: inline-block;
}
.lend {
  text-decoration: none;
  position: absolute;
  top: 0.94rem;
  left: calc(50% - 128px);
  line-height: 1.71rem;
  color: var(--color-lightcyan-100);
  width: 3.88rem;
  cursor: pointer;
}
.trade {
  left: calc(50% - 223px);
  width: 3.94rem;
}
.farm,
.stake,
.trade,
.yield {
  text-decoration: none;
  position: absolute;
  top: 0.94rem;
  line-height: 1.71rem;
  color: inherit;
  cursor: pointer;
}
.yield {
  left: calc(50% - 34px);
  display: inline-block;
  width: 6.63rem;
}
.farm,
.stake {
  left: calc(50% + 120px);
}
.stake {
  left: calc(50% + 220px);
}
.frameChild3 {
  position: absolute;
  top: 2.78rem;
  left: calc(50% - 125.5px);
  box-shadow: 0 0 2px #88d6ff;
  border-top: 1px solid var(--color-lightcyan-300);
  box-sizing: border-box;
  width: 3.75rem;
  height: 0.06rem;
}
.dao,
.dashbord,
.stake1 {
  text-decoration: none;
  position: absolute;
  top: 0.94rem;
  line-height: 1.71rem;
  color: inherit;
  cursor: pointer;
}
.dashbord {
  left: calc(50% - 468px);
  display: inline-block;
  width: 7.38rem;
}
.dao,
.stake1 {
  left: calc(50% + 425px);
}
.dao {
  left: calc(50% + 316px);
  display: inline-block;
  width: 4.81rem;
}
.swapParent {
  position: absolute;
  top: 0.44rem;
  left: calc(50% - 566px);
  width: 59.38rem;
  height: 3.13rem;
  overflow: hidden;
}
.dexifiLogoIcon {
  position: absolute;
  top: 0.31rem;
  left: 0.63rem;
  width: 4.81rem;
  height: 3.69rem;
  object-fit: cover;
  cursor: pointer;
}
.connectWallet {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-lgi);
  font-family: var(--tittle-16-m);
  color: var(--color-lightcyan-100);
  text-align: left;
  display: inline-block;
}
.connectWalletWrapper {
  cursor: pointer;
  border: 1px solid var(--color-lightcyan-400);
  padding: var(--padding-8xs) var(--padding-5xl);
  background-color: var(--color-gray-600);
  position: absolute;
  top: 0.88rem;
  left: 4.38rem;
  border-radius: var(--br-23xl);
  box-shadow: 0 0 4px 1px rgba(217, 248, 255, 0.25);
  box-sizing: border-box;
  height: 2.56rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.connectWalletWrapper:hover {
  background-color: var(--color-lightcyan-500);
  box-shadow: 0 0 4px 3px rgba(217, 248, 255, 0.25);
}
.connectWalletWrapper:active {
  mix-blend-mode: luminosity;
  background-color: var(--color-lightcyan-400);
}
.vectorIcon,
.vectorIcon1 {
  position: absolute;
  top: calc(50% - 12.25px);
  left: calc(50% - 12.25px);
  width: 1.53rem;
  height: 1.53rem;
}
.vectorIcon1 {
  top: calc(50% - 4.25px);
  left: calc(50% - 4.25px);
  width: 0.53rem;
  height: 0.53rem;
}
.iconSettings {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 1.44rem;
  height: 1.44rem;
}
.iconSettingsWrapper {
  cursor: pointer;
  border: 1px solid var(--color-slategray-100);
  padding: var(--padding-4xs);
  background-color: var(--color-gray-600);
  position: absolute;
  top: 0.88rem;
  right: 14.56rem;
  border-radius: var(--br-23xl);
  box-shadow: 0 0 5px #d9f8ff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.iconSettingsWrapper:hover {
  background-color: var(--color-lightcyan-500);
}
.iconSettingsWrapper:active {
  mix-blend-mode: luminosity;
  background-color: var(--color-lightcyan-400);
}
.header,
.instanceParent {
  position: absolute;
  top: 0;
  right: 0;
}
.instanceParent {
  width: 17.88rem;
  height: 4.44rem;
  overflow: hidden;
}
.header {
  width: 100%;
  left: 0;
  background-color: var(--color-gray-500);
  height: 4.06rem;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-slategray-100);
  font-family: var(--font-helvetica);
}
.v101202204202200UtcContainer {
  position: absolute;
  bottom: 0.38rem;
  left: 0;
  line-height: 1.71rem;
  font-weight: 100;
  font-family: var(--font-roboto);
  color: var(--color1);
  display: inline-block;
  width: 13.03rem;
}
.indexlend {
  position: relative;
  background-color: var(--color-gray-600);
  width: 100%;
  height: 100vh;
  text-align: left;
  overflow: hidden;
  font-size: var(--tittle-16-m-size);
  color: var(--color-lightcyan-100);
  font-family: var(--tittle-16-m);
}
.cylinder {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 50px;
  height: 170px;
  border-radius: 25px/12.5px;
  background-color: rgb(30, 214, 255, 0.4);
}

.cylinder:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 28px;
  border-radius: 25px/12.5px;
  background-color: rgb(30, 214, 255, 0.2);
  content: "";
}

.cylinder:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 28px;
  border-radius: 25px/12.5px;
  background-color: rgb(30, 214, 255, 0.4);
  content: "";
}

.water {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  padding-top: 25px;
  border-radius: 25px/12.5px;
  background-color: rgb(30, 214, 255, 0.5);
  transition: 0.3s linear;
}

.water:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 25px;
  border-radius: 25px/12.5px;
  background-color: rgb(30, 214, 255, 0.2);
  content: "";
}

.water:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 25px;
  border-radius: 25px/12.5px;
  background-color: rgb(30, 214, 255, 0.4);
  content: "";
}
.cylinderBorrow {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 50px;
  height: 170px;
  border-radius: 25px/12.5px;
  background-color: rgb(38, 138, 255, 0.4);
}

.cylinderBorrow:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 28px;
  border-radius: 25px/12.5px;
  background-color: rgb(38, 138, 255, 0.2);
  content: "";
}

.cylinderBorrow:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 28px;
  border-radius: 25px/12.5px;
  background-color: rgb(38, 138, 255, 0.4);
  content: "";
}

.waterBorrow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  padding-top: 25px;
  border-radius: 25px/12.5px;
  background-color: rgb(38, 138, 255, 0.5);
  transition: 0.3s linear;
}

.waterBorrow:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 25px;
  border-radius: 25px/12.5px;
  background-color: rgb(38, 138, 255, 0.2);
  content: "";
}

.waterBorrow:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 25px;
  border-radius: 25px/12.5px;
  background-color: rgb(38, 138, 255, 0.4);
  content: "";
}
.cylinderBorrowLimit {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 50px;
  height: 170px;
  border-radius: 25px/12.5px;
  background-color: rgb(251, 233, 71, 0.4);
}

.cylinderBorrowLimit:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 28px;
  border-radius: 25px/12.5px;
  background-color: rgb(251, 233, 71, 0.2);
  content: "";
}

.cylinderBorrowLimit:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 28px;
  border-radius: 25px/12.5px;
  background-color: rgb(251, 233, 71, 0.4);
  content: "";
}

.waterBorrowLimit {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  padding-top: 25px;
  border-radius: 25px/12.5px;
  background-color: rgb(251, 233, 71, 0.5);
  transition: 0.3s linear;
}

.waterBorrowLimit:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 25px;
  border-radius: 25px/12.5px;
  background-color: rgb(251, 233, 71, 0.2);
  content: "";
}

.waterBorrowLimit:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 25px;
  border-radius: 25px/12.5px;
  background-color: rgb(251, 233, 71, 0.4);
  content: "";
}
/* .svg {
  height: 100px;
  margin: auto;
  display: block;
}

.svg path {
  stroke-linecap: round;
  stroke-width: 6;
}

.grey {
  stroke: #e7e7e8;
}

.blue {
  stroke: url(#gradient);
  stroke-dasharray: 198;
  stroke-dashoffset: 198;
  animation: dash 3s ease-out forwards;
  stroke-dashoffset: 198 * 0.5
} */