.lamp {
  position: absolute;
  top: -32.25rem;
  left: calc(50% - 850px);
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(119, 186, 234, 0.2),
    rgba(37, 58, 73, 0.06) 47.92%,
    transparent
  );
  width: 105.06rem;
  height: 112.5rem;
  pointer-events: none;
  overflow: hidden;
}
.listOfAll {
  color: #d9f8ff;

  font-family: DM Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 15px;
}
.poolOverwiew {
  overflow: hidden;
}

.div {
  color: var(--color-slategray-100);
  width: 8.38rem;
  height: 3.44rem;
}

.listPanel,
.myLocksParent {
  border-radius: var(--br-xl);
}
.myLocksParent {
  background-color: var(--color-gray-600);
  box-shadow: 0 0 5px rgba(217, 248, 255, 0.5);
  padding: 15px 24px;
  flex-grow: 1;
  font-size: var(--font-size-lg);
}
.listPanel {
  position: relative;
  width: 90vw;
  border-radius: var(--br-xl);
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  gap: 20px;
}
.instanceChild {
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-600);
  width: 30.88rem;
}
.instanceChild,
.instanceItem {
  height: 3.13rem;
}
.instanceItem {
  border-radius: var(--br-6xl);
  background-color: var(--color-lightcyan-200);
  box-shadow: 0 0 5px #d9f8ff;
  border: 1px solid var(--color-lightcyan-100);
  box-sizing: border-box;
  width: 7.81rem;
}
.dexifiDxe5373978Container1 {
  line-break: anywhere;
  width: 100%;
}
.dexifiDxe5373978Container {
  line-height: 1.71rem;
  
  display: flex;
  align-items: center;
  width: 8.38rem;
  height: 15.75rem;
}
.dexifiDxe5373978240510Wrapper {
  width: 9.75rem;
  height: 15.75rem;
  text-align: right;
  color: var(--color-slategray-100);
}
.apyProviderRewardContainer {
  line-height: 1.71rem;
  
  display: flex;
  align-items: center;
  width: 11.94rem;
  height: 15.75rem;
}
.apyProviderRewardTvlTvlWrapper {
  width: 12.81rem;
  height: 15.75rem;
}
.deposit {
  position: relative;
  font-size: var(--font-size-3xl);
  font-family: var(--tittle-16-m);
  color: var(--color-lightcyan-100);
  text-align: left;
}
.createPositionButton {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-xs);
  background-color: var(--color-darkslategray-100);
  border-radius: var(--br-xl);
  box-shadow: 0 0 5px #d9f8ff;
  width: 100%;
  margin: 13px 0;
  height: 2.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.createPositionButton:hover {
  border: 1px solid var(--color-lightcyan-600);
  box-sizing: border-box;
  box-shadow: -1px -1px 4px 1px rgba(217, 248, 255, 0.5),
    1px 1px 4px 1px rgba(217, 248, 255, 0.5);
}
.createPositionButton:active {
  background-color: var(--color-lightcyan-500);
  border: 1px solid var(--color-slategray-400);
  box-sizing: border-box;
}


.vaultsParent {
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-600);
  width: 100%;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-7xs) 0 var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-6xl);
  font-size: var(--font-size-xl);
  font-family: var(--tittle-16-m);
  margin-bottom: 10px;
}

.listPanelWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: var(--font-helvetica);
}
.raydiumRay5373978Container {
  line-height: 1.71rem;
  display: flex;
  align-items: center;
  width: 8.38rem;
  height: 14.38rem;
}
.raydiumRay537397824051Wrapper {
  width: 9.75rem;
  height: 14.38rem;
  text-align: right;
  color: var(--color-slategray-100);
}
.aprProviderRewardContainer {
  line-height: 1.71rem;
  
  display: flex;
  align-items: center;
  width: 8.38rem;
  height: 14.38rem;
}
.aprProviderRewardTvlTvlWrapper {
  width: 9.75rem;
  height: 14.38rem;
}
.vaults1 {
  position: relative;
  display: flex;
  align-items: center;
  width: 4.06rem;
  height: 2.19rem;
  flex-shrink: 0;
}
.raydiumRayCoin1Icon {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
}
.vaultsGroup {
  border-radius: var(--br-xl);
  background-color: var(--color-gray-600);
  width: 18.13rem;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xl);
  font-size: var(--font-size-xl);
}
.deposit1 {
  position: relative;
  font-size: var(--font-size-3xl);
  
  font-family: var(--tittle-16-m);
  color: var(--color-lightcyan-100);
  text-align: left;
}

.depositedPendingRewardsContainer,
.ray20005Container {
  line-height: 1.71rem;
  width: 8.38rem;
  height: 8.44rem;
}
.ray20005Container {
  color: var(--color-slategray-100);
  text-align: right;
}

.createPositionButtonParent,
.listPanel2 {
  border-radius: var(--br-xl);
}
.createPositionButtonParent {
  background-color: var(--color-gray-600);
  width: 18.13rem;
  height: 14.06rem;
}
.listPanel2 {
  background-color: var(--color-gray-300);
  box-shadow: 0 0 4px #88d6ff;
  width: 20rem;
  height: 36.88rem;
  overflow: hidden;
}
.lamp1{
  position: absolute;
  top: 0.5rem;
  left: calc(50% - 709px);
  width: 87.5rem;
  height: 126.38rem;
  overflow: hidden;

  pointer-events: none;
  top: -14.81rem;
  left: calc(50% - 550px);
  background: radial-gradient(
      50% 50%at 50% 50%,
      rgba(119, 206, 234, 0.2),
      transparent
    ),
    radial-gradient(
      50% 50%at 50% 50%,
      rgba(251, 0, 196, 0) 3.49%,
      rgba(119, 186, 234, 0) 7.6%,
      rgba(253, 0, 197, 0) 10.46%,
      rgba(119, 186, 234, 0) 14.46%,
      rgba(255, 0, 199, 0) 18.56%,
      rgba(3, 0, 3, 0) 19.53%,
      transparent 79.82%,
      rgba(246, 0, 192, 0) 81.08%,
      rgba(119, 186, 234, 0) 84.04%,
      rgba(247, 0, 193, 0) 86.61%,
      rgba(119, 186, 234, 0) 91.01%,
      rgba(249, 0, 194, 0) 95.16%,
      rgba(119, 186, 234, 0) 98.6%
    );
  width: 70.81rem;
  height: 18.81rem;
}
.claimPending {
  position: relative;
  font-size: var(--font-size-lg);
  
  font-family: var(--tittle-16-m);
  color: var(--color-lightcyan-100);
  text-align: left;
}
.createPositionButtonParent {
  background-color: var(--color-gray-600);
  width: 100%;
  padding: 15px;
  height: 14.06rem;
}
.createPositionButton1 {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-xs);
  background-color: var(--color-darkslategray-100);
  border-radius: var(--br-6xl);
  box-shadow: 0 0 5px #d9f8ff;
  width: 100%;
  margin: 15px 0;
  height: 2.19rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.v101202204202200UtcContainer {
  position: absolute;
  bottom: 1.81rem;
  left: 0.25rem;
  line-height: 1.71rem;
  font-weight: 100;
  font-family: var(--font-roboto);
  color: var(--color1);
  display: inline-block;
  width: 13.03rem;
}
.indexstakemy {
  position: relative;
  background-color: var(--color-gray-600);
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  text-align: left;
  font-size: var(--tittle-16-m-size);
  color: var(--color-lightcyan-100);
  font-family: var(--tittle-16-m);
}

.liquidityPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 160px;
  margin: 0 auto;
  width: 90vw;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
}
.lockTitle {
  color: #d9f8ff;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 151.667% */
}

.lockText {
  color: #757788;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 151.667% */
  margin: 0;
}

.statisticTitle {
  color: #D9F8FF;

  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 170.625% */
  margin: 0;
}

.statisticText {
  color: #757788;

  text-align: right;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 170.625% */
  margin: 0;
}

.listPanel1 {
  background-color: var(--color-gray-300);
  box-shadow: 0 0 4px #88d6ff;
  width: 20rem;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  padding: 15px 20px;
  font-size: var(--tittle-16-m-size);
  border-radius: 20px;
}

.listPanel1:not(:first-of-type) {
  margin-bottom: 15px;
}