.lamp {
  position: absolute;
  top: -32.25rem;
  left: calc(50% - 850px);
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(119, 186, 234, 0.2),
    rgba(37, 58, 73, 0.06) 47.92%,
    transparent
  );
  width: 105.06rem;
  height: 112.5rem;
  overflow: hidden;
  pointer-events: none;
}

.liquidityPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 160px;
  margin: 0 auto;
  width: 90vw;
}

.statisticTitle {
  color: #D9F8FF;

  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 170.625% */
  margin: 0;
}

.statisticText {
  color: #757788;

  text-align: right;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 170.625% */
  margin: 0;
}

.deposit {
  position: relative;
  font-size: var(--font-size-3xl);
  font-family: var(--tittle-16-m);
  color: var(--color-lightcyan-100);
  text-align: left;
}
.createPositionButton {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-xs);
  background-color: var(--color-darkslategray-100);
  border-radius: var(--br-xl);
  box-shadow: 0 0 5px #d9f8ff;
  width: 100%;
  margin: 13px 0;
  height: 2.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.createPositionButton:hover {
  border: 1px solid var(--color-lightcyan-600);
  box-sizing: border-box;
  box-shadow: -1px -1px 4px 1px rgba(217, 248, 255, 0.5),
    1px 1px 4px 1px rgba(217, 248, 255, 0.5);
}
.createPositionButton:active {
  background-color: var(--color-lightcyan-500);
  border: 1px solid var(--color-slategray-400);
  box-sizing: border-box;
}

.unstake {
  position: relative;
  font-size: var(--font-size-lg);

  font-family: var(--tittle-16-m);
  color: var(--color-lightcyan-100);
  text-align: left;
}
.createPositionButton1 {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-xs);
  background-color: var(--color-darkslategray-100);
  border-radius: var(--br-6xl);
  width: 100%;
  height: 2.19rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
.createPositionButton1:hover {
  border: 1px solid var(--color-lightcyan-600);
  box-sizing: border-box;
  box-shadow: -1px -1px 4px 1px rgba(217, 248, 255, 0.5),
    1px 1px 4px 1px rgba(217, 248, 255, 0.5);
}
.createPositionButton1:active {
  background-color: var(--color-lightcyan-500);
  border: 1px solid var(--color-slategray-400);
  box-sizing: border-box;
}
.depositedRewardsLotteryTickParent {
  border-radius: var(--br-xl);
  background-color: var(--color-gray-600);
  box-shadow: 0 0 5px rgba(217, 248, 255, 0.5);
  width: 100%;
  font-size: var(--font-size-mini);
  font-family: var(--tittle-16-m);
  padding: 15px;
}
.dxe4,
.vaults {
  position: relative;
  line-height: 1.71rem;
  display: flex;
  align-items: center;
  width: 4.06rem;
  height: 2.19rem;
  flex-shrink: 0;
}
.dxe4 {
  font-size: var(--font-size-3xl);
}
.dexifiLogoIcon {
  position: relative;
  width: 3.13rem;
  height: 2.39rem;
  object-fit: cover;
}
.vaultsParent {
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-600);
  box-shadow: 0 0 5px #d9f8ff;
  width: 100%;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-7xs) 0 var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-6xl);
  font-size: var(--font-size-xl);
  font-family: var(--tittle-16-m);
  margin-bottom: 10px;
}
.listPanel {
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-300);
  box-shadow: 0 0 4px #88d6ff;
  width: 20rem;
  overflow: hidden;
  flex-shrink: 0;
  padding: 17px 20px;
}
.listPanelWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: var(--font-helvetica);
  margin-right: auto;
}
.listOfAll {
  color: #d9f8ff;

  font-family: DM Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 15px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1.3fr 1.3fr 1fr 1fr;
  width: 100%;
}

.lockTitle {
  color: #d9f8ff;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 151.667% */
}

.lockText {
  color: #757788;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 151.667% */
  margin: 0;
}

.myLocksParent {
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-600);
  box-shadow: 0 0 5px rgba(217, 248, 255, 0.5);
  padding: 15px 24px;
  flex-grow: 1;
  font-size: var(--font-size-lg);
}
.withStakingDxe {
  margin: 0;
  font-size: var(--font-size-lg);
}
.withStakingDxeContainer {
  line-height: 1.71rem;
  color: var(--color-slategray-100);
  display: inline-block;
  width: 40.25rem;
  height: 3.44rem;
  font-size: var(--tittle-16-m-size);
}

.poolOverwiew {
  position: relative;
  width: 90vw;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
.instanceChild {
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-600);
  width: 30.88rem;
}
.dexifiLogoIcon1,
.instanceChild,
.instanceItem {
  height: 3.13rem;
}
.instanceItem {
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-lightcyan-200);
  box-shadow: 0 0 5px #d9f8ff;
  border: 1px solid var(--color-lightcyan-100);
  box-sizing: border-box;
  width: 5.19rem;
}

.lamp1 {
  position: absolute;
  pointer-events: none;
  top: 0.5rem;
  left: calc(50% - 709px);
  width: 87.5rem;
  height: 75rem;
  overflow: hidden;
}
.lamp1 {
  top: -14.81rem;
  left: calc(50% - 550px);
  background: radial-gradient(
      50% 50%at 50% 50%,
      rgba(119, 206, 234, 0.2),
      transparent
    ),
    radial-gradient(
      50% 50%at 50% 50%,
      rgba(251, 0, 196, 0) 3.49%,
      rgba(119, 186, 234, 0) 7.6%,
      rgba(253, 0, 197, 0) 10.46%,
      rgba(119, 186, 234, 0) 14.46%,
      rgba(255, 0, 199, 0) 18.56%,
      rgba(3, 0, 3, 0) 19.53%,
      transparent 79.82%,
      rgba(246, 0, 192, 0) 81.08%,
      rgba(119, 186, 234, 0) 84.04%,
      rgba(247, 0, 193, 0) 86.61%,
      rgba(119, 186, 234, 0) 91.01%,
      rgba(249, 0, 194, 0) 95.16%,
      rgba(119, 186, 234, 0) 98.6%
    );
  width: 70.81rem;
  height: 18.81rem;
}

.instanceParent {
  width: 17.88rem;
  height: 4.44rem;
  overflow: hidden;
}

.v101202204202200UtcContainer {
  position: absolute;
  bottom: 0.38rem;
  left: 0;
  line-height: 1.71rem;
  font-weight: 100;
  font-family: var(--font-roboto);
  color: var(--color1);
  display: inline-block;
  width: 13.03rem;
}
.indexstake {
  position: relative;
  background-color: var(--color-gray-600);
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  text-align: left;
  font-size: var(--tittle-16-m-size);
  color: var(--color-lightcyan-100);
  font-family: var(--tittle-16-m);
}
