.lamp,
.lamp1 {
  position: absolute;
  top: -32.25rem;
  left: calc(50% - 850px);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(119, 186, 234, 0.2),
    rgba(37, 58, 73, 0.06) 47.92%,
    transparent
  );
  width: 105.06rem;
  height: 112.5rem;
  overflow: hidden;
}

.lamp1 {
  top: -38.19rem;
  left: calc(50% - 259px);
  width: 32.38rem;
  height: 76.31rem;
}

.placeOrder {
  position: relative;
  font-size: var(--font-size-3xl);
  font-family: var(--tittle-16-m);
  color: var(--color-lightcyan-100);
  text-align: left;
}

.createPositionButton {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-xs);
  background-color: var(--color-darkslategray-100);
  position: absolute;
  top: 23.63rem;
  left: 1.25rem;
  border-radius: var(--br-6xl);
  box-shadow: 0 0 5px #d9f8ff;
  width: 18.13rem;
  height: 2.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.createPositionButton:hover {
  border: 1px solid var(--color-lightcyan-600);
  box-sizing: border-box;
  box-shadow: -1px -1px 4px 1px rgba(217, 248, 255, 0.5),
    1px 1px 4px 1px rgba(217, 248, 255, 0.5);
}

.createPositionButton:active {
  background-color: var(--color-lightcyan-500);
  border: 1px solid var(--color-slategray-400);
  box-sizing: border-box;
}

.limitPrice {
  position: absolute;
  top: 1.13rem;
  left: 0.88rem;
  line-height: 1.71rem;
  display: inline-block;
  width: 8.38rem;
  height: 1.88rem;
}

.frameChild {
  border: 1px solid var(--color-lightcyan-400);
  background-color: transparent;
  position: absolute;
  top: 0.81rem;
  left: 5.94rem;
  border-radius: var(--br-6xl);
  box-sizing: border-box;
  width: 10.63rem;
  height: 2.5rem;
  overflow: hidden;
  color: #d9f8ff;
  font-size: 15px;
  padding: var(--padding-3xs);
}

.frameChild:hover {
  border: 1px solid var(--color-lightcyan-100);
  box-sizing: border-box;
}

.frameChild:focus {
  border-radius: var(--br-xl);
  border: 1px solid var(--color-lightcyan-100);
  box-sizing: border-box;
  box-shadow: 0 0 4px #d9f8ff;
}

.limitPriceParent {
  position: absolute;
  top: 3.56rem;
  left: 1.56rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-800);
  box-shadow: 0 0 5px rgba(217, 248, 255, 0.5);
  width: 17.5rem;
  height: 4.06rem;
}

.frameItem {
  border: 1px solid var(--color-lightcyan-400);
  background-color: transparent;
  position: absolute;
  top: 0.81rem;
  left: 6.19rem;
  border-radius: var(--br-6xl);
  box-sizing: border-box;
  width: 10.38rem;
  height: 2.5rem;
  overflow: hidden;
  color: #d9f8ff;
  font-size: 15px;
  padding: var(--padding-3xs);
}

.frameItem:hover {
  border: 1px solid var(--color-lightcyan-100);
  box-sizing: border-box;
}

.frameItem:focus {
  border-radius: var(--br-xl);
  border: 1px solid var(--color-lightcyan-100);
  box-sizing: border-box;
  box-shadow: 0 0 4px #d9f8ff;
}

.amountParent {
  top: 8.31rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-800);
  box-shadow: 0 0 5px rgba(217, 248, 255, 0.5);
  width: 17.5rem;
  height: 4.06rem;
}

.amountParent,
.totalParent,
.usdcBalance0 {
  position: absolute;
  left: 1.56rem;
}

.totalParent {
  top: 13.06rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-800);
  box-shadow: 0 0 5px rgba(217, 248, 255, 0.5);
  width: 17.5rem;
  height: 4.06rem;
}

.usdcBalance0 {
  top: 21.38rem;
  line-height: 1.71rem;
  color: var(--color-slategray-100);
  display: inline-block;
  height: 1.88rem;
}

.transfer {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 500;
  font-family: var(--tittle-16-m);
  color: var(--color-lightcyan-100);
  text-align: left;
}

.transferDomainButton,
.transferDomainButton:hover {
  border: 1px solid var(--color-lightcyan-400);
  box-sizing: border-box;
}

.transferDomainButton {
  cursor: pointer;
  padding: var(--padding-3xs);
  background-color: transparent;
  position: absolute;
  top: 18.38rem;
  left: calc(50% - 113px);
  border-radius: var(--br-6xl);
  box-shadow: 0 0 5px rgba(217, 248, 255, 0.5);
  width: 2.63rem;
  height: 2.63rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.transferDomainButton:hover {
  box-shadow: 0 0 4px 1px #d9f8ff;
}

.transferDomainButton:active {
  background-color: var(--color-lightcyan-200);
}

.transferDomainButton1,
.transferDomainButton1:hover {
  border: 1px solid var(--color-lightcyan-400);
  box-sizing: border-box;
}

.transferDomainButton1 {
  cursor: pointer;
  padding: var(--padding-3xs);
  background-color: transparent;
  position: absolute;
  top: 18.38rem;
  left: calc(50% - 57px);
  border-radius: var(--br-6xl);
  box-shadow: 0 0 5px rgba(217, 248, 255, 0.5);
  width: 2.63rem;
  height: 2.63rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.transferDomainButton1:hover {
  box-shadow: 0 0 4px 1px #d9f8ff;
}

.transferDomainButton1:active {
  background-color: var(--color-lightcyan-200);
}

.transferDomainButton2,
.transferDomainButton2:hover {
  border: 1px solid var(--color-lightcyan-400);
  box-sizing: border-box;
}

.transferDomainButton2 {
  cursor: pointer;
  padding: var(--padding-3xs);
  background-color: transparent;
  position: absolute;
  top: 18.38rem;
  left: calc(50% - 0px);
  border-radius: var(--br-6xl);
  box-shadow: 0 0 5px rgba(217, 248, 255, 0.5);
  width: 2.63rem;
  height: 2.63rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.transferDomainButton2:hover {
  box-shadow: 0 0 4px 1px #d9f8ff;
}

.transferDomainButton2:active {
  background-color: var(--color-lightcyan-200);
}

.transferDomainButton3,
.transferDomainButton3:hover {
  border: 1px solid var(--color-lightcyan-400);
  box-sizing: border-box;
}

.transferDomainButton3 {
  cursor: pointer;
  padding: var(--padding-3xs);
  background-color: transparent;
  position: absolute;
  top: 18.38rem;
  left: calc(50% + 56px);
  border-radius: var(--br-6xl);
  box-shadow: 0 0 5px rgba(217, 248, 255, 0.5);
  width: 2.63rem;
  height: 2.63rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.transferDomainButton3:hover {
  box-shadow: 0 0 4px 1px #d9f8ff;
}

.transferDomainButton3:active {
  background-color: var(--color-lightcyan-200);
}

.limitOrder {
  position: absolute;
  top: 1rem;
  left: 2.25rem;
  line-height: 1.71rem;
  color: var(--color-slategray-100);
  display: inline-block;
  width: 5.94rem;
  height: 1.88rem;
}

.instanceChild {
  position: absolute;
  top: 0;
  left: calc(50% - 48px);
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-600);
  width: 5.75rem;
  height: 1.63rem;
}

.buy {
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buy,
.instanceItem,
.sell {
  position: absolute;
  top: 0;
  height: 1.63rem;
  cursor: pointer;
}

.sell {
  display: flex;
  align-items: center;
  justify-content: center;
  left: 55px;
  width: auto;
}

.activeSide {
  border-radius: var(--br-6xl);
  background-color: var(--color-lightcyan-200);
  box-shadow: 0 0 5px #d9f8ff;
  border: 1px solid var(--color-lightcyan-100);
  box-sizing: border-box;
  width: auto;
  padding: 0 8px;
  margin-right: 1.5rem;
}

.rectangleParent {
  position: absolute;
  top: 1rem;
  left: 12.44rem;
  width: 6rem;
  height: 1.81rem;
  font-size: var(--font-size-sm);
  color: var(--color1);
}

.listPanel {
  top: 5.06rem;
  left: calc(50% + 349px);
  border-radius: var(--br-xl);
  box-shadow: 0 0 4px #88d6ff;
  width: 20.63rem;
  height: 27.5rem;
  overflow: hidden;
  font-size: var(--font-size-mini);
  color: var(--color-lightcyan-100);
}

.chart1,
.lamp2,
.listPanel {
  position: absolute;
}

.lamp2 {
  top: 0;
  left: calc(50% - 507.5px);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(119, 186, 234, 0.2),
    rgba(37, 58, 73, 0.06) 47.92%,
    transparent
  );
  width: 63.44rem;
  height: 56.88rem;
  overflow: hidden;
}

.chart1 {
  top: 0.88rem;
  left: 2.25rem;
  line-height: 1.71rem;
  display: inline-block;
  width: 3.25rem;
  height: 1.88rem;
}

.instanceInner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-600);
  width: 12.75rem;
  height: 1.81rem;
}

.d,
.h {
  position: relative;
  line-height: 1.71rem;
  display: inline-block;
  width: 1.69rem;
  height: 1.63rem;
  flex-shrink: 0;
}

.d {
  width: 1.88rem;
}

.hParent {
  position: absolute;
  top: 0.13rem;
  left: 0.56rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}

.rectangleDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-lightcyan-200);
  box-shadow: 0 0 5px #d9f8ff;
  border: 1px solid var(--color-lightcyan-100);
  box-sizing: border-box;
  width: 2.25rem;
  height: 1.81rem;
}

.rectangleGroup {
  top: 1.13rem;
  left: 48.63rem;
  width: 12.75rem;
  height: 1.81rem;
  font-size: var(--font-size-sm);
  color: var(--color1);
}

.div,
.lineIcon,
.rectangleGroup {
  position: absolute;
}

.div {
  top: -0.56rem;
  left: -0.94rem;
}

.lineIcon {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 0.06rem;
}

.lineChild,
.yAxis {
  align-self: stretch;
  position: relative;
}

.yAxis {
  flex: 1;
}

.lineChild {
  background-color: var(--color2);
  height: 0.06rem;
}

.line {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.yAxis0 {
  align-self: stretch;
  position: relative;
  height: 0.06rem;
}

.text,
.y {
  position: absolute;
}

.y {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: right;
}

.text {
  right: -0.75rem;
  bottom: -1.25rem;
}

.lineItem {
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: var(--color2);
  width: 0.06rem;
}

.line1,
.lineItem,
.xAxis0Child {
  position: absolute;
  right: 0;
}

.line1 {
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}

.xAxis0Child {
  bottom: -0.19rem;
  background-color: var(--color2);
  width: 0.06rem;
  height: 0.19rem;
}

.xAxis0 {
  align-self: stretch;
  position: relative;
  width: 0.06rem;
}

.text1 {
  position: absolute;
  right: -0.72rem;
  bottom: -1.25rem;
}

.lineInner {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color3);
  width: 0.06rem;
}

.line2,
.xAxisChild {
  position: absolute;
  right: -0.03rem;
}

.line2 {
  height: 100%;
  width: calc(100% + 0.5px);
  top: 0;
  bottom: 0;
  left: 0;
}

.xAxisChild {
  bottom: -0.19rem;
  background-color: var(--color3);
  width: 0.06rem;
  height: 0.19rem;
}

.text2,
.text3 {
  bottom: -1.25rem;
}

.text2 {
  position: absolute;
  right: -0.59rem;
}

.text3 {
  right: -0.53rem;
}

.text3,
.text4,
.x {
  position: absolute;
}

.text4 {
  right: -0.66rem;
  bottom: -1.25rem;
}

.x {
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  height: 0.06rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.text7,
.text8 {
  position: absolute;
  right: -0.87rem;
  bottom: -1.25rem;
  display: none;
}

.text8 {
  right: -0.91rem;
}

.lineIcon6 {
  height: 100%;
  width: calc(100% + 0.5px);
  right: -0.03rem;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.chart9Icon,
.lineIcon6,
.x1 {
  position: absolute;
  top: 0;
}

.x1 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.chart9Icon {
  left: -0.01rem;
  width: 59.26rem;
  height: 27.43rem;
}

.hoverLineIcon {
  position: absolute;
  height: 100%;
  width: 0.51%;
  top: 0;
  right: 99.75%;
  bottom: 0;
  left: -0.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.text14 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  color: var(--color1);
}

.div8 {
  position: absolute;
  top: 0.13rem;
  left: 0.13rem;
  border-radius: var(--br-12xs);
  background: linear-gradient(-90deg, #725cfa, rgba(114, 92, 250, 0.2));
  width: 0.5rem;
  height: 0.5rem;
}

.wrapper {
  width: 0.75rem;
  height: 0.75rem;
}

.legend1,
.wrapper {
  position: relative;
}

.legendinfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}

.div9 {
  position: relative;
  color: var(--color1);
}

.div7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.div11 {
  background: linear-gradient(270deg, #f6db7a, #adff00);
}

.div11,
.div14,
.div17 {
  position: absolute;
  top: 0.13rem;
  left: 0.13rem;
  border-radius: var(--br-12xs);
  width: 0.5rem;
  height: 0.5rem;
}

.div14 {
  background-color: #1fcbf1;
}

.div17 {
  background-color: var(--color-dodgerblue-100);
}

.div16 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: var(--regular-12);
}

.hoverTips {
  position: absolute;
  top: calc(50% - 29.91px);
  left: calc(50% - 47.37px);
  border-radius: 4px;
  background-color: var(--other-hover-bg);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  width: 9.12rem;
  height: 6.93rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}

.hover {
  position: absolute;
  height: 99.78%;
  width: 20.82%;
  top: 0.22%;
  right: 43.87%;
  bottom: 0;
  left: 35.31%;
  text-align: left;
}

.grid,
.transfer4 {
  font-size: var(--regular-12-size);
  font-family: var(--font-roboto);
  color: var(--color);
}

.grid {
  position: absolute;
  top: 4.13rem;
  left: 2.25rem;
  width: 59.13rem;
  height: 29.06rem;
  text-align: center;
}

.transfer4 {
  position: relative;
  text-align: left;
  display: none;
}

.transferDomainButton4 {
  border: 1px solid #563def;
  left: calc(50% + 174.5px);
  background: linear-gradient(270deg, #6353d8, #514ab1, #373c78);
  box-shadow: 0 0 5px rgba(86, 61, 239, 0.5);
}

.transferDomainButton4:hover {
  border: 1px solid var(--color-lightcyan-400);
  box-sizing: border-box;
  box-shadow: 0 0 4px 1px #d9f8ff;
}

.transferDomainButton4:active {
  background-color: var(--color-lightcyan-200);
}

.transferDomainButton4,
.transferDomainButton5,
.transferDomainButton6 {
  cursor: pointer;
  padding: var(--padding-3xs);
  background-color: transparent;
  position: absolute;
  top: 1.38rem;
  border-radius: var(--br-6xl);
  width: 1.31rem;
  height: 1.31rem;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.transferDomainButton5 {
  border: 1px solid #3ddaef;
  left: calc(50% + 230.5px);
  background: linear-gradient(270deg, #1fcbf1, #1fcbf1, #0d7d96);
  box-shadow: 0 0 5px rgba(61, 218, 239, 0.5);
}

.transferDomainButton5:hover {
  border: 1px solid var(--color-lightcyan-400);
  box-sizing: border-box;
  box-shadow: 0 0 4px 1px #d9f8ff;
}

.transferDomainButton5:active {
  background-color: var(--color-lightcyan-200);
}

.transferDomainButton6 {
  border: 0;
  left: calc(50% + 202.5px);
  background: linear-gradient(270deg, #affe03, #efdf6d);
  box-shadow: 0 0 5px rgba(175, 254, 3, 0.5);
}

.transferDomainButton6:hover {
  border: 1px solid var(--color-lightcyan-400);
  box-sizing: border-box;
  box-shadow: 0 0 4px 1px #d9f8ff;
}

.transferDomainButton6:active {
  background-color: var(--color-lightcyan-200);
}

.chart,
.lamp3 {
  position: absolute;
  overflow: hidden;
}

.chart {
  top: 11.5rem;
  left: calc(50% - 675px);
  border-radius: var(--br-xl);
  box-shadow: 0 0 4px #88d6ff;
  width: 63.44rem;
  height: 35.75rem;
  font-size: var(--font-size-mini);
}

.lamp3 {
  top: -38.19rem;
  left: calc(50% - 249px);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(119, 186, 234, 0.2),
    rgba(37, 58, 73, 0.06) 47.92%,
    transparent
  );
  width: 32.38rem;
  height: 76.31rem;
}

.dxe {
  top: 0;
  left: 4.38rem;
  line-height: 1.71rem;
  display: inline-block;
  width: 6.56rem;
}

.dxe,
.lineDiv,
.usdc {
  position: absolute;
}

.usdc {
  top: 0;
  left: 10.44rem;
  line-height: 1.71rem;
  display: inline-block;
  width: 6.56rem;
}

.lineDiv {
  top: 1.53rem;
  left: 0.09rem;
  border-top: 1px solid var(--color-slategray-100);
  box-sizing: border-box;
  width: 16.69rem;
  height: 0.06rem;
}

.dxeParent {
  position: absolute;
  top: 0.63rem;
  left: 0.75rem;
  width: 16.75rem;
  height: 1.63rem;
  color: var(--color-lightcyan-100);
}

.wallet {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1.71rem;
  display: inline-block;
  width: 6.5rem;
}

.dexParent,
.walletParent {
  position: absolute;
  top: 2.69rem;
  left: 0.75rem;
  width: 16.75rem;
  height: 1.63rem;
}

.dexParent {
  top: 4.31rem;
}

.div21,
.div22 {
  position: absolute;
  top: 2.69rem;
  left: 11.19rem;
  line-height: 1.71rem;
  display: inline-block;
  width: 6.56rem;
}

.div22 {
  top: 4.31rem;
}

.settle {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--tittle-16-m);
  color: var(--color-lightcyan-100);
  text-align: left;
}

.createPositionButton1,
.createPositionButton2 {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-xs);
  background-color: var(--color-darkslategray-100);
  position: absolute;
  top: 6.94rem;
  left: 4.94rem;
  border-radius: var(--br-6xl);
  box-shadow: 0 0 5px #d9f8ff;
  width: 4.56rem;
  height: 1.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.createPositionButton1:hover {
  border: 1px solid var(--color-lightcyan-600);
  box-sizing: border-box;
  box-shadow: -1px -1px 4px 1px rgba(217, 248, 255, 0.5),
    1px 1px 4px 1px rgba(217, 248, 255, 0.5);
}

.createPositionButton1:active {
  background-color: var(--color-lightcyan-500);
  border: 1px solid var(--color-slategray-400);
  box-sizing: border-box;
}

.createPositionButton2 {
  left: 11.19rem;
}

.createPositionButton2:hover {
  border: 1px solid var(--color-lightcyan-600);
  box-sizing: border-box;
  box-shadow: -1px -1px 4px 1px rgba(217, 248, 255, 0.5),
    1px 1px 4px 1px rgba(217, 248, 255, 0.5);
}

.createPositionButton2:active {
  background-color: var(--color-lightcyan-500);
  border: 1px solid var(--color-slategray-400);
  box-sizing: border-box;
}

.frameParent {
  position: absolute;
  top: 3.75rem;
  left: 0.94rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-800);
  box-shadow: 0 0 5px rgba(217, 248, 255, 0.5);
  width: 17.5rem;
  height: 10rem;
}

.blance1 {
  position: absolute;
  top: 0.88rem;
  left: 2.25rem;
  font-size: var(--font-size-mini);
  line-height: 1.71rem;
  display: inline-block;
  width: 5.69rem;
  height: 1.88rem;
}

.createPositionButton3 {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-xs);
  background-color: var(--color-darkslategray-100);
  top: 1.06rem;
  left: 10.69rem;
  border-radius: var(--br-6xl);
  box-shadow: 0 0 5px #d9f8ff;
  width: 6.75rem;
  height: 1.5rem;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.createPositionButton3:hover {
  border: 1px solid var(--color-lightcyan-600);
  box-sizing: border-box;
  box-shadow: -1px -1px 4px 1px rgba(217, 248, 255, 0.5),
    1px 1px 4px 1px rgba(217, 248, 255, 0.5);
}

.createPositionButton3:active {
  background-color: var(--color-lightcyan-500);
  border: 1px solid var(--color-slategray-400);
  box-sizing: border-box;
}

.blance,
.createPositionButton3,
.lamp4 {
  position: absolute;
  overflow: hidden;
}

.blance {
  top: 48rem;
  left: calc(50% + 30px);
  border-radius: var(--br-xl);
  box-shadow: 0 0 4px #88d6ff;
  width: 19.38rem;
  height: 15rem;
}

.lamp4 {
  top: -38.19rem;
  left: calc(50% - 345px);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(119, 186, 234, 0.2),
    rgba(37, 58, 73, 0.06) 47.92%,
    transparent
  );
  width: 43.13rem;
  height: 76.31rem;
}

.price,
.side,
.size {
  position: absolute;
  top: 0;
  line-height: 1.71rem;
  display: inline-block;
}

.side {
  left: 6.5rem;
  width: 4.75rem;
  height: 1.88rem;
}

.price,
.size {
  left: 12rem;
  width: 6.56rem;
}

.price {
  left: 20.44rem;
}

.frameChild1 {
  position: absolute;
  top: 1.53rem;
  left: 0.09rem;
  border-top: 1px solid var(--color-slategray-100);
  box-sizing: border-box;
  width: 38.38rem;
  height: 0.06rem;
}

.marketParent {
  position: absolute;
  top: 0.63rem;
  left: 0.75rem;
  width: 38.44rem;
  height: 1.63rem;
  color: var(--color-lightcyan-100);
}

.createPositionButton4 {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-xs);
  background-color: var(--color-darkslategray-100);
  position: absolute;
  top: 0.13rem;
  left: 30.94rem;
  border-radius: var(--br-6xl);
  box-shadow: 0 0 5px #d9f8ff;
  width: 4.69rem;
  height: 1.25rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.createPositionButton4:hover {
  border: 1px solid var(--color-lightcyan-600);
  box-sizing: border-box;
  box-shadow: -1px -1px 4px 1px rgba(217, 248, 255, 0.5),
    1px 1px 4px 1px rgba(217, 248, 255, 0.5);
}

.createPositionButton4:active {
  background-color: var(--color-lightcyan-500);
  border: 1px solid var(--color-slategray-400);
  box-sizing: border-box;
}

.dxeusdcGroup,
.dxeusdcParent {
  position: absolute;
  top: 2.19rem;
  left: 0.75rem;
  width: 38.44rem;
  height: 1.63rem;
}

.dxeusdcGroup {
  top: 3.81rem;
}

.dxeusdcContainer,
.dxeusdcParent1,
.dxeusdcParent2,
.frameGroup {
  position: absolute;
  top: 5.44rem;
  left: 0.75rem;
  width: 38.44rem;
  height: 1.63rem;
}

.dxeusdcParent1,
.dxeusdcParent2,
.frameGroup {
  top: 7.19rem;
}

.dxeusdcParent2,
.frameGroup {
  top: 8.94rem;
}

.frameGroup {
  top: 3.75rem;
  left: 0.94rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-800);
  box-shadow: 0 0 5px rgba(217, 248, 255, 0.5);
  width: 40.44rem;
  height: 11.63rem;
}

.orders1 {
  position: absolute;
  top: 0.88rem;
  left: 2.25rem;
  font-size: var(--font-size-mini);
  line-height: 1.71rem;
  display: inline-block;
  width: 3.25rem;
  height: 1.88rem;
}

.component4Child {
  position: absolute;
  height: 89.66%;
  width: 95.89%;
  top: 0;
  right: 4.11%;
  bottom: 10.34%;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-600);
}

.all {
  position: relative;
  line-height: 1.71rem;
  display: inline-block;
  width: 2.44rem;
  height: 1.63rem;
  flex-shrink: 0;
}

.allParent,
.component4Item {
  position: absolute;
  height: 89.66%;
  top: 0;
  bottom: 10.34%;
}

.allParent {
  width: 84.25%;
  right: 7.52%;
  left: 8.23%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}

.component4Item {
  width: 34.25%;
  right: 65.75%;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-lightcyan-200);
  box-shadow: 0 0 5px #d9f8ff;
  border: 1px solid var(--color-lightcyan-100);
  box-sizing: border-box;
}

.component4 {
  position: absolute;
  top: 0.88rem;
  left: 24.25rem;
  width: 9.13rem;
  height: 1.81rem;
  font-size: var(--font-size-sm);
  color: var(--color1);
}

.createPositionButton9,
.orders {
  position: absolute;
  overflow: hidden;
}

.createPositionButton9 {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-xs);
  background-color: var(--color-darkslategray-100);
  top: 1rem;
  left: 34.25rem;
  border-radius: var(--br-6xl);
  box-shadow: 0 0 5px #d9f8ff;
  width: 6.75rem;
  height: 1.5rem;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.createPositionButton9:hover {
  border: 1px solid var(--color-lightcyan-600);
  box-sizing: border-box;
  box-shadow: -1px -1px 4px 1px rgba(217, 248, 255, 0.5),
    1px 1px 4px 1px rgba(217, 248, 255, 0.5);
}

.createPositionButton9:active {
  background-color: var(--color-lightcyan-500);
  border: 1px solid var(--color-slategray-400);
  box-sizing: border-box;
}

.orders {
  top: 48rem;
  left: calc(50% - 675px);
  border-radius: var(--br-xl);
  box-shadow: 0 0 4px #88d6ff;
  width: 43.13rem;
  height: 16.25rem;
}

.size1 {
  top: 0;
  left: 0;
  line-height: 1.71rem;
  display: inline-block;
  width: 5.25rem;
}

.price1,
.size1,
.sizeParent {
  position: absolute;
  height: 1.88rem;
}

.price1 {
  top: 0;
  left: 13rem;
  line-height: 1.71rem;
  text-align: right;
  display: inline-block;
  width: 3.75rem;
}

.sizeParent {
  top: 0.31rem;
  left: 0.94rem;
  width: 16.25rem;
  font-size: var(--font-size-mini);
  color: var(--color-slategray-100);
}

.div33,
.div34 {
  line-height: 1.71rem;
  display: inline-block;
}

.div33 {
  left: 0;
  width: 8.5rem;
}

.div34 {
  left: 14rem;
  text-align: right;
  width: 7.5rem;
  height: 1.88rem;
}

.frameChild2,
.group,
.parent,
.parent1,
.parent2,
.parent3 {
  position: absolute;
  top: 2.19rem;
  left: 0.94rem;
  width: 16.25rem;
  height: 1.88rem;
}

.frameChild2,
.group,
.parent1,
.parent2,
.parent3 {
  top: 4.06rem;
}

.frameChild2,
.parent1,
.parent2,
.parent3 {
  top: 5.94rem;
}

.frameChild2,
.parent2,
.parent3 {
  top: 7.81rem;
}

.frameChild2,
.parent3 {
  top: 9.69rem;
}

.parent4 {
  position: relative;
  top: 2rem;
  left: 1rem;
}

.frameChild2 {
  top: 11.56rem;
}

.frameChild2 {
  top: 13.41rem;
  width: 16.75rem;
  height: 0.06rem;
}

.asksWraper {
  margin-top: 2rem;
}

.parent5 {
  position: relative;
  left: 1rem;
  width: 16.25rem;
  height: 1.88rem;
  color: var(--color-firebrick-200);
}

.parent6,
.parent7 {
  position: absolute;
  left: 0.94rem;
}

.parent6 {
  top: 15.31rem;
  width: 16.25rem;
  height: 1.88rem;
  color: var(--color-firebrick-200);
}

.parent7 {
  top: 17.19rem;
}

.parent7,
.parent8,
.parent9 {
  width: 16.25rem;
  height: 1.88rem;
  color: var(--color-firebrick-200);
}

.parent8 {
  position: absolute;
  top: 19.06rem;
  left: 0.94rem;
}

.parent9 {
  top: 20.94rem;
}

.frameContainer,
.parent10,
.parent9 {
  position: absolute;
  left: 0.94rem;
}

.parent10 {
  top: 22.81rem;
  width: 16.25rem;
  height: 1.88rem;
  color: var(--color-firebrick-200);
}

.frameContainer {
  top: 3.13rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-800);
  box-shadow: 0 0 5px rgba(217, 248, 255, 0.5);
  width: 18.75rem;
  height: 25.56rem;
}

.component41,
.orderBook1 {
  position: absolute;
  top: 0.69rem;
}

.orderBook1 {
  left: 2.25rem;
  font-size: var(--font-size-mini);
  line-height: 1.71rem;
  color: var(--color-slategray-100);
  display: inline-block;
  width: 5.13rem;
  height: 1.88rem;
}

.component41 {
  left: 9.75rem;
  width: 9.13rem;
  height: 1.81rem;
  font-size: var(--font-size-sm);
  color: var(--color1);
}

.orderBook {
  top: 33rem;
  left: calc(50% + 349px);
  border-radius: var(--br-xl);
  box-shadow: 0 0 4px #88d6ff;
  width: 20.63rem;
  height: 30rem;
  color: var(--color-aquamarine);
}

.lamp6,
.orderBook,
.vectorIcon {
  position: absolute;
  overflow: hidden;
}

.lamp6 {
  top: -12.5rem;
  left: calc(50% - 507.5px);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(119, 186, 234, 0.1),
    rgba(37, 58, 73, 0.03) 47.92%,
    transparent
  );
  width: 63.44rem;
  height: 25.06rem;
}

.vectorIcon {
  height: 57.14%;
  width: 7.94%;
  top: 22.86%;
  right: 4.37%;
  bottom: 20%;
  left: 87.7%;
  max-width: 100%;
  max-height: 100%;
}

.selectMarket {
  position: absolute;
  height: 62.86%;
  width: 59.13%;
  top: 17.14%;
  left: 7.14%;
  font-size: var(--tittle-16-m-size);
  line-height: 1.71rem;
  font-family: var(--tittle-16-m);
  color: var(--color-slategray-100);
  text-align: left;
  display: flex;
  align-items: center;
}

.vectorParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gray-800);
  position: absolute;
  top: 2.31rem;
  left: 1.25rem;
  border-radius: var(--br-6xl);
  box-shadow: 0 0 5px rgba(217, 248, 255, 0.5);
  width: 15.75rem;
  height: 2.19rem;
  color: D9F8FF;
}

.dxeusdc5,
.totalVolume {
  position: absolute;
  line-height: 1.71rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.13rem;
}

.dxeusdc5 {
  top: 0.81rem;
  left: 18.5rem;
}

.totalVolume {
  top: 0;
  left: 32.63rem;
  height: 3.38rem;
}

.lastOrder {
  top: 0;
  left: 46.75rem;
  display: flex;
}

.div57,
.div58,
.lastOrder,
.lastOrder1 {
  position: absolute;
  line-height: 1.71rem;
  align-items: center;
  justify-content: center;
  width: 14.13rem;
  height: 3.38rem;
}

.lastOrder1 {
  top: 0;
  left: 46.75rem;
  font-size: var(--font-size-xl);
  display: none;
}

.div57,
.div58 {
  top: 2.13rem;
  left: 32.63rem;
  font-size: var(--tittle-16-m-size);
  color: var(--color-slategray-100);
  display: flex;
}

.div58 {
  left: 46.75rem;
  color: var(--color-aquamarine);
}

.usdCoinUsdcLogo2Icon {
  position: absolute;
  top: 3.19rem;
  left: 25.88rem;
  width: 1.38rem;
  height: 1.31rem;
  object-fit: cover;
}

.circlePlusSolid1,
.vectorIcon1 {
  position: absolute;
  overflow: hidden;
}

.vectorIcon1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}

.circlePlusSolid1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 2.63rem;
  left: 17.75rem;
  border-radius: var(--br-3xs);
  width: 1.25rem;
  height: 1.25rem;
}

.arrowUpSolid1Icon {
  position: absolute;
  top: 3.13rem;
  left: 57.69rem;
  width: 1rem;
  height: 1.33rem;
  overflow: hidden;
}

.sitelogoCopy1 {
  position: absolute;
  top: 2.94rem;
  left: 23.06rem;
  width: 1.88rem;
  height: 1.88rem;
  object-fit: cover;
}

.market2 {
  position: absolute;
  top: 0.25rem;
  left: 2.25rem;
  font-size: var(--font-size-mini);
  line-height: 1.71rem;
  color: var(--color-slategray-100);
  text-align: left;
  display: inline-block;
  width: 5.94rem;
  height: 1.63rem;
}

.market1 {
  position: absolute;
  top: 5.06rem;
  left: calc(50% - 675px);
  border-radius: var(--br-xl);
  box-shadow: 0 0 4px #88d6ff;
  width: 63.44rem;
  height: 5.63rem;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-lightcyan-100);
}

.tradePanel {
  position: absolute;
  top: 0;
  left: calc(50% - 866px);
  width: 108.25rem;
  height: 75rem;
  overflow-y: auto;
}

.lamp7 {
  position: absolute;
  top: -14.81rem;
  left: calc(50% - 550px);
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(119, 206, 234, 0.2),
      transparent
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(251, 0, 196, 0) 3.49%,
      rgba(119, 186, 234, 0) 7.6%,
      rgba(253, 0, 197, 0) 10.46%,
      rgba(119, 186, 234, 0) 14.46%,
      rgba(255, 0, 199, 0) 18.56%,
      rgba(3, 0, 3, 0) 19.53%,
      transparent 79.82%,
      rgba(246, 0, 192, 0) 81.08%,
      rgba(119, 186, 234, 0) 84.04%,
      rgba(247, 0, 193, 0) 86.61%,
      rgba(119, 186, 234, 0) 91.01%,
      rgba(249, 0, 194, 0) 95.16%,
      rgba(119, 186, 234, 0) 98.6%
    );
  width: 70.81rem;
  height: 18.81rem;
  overflow: hidden;
}

.lend,
.swap {
  color: inherit;
  display: inline-block;
}

.swap {
  text-decoration: none;
  position: absolute;
  top: 0.94rem;
  left: calc(50% - 318px);
  line-height: 1.71rem;
  width: 3.94rem;
  cursor: pointer;
}

.dao:hover,
.dashbord:hover,
.farm:hover,
.lend:hover,
.stake1:hover,
.stake:hover,
.swap:hover,
.trade:hover,
.yield:hover {
  color: var(--color-lightcyan-100);
}

.lend {
  left: calc(50% - 128px);
  width: 3.88rem;
}

.farm,
.lend,
.stake,
.trade,
.yield {
  text-decoration: none;
  position: absolute;
  top: 0.94rem;
  line-height: 1.71rem;
  cursor: pointer;
}

.trade {
  left: calc(50% - 223px);
  color: var(--color-lightcyan-100);
  display: inline-block;
  width: 3.94rem;
}

.farm,
.stake,
.yield {
  color: inherit;
}

.yield {
  left: calc(50% - 34px);
  display: inline-block;
  width: 6.63rem;
}

.farm,
.stake {
  left: calc(50% + 120px);
}

.stake {
  left: calc(50% + 220px);
}

.frameChild3 {
  position: absolute;
  top: 2.78rem;
  left: calc(50% - 223.5px);
  box-shadow: 0 0 2px #88d6ff;
  border-top: 1px solid var(--color-lightcyan-300);
  box-sizing: border-box;
  width: 4rem;
  height: 0.06rem;
}

.dao,
.dashbord,
.stake1 {
  text-decoration: none;
  position: absolute;
  top: 0.94rem;
  line-height: 1.71rem;
  color: inherit;
  cursor: pointer;
}

.dashbord {
  left: calc(50% - 468px);
  display: inline-block;
  width: 7.38rem;
}

.dao,
.stake1 {
  left: calc(50% + 425px);
}

.dao {
  left: calc(50% + 316px);
  display: inline-block;
  width: 4.81rem;
}

.swapParent {
  position: absolute;
  top: 0.44rem;
  left: calc(50% - 566px);
  width: 59.38rem;
  height: 3.13rem;
  overflow: hidden;
}

.dexifiLogoIcon {
  position: absolute;
  top: 0.31rem;
  left: 0.63rem;
  width: 4.81rem;
  height: 3.69rem;
  object-fit: cover;
  cursor: pointer;
}

.connectWallet {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-lgi);
  font-family: var(--tittle-16-m);
  color: var(--color-lightcyan-100);
  text-align: left;
  display: inline-block;
}

.connectWalletWrapper {
  cursor: pointer;
  border: 1px solid var(--color-lightcyan-400);
  padding: var(--padding-8xs) var(--padding-5xl);
  background-color: var(--color-gray-600);
  position: absolute;
  top: 0.88rem;
  left: 4.38rem;
  border-radius: var(--br-23xl);
  box-shadow: 0 0 4px 1px rgba(217, 248, 255, 0.25);
  box-sizing: border-box;
  height: 2.56rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.connectWalletWrapper:hover {
  background-color: var(--color-lightcyan-500);
  box-shadow: 0 0 4px 3px rgba(217, 248, 255, 0.25);
}

.connectWalletWrapper:active {
  mix-blend-mode: luminosity;
  background-color: var(--color-lightcyan-400);
}

.vectorIcon2,
.vectorIcon3 {
  position: absolute;
  top: calc(50% - 12.25px);
  left: calc(50% - 12.25px);
  width: 1.53rem;
  height: 1.53rem;
}

.vectorIcon3 {
  top: calc(50% - 4.25px);
  left: calc(50% - 4.25px);
  width: 0.53rem;
  height: 0.53rem;
}

.iconSettings {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 1.44rem;
  height: 1.44rem;
}

.iconSettingsWrapper {
  cursor: pointer;
  border: 1px solid var(--color-slategray-100);
  padding: var(--padding-4xs);
  background-color: var(--color-gray-600);
  position: absolute;
  top: 0.88rem;
  right: 14.56rem;
  border-radius: var(--br-23xl);
  box-shadow: 0 0 5px #d9f8ff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.iconSettingsWrapper:hover {
  background-color: var(--color-lightcyan-500);
}

.iconSettingsWrapper:active {
  mix-blend-mode: luminosity;
  background-color: var(--color-lightcyan-400);
}

.header,
.instanceParent {
  position: absolute;
  top: 0;
  right: 0;
}

.instanceParent {
  width: 17.88rem;
  height: 4.44rem;
  overflow: hidden;
}

.header {
  width: 100%;
  left: 0;
  background-color: var(--color-gray-500);
  height: 4.06rem;
  text-align: center;
  font-size: var(--font-size-5xl);
  font-family: var(--font-helvetica);
}

.utc {
  margin: 0;
}

.v101202204202200UtcContainer {
  position: absolute;
  bottom: 0.38rem;
  left: 0;
  font-size: var(--tittle-16-m-size);
  line-height: 1.71rem;
  font-weight: 100;
  font-family: var(--font-roboto);
  color: var(--color1);
  display: inline-block;
  width: 13.03rem;
}

.indextrade {
  position: relative;
  background-color: var(--color-gray-600);
  width: 100%;
  height: 75rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-slategray-100);
  font-family: var(--tittle-16-m);
}

@media screen and (max-width: 1200px) {
  .circlePlusSolid1:hover,
  .vectorParent:hover {
    background-color: var(--color-gray-1300);
  }
}
