.lamp {
  position: absolute;
  top: -31.5rem;
  left: calc(50% - 866px);
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(119, 186, 234, 0.2),
      transparent
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(251, 0, 196, 0) 3.49%,
      rgba(119, 186, 234, 0) 7.6%,
      rgba(253, 0, 197, 0) 10.46%,
      rgba(119, 186, 234, 0) 14.46%,
      rgba(255, 0, 199, 0) 18.56%,
      rgba(3, 0, 3, 0) 19.53%,
      transparent 79.82%,
      rgba(246, 0, 192, 0) 81.08%,
      rgba(119, 186, 234, 0) 84.04%,
      rgba(247, 0, 193, 0) 86.61%,
      rgba(119, 186, 234, 0) 91.01%,
      rgba(249, 0, 194, 0) 95.16%,
      rgba(119, 186, 234, 0) 98.6%
    );
  width: 108.25rem;
  height: 63.63rem;
  overflow: hidden;
}

.totalBorrowParent {
  width: 54.06rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr 1.5fr 1fr 2fr;
  gap: 10px;
  color: var(--color-lightcyan-100);
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(217, 248, 255, 0.70);
}

.poolOverwiewChild {
  position: absolute;
  top: 11.56rem;
  left: 57.31rem;
  width: 18rem;
  height: 15.69rem;
  overflow: hidden;
}

.poolDetails,
.solend {
  font-size: var(--font-size-lg);
}

.poolDetails {
  max-width: 42.88rem;
}

.poolFillingRate {
  margin: 0;
}


.graphicIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.div,
.div1,
.div2 {
  position: absolute;
  height: 15.45%;
  width: 6.93%;
  top: 84.55%;
  left: 0;
  display: inline-block;
}

.div1,
.div2 {
  width: 13.86%;
  top: 0;
  left: 41.98%;
}

.div2 {
  width: 19.8%;
  top: 84.55%;
  left: 80.2%;
}

.text,
.tickMarkIcon {
  position: absolute;
  display: none;
}

.text {
  top: 1.34rem;
  left: 2.14rem;
  width: 4.5rem;
  height: 5.27rem;
}

.tickMarkIcon {
  height: 83.33%;
  width: 83.33%;
  top: 8.33%;
  right: 8.33%;
  bottom: 8.33%;
  left: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.div3 {
  position: absolute;
  bottom: 3.69rem;
  left: calc(55% - 31.5px);
  font-size: var(--font-size-lg);
  font-family: var(--tittle-16-m);
  color: #61c7cb;
  text-align: center;
}

.basicGauge {
  position: relative;
  width: 8.56rem;
  height: 8.69rem;
  text-align: left;
  font-size: var(--font-size-7xs);
  color: var(--color);
  font-family: var(--font-roboto);
}

.poolFillingRateTotalBorroParent {
  width: 14.06rem;
  text-align: center;
  font-size: var(--font-size-sm);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poolOverview {
  font-size: var(--font-size-21xl);
  line-height: 1.71rem;
  
  font-family: var(--font-helvetica);
  color: var(--color-lightcyan-100);
  display: inline-block;
  margin-bottom: 15px;
}

.poolOverwiew {
  width: 100%;
}

.lamp1{
  position: absolute;
  overflow: hidden;
  pointer-events: none;
}

.walletNetwortPanel {
  border-radius: var(--br-11xl);
  box-shadow: 0 0 4px rgba(217, 248, 255, 0.5);
  border: 1px solid var(--color-lightcyan-400);
  box-sizing: border-box;
  width: 100%;
  color: var(--color-slategray-100);
  padding: 30px 20px;
  margin-bottom: 10px;
}

.lamp1 {
  top: -0.12rem;
  left: calc(50% - 475.5px);
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(119, 186, 234, 0.1),
      transparent
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(251, 0, 196, 0) 3.49%,
      rgba(119, 186, 234, 0) 7.6%,
      rgba(253, 0, 197, 0) 10.46%,
      rgba(119, 186, 234, 0) 14.46%,
      rgba(255, 0, 199, 0) 18.56%,
      rgba(3, 0, 3, 0) 19.53%,
      transparent 79.82%,
      rgba(246, 0, 192, 0) 81.08%,
      rgba(119, 186, 234, 0) 84.04%,
      rgba(247, 0, 193, 0) 86.61%,
      rgba(119, 186, 234, 0) 91.01%,
      rgba(249, 0, 194, 0) 95.16%,
      rgba(119, 186, 234, 0) 98.6%
    );
  width: 59.44rem;
  height: 41.88rem;
}

.totalParent {
  width: 100%;
  border-bottom: 1px solid var(--color-lightcyan-100);
  display: grid;
  grid-template-columns: 3.2fr 1.6fr 2fr;
}

.kSol {
  font-size: var(--font-size-sm);
  color: var(--color-slategray-100);
}
.kSol1 {
  font-size: var(--font-size-sm);
  color: var(--color-slategray-100);
}


.sol {
  font-size: var(--font-size-xl);
  display: block;
}

.div4 {
  display: block;
}

.div4,
.span {
  color: var(--color-slategray-100);
}


.div5,
.div6,
.supply1 {
  color: var(--color-slategray-100);
}

.supply1,
.withdraw,
.repay {
  position: static !important;
  width: auto !important;
  height: auto !important;
}

.supply1 {
  font-size: var(--font-size-mini);
  font-family: var(--tittle-16-m);
  color: var(--color-lightcyan-100);
  text-align: left;
  display: inline-block;
  width: 4.31rem;
  height: 1.44rem;
}

.borrowWrapper,
.supplyWrapper,
.activeSupply,
.activeBorrow {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gray-600);
  border-radius: var(--br-6xl);
  box-shadow: 0 0 5px #d9f8ff;
  width: 4.63rem;
  height: 1.56rem;
  overflow: hidden;
  border: 1px solid transparent;
  background-color: var(--color-darkslategray-200) !important;
}

.supplyWrapper:hover,
.activeSupply:hover,
.borrowWrapper:hover,
.activeBorrow:hover {
  border-color: var(--color-lightcyan-600);
  box-sizing: border-box;
  box-shadow: -1px -1px 4px 1px rgba(217, 248, 255, 0.5),
    1px 1px 4px 1px rgba(217, 248, 255, 0.5);
}

.supplyWrapper:active,
.activeSupply:active,
.borrowWrapper:active,
.activeBorrow:active {
  background-color: var(--color-lightcyan-500);
  border-color: var(--color-slategray-400);
  box-sizing: border-box;
}

.repay {
  left: 0.81rem;
  font-size: var(--font-size-mini);
  
  font-family: var(--tittle-16-m);
  color: var(--color-lightcyan-100);
  text-align: left;
  display: inline-block;
  width: 3.06rem;
  height: 1.44rem;
}


.repayWrapper,
.activeRepay {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gray-600);
  left: 48.25rem;
  border-radius: var(--br-6xl);
  box-shadow: 0 0 5px #d9f8ff;
  width: 4.63rem;
  height: 1.56rem;
  overflow: hidden;
  border: 1px solid transparent;
}

.repayWrapper:hover,
.activeRepay:hover {
  border-color: var(--color-lightcyan-600);
  box-sizing: border-box;
  box-shadow: -1px -1px 4px 1px rgba(217, 248, 255, 0.5),
    1px 1px 4px 1px rgba(217, 248, 255, 0.5);
}

.repayWrapper:active,
.activeRepay:active {
  background-color: var(--color-lightcyan-500);
  border-color: var(--color-slategray-400);
  box-sizing: border-box;
}

.withdraw {
  left: calc(50% - 34.5px);
  font-size: var(--font-size-mini);
  
  font-family: var(--tittle-16-m);
  color: var(--color-lightcyan-100);
  text-align: left;
  display: inline-block;
  width: 4.75rem;
  height: 1.44rem;
}

.withdrawWrapper,
.repayWrapper,
.borrowWrapper,
.supplyWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.withdrawWrapper,
.activeWithdraw {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gray-600);
  border-radius: var(--br-6xl);
  box-shadow: 0 0 5px #d9f8ff;
  width: 5.94rem;
  height: 1.56rem;
  overflow: hidden;
  border: 1px solid transparent;
}

.withdrawWrapper:hover,
.activeWithdraw:hover {
  border-color: var(--color-lightcyan-600);
  box-sizing: border-box;
  box-shadow: -1px -1px 4px 1px rgba(217, 248, 255, 0.5),
    1px 1px 4px 1px rgba(217, 248, 255, 0.5);
}

.withdrawWrapper:active,
.activeWithdraw:active {
  background-color: var(--color-lightcyan-500);
  border-color: var(--color-slategray-400);
  box-sizing: border-box;
}

.solana2Icon {
  width: 1.88rem;
  height: 1.88rem;
  object-fit: cover;
}

.supplyParent {
  position: relative;
  display: grid;
  grid-template-columns: 1.5fr 1.6fr 3fr 0.6fr 1.4fr;
  gap: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(217, 248, 255, 0.70);;
}

.scrollFrame {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
  height: 100%;
}

.lamp2 {
  position: absolute;
  height: 41.75rem;
  overflow: hidden;
  pointer-events: none;
}

.poolInfo {
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-300);
  box-shadow: 0 0 4px rgba(217, 248, 255, 0.25);
  border: 1px solid var(--color-lightcyan-400);
  box-sizing: border-box;
  position: relative;
  padding: 35px 20px;
  max-height: 668px;
  position: relative;
}

.lamp2 {
  top: 0;
  left: calc(50% - 172px);
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(119, 186, 234, 0.1),
      transparent
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(251, 0, 196, 0) 3.49%,
      rgba(119, 186, 234, 0) 7.6%,
      rgba(253, 0, 197, 0) 10.46%,
      rgba(119, 186, 234, 0) 14.46%,
      rgba(255, 0, 199, 0) 18.56%,
      rgba(3, 0, 3, 0) 19.53%,
      transparent 79.82%,
      rgba(246, 0, 192, 0) 81.08%,
      rgba(119, 186, 234, 0) 84.04%,
      rgba(247, 0, 193, 0) 86.61%,
      rgba(119, 186, 234, 0) 91.01%,
      rgba(249, 0, 194, 0) 95.16%,
      rgba(119, 186, 234, 0) 98.6%
    );
  width: 21.5rem;
}


.supplyBalanceContainer {
  
  color: var(--color-deepskyblue-100);
}

.balance308778 {
  
  color: var(--color-lightcyan-100);
}

.borrowBalanceContainer {
  color: var(--color-dodgerblue-100);
}

.borrowLimitContainer,
.liquidationThresholdContainer,
.weightBorrowContainer {
  font-size: var(--font-size-sm);
  
}

.borrowLimitContainer {
  color: var(--color-gold-100);
}

.liquidationThresholdContainer {
  color: #36f097;
}

.frameChild1 {
  border-top: 1px solid var(--color-lightcyan-100);
  border-bottom: 1px solid var(--color-lightcyan-100);
  box-sizing: border-box;
  width: 100%;
  height: 0.06rem;
}



.span8 {
  font-size: var(--font-size-sm);
  color: var(--color-aquamarine);
}


.lineParent {
  width: 100%;
  padding: 5px 0;
  overflow: hidden;
  color: var(--color-deepskyblue-100);
  border-top: 1px solid var(--color-lightcyan-100);
  border-bottom: 1px solid var(--color-lightcyan-100);
}

.icon {
  position: relative;
  width: 3.13rem;
  height: 10.63rem;
}


.parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 5px;
}

.fix {
  width: 100%;
}

.assetSuppliedChild {
  position: absolute;
  top: 3.41rem;
  left: -0.03rem;
  border-top: 1px solid var(--color-lightcyan-100);
  box-sizing: border-box;
  width: 19.44rem;
  height: 0.06rem;
}

.div7,
.div8 {
  position: absolute;
  top: 0;
  left: 12.25rem;
  
  display: inline-block;
  width: 4.44rem;
}

.div8 {
  left: 4.31rem;
  text-align: right;
}

.assetSupplied {
  position: relative;
  top: 0.13rem;
  left: 0;
  width: 19.38rem;
  height: 3.5rem;
  overflow: hidden;
}

.div9,
.msol {
  position: absolute;
  top: 0;
  
}

.msol {
  left: 0;
  font-size: var(--tittle-16-m-size);
  color: var(--color-lightcyan-100);
}

.div9 {
  left: 12.31rem;
  display: inline-block;
  width: 4.44rem;
}

.assetSupplied1,
.assetSupplied2 {
  position: absolute;
  top: 3.63rem;
  left: 0;
  width: 19.38rem;
  height: 3.5rem;
  overflow: hidden;
}

.assetSupplied2 {
  top: 7.13rem;
}

.span9 {
  font-size: var(--font-size-sm);
  color: var(--color-firebrick-200);
}

.assetsBorrowed {
  position: absolute;
  top: 0.06rem;
  left: 0.13rem;
  
}

.lineGroup {
  position: relative;
  margin-top: 1rem;
  left: 0;
  width: 100%;
  height: 1.88rem;
  overflow: hidden;
  font-size: var(--tittle-16-m-size);
  color: var(--color-dodgerblue-100);
  border-top: 1px solid var(--color-lightcyan-100);
  border-bottom: 1px solid var(--color-lightcyan-100);
}

.usdCoinUsdcLogo4Icon {
  position: absolute;
  top: 1.5rem;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
}

.assetBorrowed {
  position: relative;
  /* top: 12.31rem; */
  left: 0;
  width: 19.38rem;
  height: 3.5rem;
}


.scrollPosition {
  width: 100%;
  font-size: var(--font-size-sm);
  color: var(--color-slategray-100);
}

.userPanel {
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-300);
  box-shadow: 0 0 5px rgba(217, 248, 255, 0.25);
  border: 1px solid var(--color-lightcyan-400);
  box-sizing: border-box;
  width: 20vw;
  padding: 15px 18px;
  min-height: 668px;
  position: relative;
}


.frame1272ButtonItem,
.solendMainPool {
  height: 3.13rem;
}

.frame1272ButtonItem {
  border-radius: var(--br-6xl);
  background-color: var(--color-darkslategray-400);
  box-shadow: 0 0 5px #d9f8ff;
  width: 14.06rem;
}

.solendMainPool {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13.75rem;
  cursor: pointer;
}

.activePage {
  border-radius: var(--br-6xl) !important;
  box-shadow: 0 0 5px #d9f8ff !important;
  background-color: var(--color-darkslategray-400) !important;
}

.frame1272Button,
.solendTurboSol {
  height: 3.13rem;
  text-align: center;
  font-size: var(--font-size-3xl);
}

.solendTurboSol {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 13.75rem;
  font-family: var(--tittle-16-m);
  color: var(--color-lightcyan-100);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13.75rem;
}

.frame1272Button {
  display: flex;
  width: 28.25rem;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-600);
  margin-bottom: 26px;
}

.indexlendInner {
  width: 100vw;
  min-height: 100vh;
  padding-bottom: 132px;
}

.walletNetwortPanelParent {
  position: relative;
  width: 80vw;
  margin: 0 auto;
}

.indexlendInner {
  padding-top: 60px;
}

.indexlendInner,
.lamp3,
.swap {
  position: relative;
}

.lamp3 {
  top: -14.81rem;
  left: calc(50% - 550px);
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(119, 206, 234, 0.2),
      transparent
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(251, 0, 196, 0) 3.49%,
      rgba(119, 186, 234, 0) 7.6%,
      rgba(253, 0, 197, 0) 10.46%,
      rgba(119, 186, 234, 0) 14.46%,
      rgba(255, 0, 199, 0) 18.56%,
      rgba(3, 0, 3, 0) 19.53%,
      transparent 79.82%,
      rgba(246, 0, 192, 0) 81.08%,
      rgba(119, 186, 234, 0) 84.04%,
      rgba(247, 0, 193, 0) 86.61%,
      rgba(119, 186, 234, 0) 91.01%,
      rgba(249, 0, 194, 0) 95.16%,
      rgba(119, 186, 234, 0) 98.6%
    );
  width: 70.81rem;
  height: 18.81rem;
  overflow: hidden;
}


.frameChild3 {
  position: absolute;
  top: 2.78rem;
  left: calc(50% - 125.5px);
  box-shadow: 0 0 2px #88d6ff;
  border-top: 1px solid var(--color-lightcyan-300);
  box-sizing: border-box;
  width: 3.75rem;
  height: 0.06rem;
}

.header,
.instanceParent {
  position: absolute;
  top: 0;
  right: 0;
}

.instanceParent {
  width: 17.88rem;
  height: 4.44rem;
  overflow: hidden;
}

.v101202204202200UtcContainer {
  position: absolute;
  left: 0;
  line-height: 1.71rem;
  font-weight: 100;
  font-family: var(--font-roboto);
  color: var(--color1);
  display: inline-block;
  width: 13.03rem;
}

.indexlend {
  position: relative;
  background-color: var(--color-gray-600);
  width: 100%;
  height: 100vh;
  text-align: left;
  overflow: hidden;
  font-size: var(--tittle-16-m-size);
  color: var(--color-lightcyan-100);
  font-family: var(--tittle-16-m);
  overflow-y: auto;
}

.cylinder {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 50px;
  height: 170px;
  border-radius: 25px/12.5px;
  background-color: rgb(30, 214, 255, 0.4);
}

.cylinder:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 28px;
  border-radius: 25px/12.5px;
  background-color: rgb(30, 214, 255, 0.2);
  content: '';
}

.cylinder:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 28px;
  border-radius: 25px/12.5px;
  background-color: rgb(30, 214, 255, 0.4);
  content: '';
}

.water {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  padding-top: 25px;
  border-radius: 25px/12.5px;
  background-color: rgb(30, 214, 255, 0.5);
  transition: 0.3s linear;
}

.water:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 25px;
  border-radius: 25px/12.5px;
  background-color: rgb(30, 214, 255, 0.2);
  content: '';
}

.water:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 25px;
  border-radius: 25px/12.5px;
  background-color: rgb(30, 214, 255, 0.4);
  content: '';
}

.cylinderBorrow {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 50px;
  height: 170px;
  border-radius: 25px/12.5px;
  background-color: rgb(38, 138, 255, 0.4);
}

.cylinderBorrow:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 28px;
  border-radius: 25px/12.5px;
  background-color: rgb(38, 138, 255, 0.2);
  content: '';
}

.cylinderBorrow:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 28px;
  border-radius: 25px/12.5px;
  background-color: rgb(38, 138, 255, 0.4);
  content: '';
}

.waterBorrow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  padding-top: 25px;
  border-radius: 25px/12.5px;
  background-color: rgb(38, 138, 255, 0.5);
  transition: 0.3s linear;
}

.waterBorrow:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 25px;
  border-radius: 25px/12.5px;
  background-color: rgb(38, 138, 255, 0.2);
  content: '';
}

.waterBorrow:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 25px;
  border-radius: 25px/12.5px;
  background-color: rgb(38, 138, 255, 0.4);
  content: '';
}

.cylinderBorrowLimit {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 50px;
  height: 170px;
  border-radius: 25px/12.5px;
  background-color: rgb(251, 233, 71, 0.4);
}

.cylinderBorrowLimit:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 28px;
  border-radius: 25px/12.5px;
  background-color: rgb(251, 233, 71, 0.2);
  content: '';
}

.cylinderBorrowLimit:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 28px;
  border-radius: 25px/12.5px;
  background-color: rgb(251, 233, 71, 0.4);
  content: '';
}

.waterBorrowLimit {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  padding-top: 25px;
  border-radius: 25px/12.5px;
  background-color: rgb(251, 233, 71, 0.5);
  transition: 0.3s linear;
}

.waterBorrowLimit:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 25px;
  border-radius: 25px/12.5px;
  background-color: rgb(251, 233, 71, 0.2);
  content: '';
}

.waterBorrowLimit:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 25px;
  border-radius: 25px/12.5px;
  background-color: rgb(251, 233, 71, 0.4);
  content: '';
}

.gridRow {
  width: 54.06rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr 1.5fr 1fr 2fr;
  gap: 10px;
  padding-bottom: 2px;
  margin-bottom: 6px;
}

.gap {
  gap: 10px;
}

.buttonsTable {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}