.lamp {
  position: absolute;
  top: -32.25rem;
  left: calc(50% - 850px);
  pointer-events: none;
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(119, 186, 234, 0.2),
      transparent
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(251, 0, 196, 0) 3.49%,
      rgba(119, 186, 234, 0) 7.6%,
      rgba(253, 0, 197, 0) 10.46%,
      rgba(119, 186, 234, 0) 14.46%,
      rgba(255, 0, 199, 0) 18.56%,
      rgba(3, 0, 3, 0) 19.53%,
      transparent 79.82%,
      rgba(246, 0, 192, 0) 81.08%,
      rgba(119, 186, 234, 0) 84.04%,
      rgba(247, 0, 193, 0) 86.61%,
      rgba(119, 186, 234, 0) 91.01%,
      rgba(249, 0, 194, 0) 95.16%,
      rgba(119, 186, 234, 0) 98.6%
    );
  width: 105.06rem;
  height: 63.63rem;
  overflow: hidden;
}

.listOfAll {
  font-size: var(--font-size-17xl);
  line-height: 1.71rem;

  text-align: left;
  display: inline-block;
  width: 41.5rem;
  height: 2.19rem;
}

.serachinput {
  border: 0.5px solid var(--color-lightcyan-100);
  font-family: var(--tittle-16-m);
  font-size: 15px;
  background-color: transparent;
  border-radius: var(--br-6xl);
  box-sizing: border-box;
  width: 20.31rem;
  height: 2.31rem;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: center;
  justify-content: center;
  color: #d9f8ff;
}

.serachinput:hover,
.serachinput:focus {
  box-shadow: 0 0 4px 1px #d9f8ff;
}

.earnYieldOnContainer {
  font-size: var(--font-size-lg);
  color: var(--color-slategray-100);
  text-align: left;
  display: inline-block;
  width: 26.25rem;
  height: 1.75rem;
}

.all,
.orca {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.81rem;
}

.instanceItem,
.orca,
.raydium {
  height: 3rem;
}

.raydium {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.31rem;
}

.instanceItem {
  cursor: pointer;
  border: 1px solid var(--color-lightcyan-100);
  padding: 0;
  background-color: var(--color-lightcyan-200);
  left: 0;
  border-radius: var(--br-6xl);
  box-shadow: 0 0 5px #d9f8ff;
  box-sizing: border-box;
  width: 4.81rem;
}

.rectangleParent {
  display: flex;
  gap: 5px;
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-600);
  height: 3rem;
  padding: 0 10px;
  width: fit-content;
}

.poolHeader {
  align-items: flex-end;
}

.titleContainer {
  position: absolute;
  top: -35px;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.poolImageButton {
  display: flex;
  gap: 20px;
  height: 48px;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
}

.instanceInner,
.rectangleDiv {
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-600);
  width: 15.31rem;
  height: 3rem;
}

.rectangleDiv {
  background-color: var(--color-darkslategray-400);
  box-shadow: 0 0 5px #d9f8ff;
  border: 1px solid var(--color-lightcyan-100);
  box-sizing: border-box;
  width: 4.56rem;
}

.poolButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.06rem;
  height: 3rem;
}

.instanceChild1,
.instanceChild2 {
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-600);
  width: 8rem;
  height: 3rem;
}

.instanceChild2 {
  background-color: var(--color-darkslategray-400);
  box-shadow: 0 0 5px #d9f8ff;
  border: 1px solid var(--color-lightcyan-100);
  box-sizing: border-box;
  width: 3.88rem;
}

.instanceChild3,
.instanceChild4 {
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-600);
  width: 51.19rem;
  height: 3rem;
}

.instanceChild4 {
  background-color: var(--color-lightcyan-200);
  box-shadow: 0 0 5px #d9f8ff;
  border: 1px solid var(--color-lightcyan-100);
  box-sizing: border-box;
  width: 3.56rem;
}

.solana1Icon {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
}

.poolImageButtonText {
  color: #fff;

  text-align: center;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.ethereumEthLogo1Icon {
  position: relative;
  width: 1.88rem;
  height: 1.88rem;
  object-fit: cover;
}

.lidoForSolanaLogo2Icon {
  position: relative;
  width: 2.44rem;
  height: 2.44rem;
  object-fit: cover;
}

.marinadeLogoCopy1 {
  position: relative;
  width: 2.06rem;
  height: 2.06rem;
  object-fit: cover;
}

.lamp1 {
  position: absolute;
  overflow: hidden;
}

.poolOverwiew {
  margin-bottom: 15px;
  justify-content: flex-end;
  position: relative;
}

.gap {
  gap: 13px;
}

.lamp1 {
  top: -0.12rem;
  left: calc(50% - 623.5px);
  pointer-events: none;
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(119, 186, 234, 0.1),
      transparent
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(251, 0, 196, 0) 3.49%,
      rgba(119, 186, 234, 0) 7.6%,
      rgba(253, 0, 197, 0) 10.46%,
      rgba(119, 186, 234, 0) 14.46%,
      rgba(255, 0, 199, 0) 18.56%,
      rgba(3, 0, 3, 0) 19.53%,
      transparent 79.82%,
      rgba(246, 0, 192, 0) 81.08%,
      rgba(119, 186, 234, 0) 84.04%,
      rgba(247, 0, 193, 0) 86.61%,
      rgba(119, 186, 234, 0) 91.01%,
      rgba(249, 0, 194, 0) 95.16%,
      rgba(119, 186, 234, 0) 98.6%
    );
  width: 77.94rem;
  height: 41.88rem;
}


.fee,
.protocolTvl,
.volume,
.poolLiquidity,
.protocol {
  text-transform: capitalize;
}

.apr1 {
  text-transform: uppercase;
}

.solUsdc {
  font-size: var(--font-size-xl);
  color: var(--color-lightcyan-100);
}

.orca1 {
  font-size: var(--font-size-lg);
}

.frameChild {
  border-top: 1px solid var(--color-lightcyan-300);
  box-sizing: border-box;
  width: 78.69rem;
  height: 0.06rem;
}

.m3 {
  font-size: var(--font-size-lg);
  display: inline-block;
  width: 7rem;
}

.solana2Icon,
.usdCoinUsdcLogo1Icon1 {
  width: 1.88rem;
  height: 1.88rem;
  object-fit: cover;
}

.usdCoinUsdcLogo1Icon1 {
  left: 4.25rem;
}

.manage {
  position: relative;
  font-size: var(--font-size-mini);

  font-family: var(--tittle-16-m);
  color: var(--color-lightcyan-100);
  text-align: left;
}

.managePositionButton {
  cursor: pointer;
  border: 1px solid var(--color-lightcyan-700);
  padding: 0 var(--padding-4xs);
  background-color: var(--color-darkslategray-100);
  border-radius: var(--br-6xl);
  box-sizing: border-box;
  width: 5.06rem;
  height: 1.75rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.managePositionButton:hover {
  border: 1px solid var(--color-lightcyan-600);
  box-sizing: border-box;
  box-shadow: -1px -1px 4px 1px rgba(217, 248, 255, 0.5),
    1px 1px 4px 1px rgba(217, 248, 255, 0.5);
}

.managePositionButton:active {
  background-color: var(--color-lightcyan-500);
  border: 1px solid var(--color-slategray-400);
  box-sizing: border-box;
}

.usdcPerSol {
  display: inline-block;
  width: 18rem;
}

.circleXmarkRegular1Icon {
  position: relative;
  width: 1.56rem;
  height: 1.56rem;
  overflow: hidden;
  flex-shrink: 0;
}

.outOfRange {
  position: relative;
}

.circleXmarkRegular1Parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-firebrick-200);
}

.openPositions {
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-600);
  box-shadow: 0 0 4px #d9f8ff;
  width: 43.88rem;
  height: 2.38rem;
  overflow: hidden;
}

.circleCheckRegular1Parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-10xs);
  color: var(--color-mediumaquamarine);
}

.createPositionButton,
.openPositions1 {
  border-radius: var(--br-6xl);
  overflow: hidden;
}

.openPositions1 {
  top: 4.5rem;
  right: 0.63rem;
  background-color: var(--color-gray-600);
  box-shadow: 0 0 4px #d9f8ff;
  width: 43.88rem;
  height: 2.38rem;
}

.createPositionButton {
  cursor: pointer;
  border: 1px solid var(--color-lightcyan-700);
  padding: 0 var(--padding-xs);
  background-color: var(--color-darkslategray-100);
  top: 2.19rem;
  left: 19.06rem;
  box-sizing: border-box;
  width: 9.13rem;
  height: 1.88rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.createPositionButton:hover {
  border: 1px solid var(--color-lightcyan-600);
  box-sizing: border-box;
  box-shadow: -1px -1px 4px 1px rgba(217, 248, 255, 0.5),
    1px 1px 4px 1px rgba(217, 248, 255, 0.5);
}

.createPositionButton:active {
  background-color: var(--color-lightcyan-500);
  border: 1px solid var(--color-slategray-400);
  box-sizing: border-box;
}

.orcaaef56d302Icon {
  position: absolute;
  top: 0;
  left: 18.94rem;
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
}

.clmm1 {
  left: 12.06rem;
  font-size: var(--font-size-lg);

  display: inline-block;
  width: 5rem;
  height: 1.31rem;
}

.mParent {
  position: relative;
  width: 78.94rem;
  height: 7.5rem;
}

.raydiumRayCoin1Icon {
  width: 1.88rem;
  height: 1.88rem;
  object-fit: cover;
}

.createPositionButton1 {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-xs);
  background-color: var(--color-darkslategray-100);
  border-radius: var(--br-6xl);
  box-shadow: 0 0 5px #d9f8ff;
  width: 9.5rem;
  height: 1.88rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.createPositionButton1:hover {
  border: 1px solid var(--color-lightcyan-600);
  box-sizing: border-box;
  box-shadow: -1px -1px 4px 1px rgba(217, 248, 255, 0.5),
    1px 1px 4px 1px rgba(217, 248, 255, 0.5);
}

.createPositionButton1:active {
  background-color: var(--color-lightcyan-500);
  border: 1px solid var(--color-slategray-400);
  box-sizing: border-box;
}

.lpTokens,
.value,
.yourShare {
  display: inline-block;
  width: 12.56rem;
}

.createPositionButton2,
.openPositions2 {
  border-radius: var(--br-6xl);
  overflow: hidden;
}

.openPositions2 {
  background-color: var(--color-gray-600);
  box-shadow: 0 0 4px #d9f8ff;
  width: 48.63rem;
  height: 2.38rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}

.createPositionButton2 {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-xs);
  background-color: var(--color-darkslategray-100);
  top: 2.31rem;
  left: 19.44rem;
  box-shadow: 0 0 5px #d9f8ff;
  width: 9.13rem;
  height: 1.88rem;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.createPositionButton2:hover {
  border: 1px solid var(--color-lightcyan-600);
  box-sizing: border-box;
  box-shadow: -1px -1px 4px 1px rgba(217, 248, 255, 0.5),
    1px 1px 4px 1px rgba(217, 248, 255, 0.5);
}

.createPositionButton2:active {
  background-color: var(--color-lightcyan-500);
  border: 1px solid var(--color-slategray-400);
  box-sizing: border-box;
}

.tab {
  position: relative;
  width: 100%;
  border-bottom: 1px solid rgba(217, 248, 255, 0.70);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.8fr 0.8fr 2fr;
}

.mGroup {
  position: relative;
  width: 100%;
}

.frameParent {
  width: 100%;
  border-bottom: 1px solid rgba(217, 248, 255, 0.70);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 4.2fr;
  padding: 10px 0;
}

.gridRow {
  display: grid;
  grid-template-columns: 1fr 0.8fr 0.8fr 2fr;
}

.scrollFrame {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 41.06rem;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: var(--tittle-16-m-size);
  color: var(--color-slategray-100);
}

.listPanel,
.poolList {
  border-radius: var(--br-21xl);
  overflow: hidden;
}

.poolList {
  background-color: var(--color-gray-300);
  box-shadow: 0 0 5px 1px #d9f8ff;
  width: 100%;
  text-align: left;
  position: relative;
  padding: 18px 25px;
}

.listPanel {
  padding: 60px 30px 15px 25px;
  background-color: var(--color-gray-100);
  box-shadow: 0 0 4px #88d6ff;
  width: 95vw;
  position: relative;
}


.liquidityPanel {
  width: 87.5rem;
  height: 75rem;
  overflow: hidden;
}

.navActive {
  border: 1px solid var(--color-lightcyan-100);
  padding: 0;
  background-color: var(--color-lightcyan-200);
  border-radius: var(--br-6xl);
  box-shadow: 0 0 5px #d9f8ff;
  box-sizing: border-box;
  width: 5.44rem;
}

.liquidityPanelWrapper {
  width: 100vw;
  overflow-x: hidden;
  padding-top: 60px;
  padding-bottom: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lamp2 {
  position: absolute;
  top: -14.81rem;
  pointer-events: none;
  left: calc(50% - 550px);
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(119, 206, 234, 0.2),
      transparent
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(251, 0, 196, 0) 3.49%,
      rgba(119, 186, 234, 0) 7.6%,
      rgba(253, 0, 197, 0) 10.46%,
      rgba(119, 186, 234, 0) 14.46%,
      rgba(255, 0, 199, 0) 18.56%,
      rgba(3, 0, 3, 0) 19.53%,
      transparent 79.82%,
      rgba(246, 0, 192, 0) 81.08%,
      rgba(119, 186, 234, 0) 84.04%,
      rgba(247, 0, 193, 0) 86.61%,
      rgba(119, 186, 234, 0) 91.01%,
      rgba(249, 0, 194, 0) 95.16%,
      rgba(119, 186, 234, 0) 98.6%
    );
  width: 70.81rem;
  height: 18.81rem;
  overflow: hidden;
}

.frameInner {
  position: absolute;
  top: 2.78rem;
  left: calc(50% - 25.5px);
  box-shadow: 0 0 2px #88d6ff;
  border-top: 1px solid var(--color-lightcyan-300);
  box-sizing: border-box;
  width: 5.75rem;
  height: 0.06rem;
}

.instanceParent {
  width: 17.88rem;
  height: 4.44rem;
  overflow: hidden;
}

.indexliquidity {
  position: relative;
  background-color: var(--color-gray-600);
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-lightcyan-100);
  font-family: var(--tittle-16-m);
}
