.rectangleParent1 {
  width: fit-content;
  height: 3.44rem;
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-600);
  z-index: 2;
  display: flex;
  gap: 10px;
  margin: 15px 0;
}

.navActive {
  border: 1px solid var(--color-lightcyan-100);
  padding: 0;
  background-color: var(--color-lightcyan-200);
  border-radius: var(--br-6xl);
  box-shadow: 0 0 5px #d9f8ff;
  box-sizing: border-box;
  width: 5.44rem;
}

.myPositions,
.pools {
  height: 3.44rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  padding: 0 10px;
}
.pools {
  text-decoration: none;
  left: 0;
  color: inherit;
  
}

.pools:not(.navActive) {
    cursor: pointer;
}
.myPositions:not(.navActive) {
    cursor: pointer;
}
